<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @invitee.handle %> has accepted your RecipePower invitation.</h3>
    <p>
		<%= @invitee.handle %> signed up, and by default you will follow 
		each other as friends.
    </p>
    <p>
      To change this, or make other changes to your profile, go to: <%= @url %>.
    </p>
    <p>Thanks for passing the word, and make a great day.</p>
    <p><br> Best Regards,</p>
    <p>Steve & Max, aka The RecipePower Boys.</p>
  </body>
</html>
