<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @invitee.handle %> has accepted your RecipePower invitation.</h3>
    <p>
		Since you issued the invitation, by default you will follow 
		each other as friends.
    </p>
    <p>
      To change this, or make other changes to your profile, go to the <%= link_to("RecipePower Profile Page", @profile_url) %>.
    </p>
    <p>Thanks for passing the word, and make a great day.</p>
    <p><br>Best Regards,</p>
    <p>Steve & Max, aka The RecipePower Boys.</p>
  </body>
</html>
