<!--# TODO: delete as obsolete-->
<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  <%= stylesheet_link_tag "sharemail", :media => "all" %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
</head>
<body>
<%= render 'editions/message_box' %>
</body>
</html>
