    <p>
      <%= @list.notes %>
    </p>

    <% if (@list.owner == current_user) || response_service.admin_view? do %>
        <%= button_to_submit 'Edit', edit_list_path(@list), mode: :modal %>
    <% end %>
    <%= button_to_submit 'Back to Lists', lists_path %>

