    <p>
      <%= @list.notes %>
    </p>

    <% permitted_to?(:edit, :lists) do %>
        <%= button_to_submit 'Edit', edit_list_path(@list), mode: :modal %>
    <% end %>
    <%= button_to_submit 'Back to Lists', lists_path %>

