<%= tag_filter_header title: "Goody Bags" %>
<p>You can browse for lists using the search box above.</p>
<p>You can create a new list by clicking <%= button_link "Here", new_list_path, :dialog %>.</p>
<%= render "shared/stream_results_placeholder" %>


