<%= tag_filter_header title: "Lists" %>
<p>You can search for lists using the search box above or browse below.</p>
<p>You can create a new list by clicking <%= button_to_submit "Here", new_list_path, :dialog, :mode => :modal %>.</p>
<%= render "shared/stream_results_placeholder" %>


