<h3><a href='<%= item.url %>'><%= item.name %></a></h3>
  <p>
    <%= item.published_at ? %Q{<p>Published on: #{item.published_at.strftime("%B %d, %Y")}</p>}.html_safe : "" %>
  </p>
  <p>
    <%= item.summary.html_safe %>
  </p>
<hr>
