<% prompt = "needs you to sign in to collect this cookmark. Not a member? " %>
<% prompt << link_to_submit("Sign up!", new_registration_path(response_service.user), mode: :injector) %>
<%= injector_dialog :sign_in, prompt.html_safe, :noflash => true, dismiss_button: false do %>
    <%= render 'authentications/possible_old', prompt: "You can sign in with one of these fine services:" %>
    <div class="or"><h4>OR</h4></div>
    <%= render "sessions/form" %>
<% end %>
