<% if params[:access] == "collected" %>
    <p>These are all the feeds you're subscribed to. To find more, click
      <%= link_to_submit "Here", feeds_path(access: :all), :button_size => "xs" %>
    </p>
<% else %>
    <p>This is a long list. You can narrow it down by using the search box above to type in words and terms
    </p>
<% end %>
<p>If you have copied a link to a feed, add it by clicking
  <%= link_to_submit "Here", new_feed_path, :button_size => "xs", mode: :modal %>.
  Or, browse for feeds below.</p>
