<%# Form for taking a feed locator and using it to create a feed %>
<%= simple_form_for @feed, url: create_feed_path, html: { class: 'new_feed json', 'data-type' => :json } do |f| %>
    <div class="modal-body">
      <%= form_errors_helper f %>
      <%= f.input :url,
                  required: false,
                  label: t('forms.feeds.new.labels.url'),
                  placeholder: 'http://blogs.somedomain.com/rss.xml',
                  input_html: { label: 'Huh', class: 'autofocus', cols: 125, rows: 2, 'data-type' => 'json', autofocus: true } %>
    </div>
      <%= form_actions f, submit_label: t('forms.feeds.new.labels.submit'), cancel_path: feeds_path %>
<% end %>
