<%= modal_dialog :show_feed, "Feed #{@feed.title}" do %>
    <%= render "collectible/show_card", presenter: presenter %>
    <% permitted_to?(:approve, :feeds) do %>
        <p>
          Feed <%= feed_approval @feed %>
        </p>
    <% end %>
<% end %>
