<h3>Available Feeds</h3>
If you have copied a link to a feed, add it by clicking <%= link_to_modal "Here", "/feeds/new", class: "btn" %>. Or, browse for feeds below.
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th class="span2">Title/Description/URL</th>
      <th>Type</th>      
      <th>Host Site</th>      
      <% permitted_to?(:approve, :feeds) do %>
        <th>Approved</th>
      <% end %>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody class="collection_list">
		<%= render "relist" %>
  </tbody>
</table>

