<%= tag_filter_header title: "Available Feeds" %>
<p>This is a long list. You can narrow it down by searching: use the search box above to type in words and terms
</p><p>If you have copied a link to a feed, add it by clicking <%= button_to_submit "Here", new_feed_path, mode: :modal %>. Or, browse for feeds below.</p>
<%= render "shared/stream_results_placeholder" %>
