.bundle
.env
.idea/
db/*.sqlite3
log/*.log
shared/*/*
tmp/
.sass-cache/
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
eventmachine/
/public/assets
/backups
/app/views/pages/home_6.html.erb

/db_timings
/config/database.yml

/log/trimmed_pl
/log/heroku
/log/logout

/shared
trial/
vendor/bundle

config/ssl/local.recipepower.com.cer
config/ssl/local.recipepower.com.key
config/ssl/req.conf
.yardoc/
docs/
app/views/pages/test.html
