.bundle
.env
.idea/
db/*.sqlite3
log/*.log
shared/*/*
tmp/
.sass-cache/
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
eventmachine/
/public/assets
/backups
/app/views/pages/home_5.html.erb

/db_timings
/config/database.yml

/log/trimmed_pl
/log/heroku
/log/logout

/shared
localhost.crt
localhost.key
myCA.key
myCA.pem
trial/
vendor/bundle
local.recipepower.com.crt
local.recipepower.com.csr
local.recipepower.com.ext
local.recipepower.com.key
myCA.srl
server.crt
server.csr
server.key

