<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.jonathanstark.jqm-test" versionCode="1" version="0.0.1">
<name>RecipePower Mobile App</name>
<description>Chase down recipes from your phone.</description>
<author href="http://www.recipepower.com" email="steve@upstill.net">Steve Upstill</author>
<preference name="permissions" value="none"/>
</widget>