<% if @visitor.errors.any? %>
    <div id="error_explanation">
      <% if @visitor.question.nil? || @visitor.question.empty? %>
	<h3>Sorry, we can't understand your email address</h3>
      <% else %>
	<h3>D'OH! To answer your question, we need your email address.</h3>
      <% end %>
    </div>
<% else %>
  <h1>Any Questions? Care to Hear More?</h1>
  <p>Oops, sorry, we almost forgot. Maybe you'd like to be among the first to try RecipePower as it develops? If so, or if you have a question, fill in the blanks and we'll get back to you. Otherwise, just proceed to the survey. Thanks again!
<% end %>
