
div.card-item {
  font-size: 20px;
  &.user-card {
    background-color: #EDDAD7;
  }
  p.card-aspect-label {
    margin-bottom: 0;
    color: white;
    &.header {
      font-size: 36px;
    }
  }
  p.card-aspect-contents {
    margin-top: 0;
    color: #616163;
  }
}
