div.dialog.edit_referent form.edit_referent {
  div#expressions_field {
    margin-left: 30px;
    table#expressions_table {
      margin-top: 10px;
      font-size: 16px;
      th {
        height: 30px;
        padding: 10px;
        font-size: 24px;
      }
      td select {
        margin: 5px;
        font-size: 18px;
        background-color: inherit;
        color: inherit;
      }
    }
    ul.token-input-list-facebook {
      display: inline-block;
      position: relative;
      top: 11px;
    }
    a.add_fields {
      display: none;
    }
  }
}