div.dialog.edit_referent form.edit_referent {
  div.pane.edit_family {
    div.token_input_field {
      margin-top: 20px;
    }
  }
  div.pane.edit_expressions {
    a.add_fields {
      display: none;
    }
  }
  div.table-field {
    margin-left: 30px;
    table {
      margin-top: 10px;
      margin-bottom: 20px;
      tbody span.title {
        font-size: 21px;
      }
      tbody span.url {
        font-size: 14px;
      }
      th {
        height: 30px;
        padding: 10px;
        font-size: 24px;
      }
      td select {
        margin: 5px;
        font-size: 18px;
        background-color: inherit;
        color: inherit;
      }
    }
    ul.token-input-list-facebook {
      display: inline-block;
      position: relative;
      top: 11px;
    }
  }
}
