@mixin list-item-backgrounds {
  background-color: $green-field-background-color;
  color: $lists-navtab-color;
  &.owned {
    background-color: $lists-navtab-background-color;
    color: $lists-navtab-color;
  }
  &.contributed {
    background-color: $recipes-navtab-background-color;
    color: $recipes-navtab-color;
  }
  &.friends {
    background-color: $friends-navtab-background-color;
    color: $friends-navtab-color;
  }
  &.public {
    background-color: $green-field-background-color;
    color: $green-color;
  }
}

div.lists-collectible {
    div.control-group {
      ul.token-input-list {
        width: 100%;
      }
      li.token-input-token {
        p {
          width: 96%;
        }
        @include list-item-backgrounds;
      }
      li.token-input-input-token input {
        margin-left: 0;
      }
    }
    div.selection-list {
      outline: 1px solid black;
      overflow-y: scroll;
      height: 6em;
      margin: 5px 20px;
      padding: 2px;
      a.selection-item {
        margin: 3px 8px 3px 4px;
        padding-left: 5px;
        font-size: 0.6em;
        display: block;
        @include list-item-backgrounds;
      }
    }
  }
