.need_to_know {
	// width: 770px;
	// height: auto; // 600px;
	.modal-dialog {
		width: 100%;
	}
	.modal-body {
		// font:14pt calibri;
		line-height:130%;
		height: 600px;
		padding-top: 0px;
		// color:#FFFFFF;
		overflow: auto;
		background:#F8F8F8; // #880000;
		// filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000',endColorstr='#6c0000');
		// background:-webkit-gradient(linear,left top,left bottom,from(#880000),to(#6c0000));
		// background:-moz-linear-gradient(top,#880000,#6c0000);
		.spiel {
			margin: 20px;
			margin-bottom: 0px;
		}
	}
	.know_snap {
		width: 650px;
		margin-top: 40px;
		margin-left: 100px;
		position: absolute;
	}
	.info-block {
		display: inline-block;
		padding: 0px 10px 0px;
		margin: 5px;
		width: 200px;
		// border:solid 2px #5882D3;
		&.know_browser {
			width: 215px;
			margin-left: 12px;
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
		&.know_seek {
			width: 215px;
		}
	}
}
