// Formerly newRecipe
div.new_recipe.dialog {
	width: 650px;
	height: auto;
	.prompt {
		font:18px arial,sans-serif;
		font-weight:bold;
	}
	.modal-body h3 {
		margin-top: 0px;
		padding: 0px;
	}
	form {
		width: 90%;
		margin: 10px;
		padding: 15px;
		border: 3px solid #CCD3CC;
		background: #DDE3DD;
		overflow: auto;
		div.recipe_url_div {
			margin-top:15px;
			margin-bottom:15px;
			width:95%;
			// outline:#999 solid 1px
			label {
				width: 100%;
			}
			input {
				width: 100%;
			}
		}
	}
}
