div.notifs {
  width: auto;
  max-width: 380px;
  &.collapsed {
    max-width: 330px;
  }
  &.wide {
    max-width: 550px;
  }
  height: auto;
  z-index: $dialog-depth;
  position: relative;
  // float: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  span.break {
    display: none;
  }
  &.collapsed {
    position: fixed;
    right: 4px;
    top: 4px;
    span.separator {
      @include respond-to(medium-down) {
        display: none;
      }
      @include respond-to(largish-up) {
        display: inline;
      }
    }
    span.break {
      @include respond-to(medium-down) {
        display: inline;
      }
      @include respond-to(largish-up) {
        display: none;
      }
    }
    div.modal-header {
      @include respond-to(phone) {
        padding: 3px;
        font-size: 0.4em;
        line-height: 2em;
        max-width: 60px;
      }
      @include respond-to(small) {
        padding: 4px;
        font-size: 0.6em;
        line-height: 2em;
        max-width: 90px;
      }
      @include respond-to(medium) {
        padding: 6px;
        font-size: 0.6em;
        line-height: 2em;
      }
      @include respond-to(largish) {
        padding: 8px;
        font-size: 0.8em;
        line-height: 2em;
      }
      @include respond-to(large-up) {
        padding: 8px 11px;
        font-size: 1em;
        line-height: 2em;
      }
    }
  }
  div.notification {
    width: 100%;
    position: relative;
    color: #9AB3A0;
    a.entity {
      color: #ECE6CD;
    }
    div.notification-cancel {
      position: absolute;
      right: -8px;
      top: -12px;
    }
    div.notification-act-button {
      width: 100%;
      height: 32px;
      a, input {
        position: absolute;
        right: 0px;
        bottom: 0px;
        padding: 2px 8px;
        color: white;
      }
    }
  }
  div.modal-header {
    text-align: center;
    border: none;
    div.header-links {
      span {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 2em;
      }
      &.signup,&.signin {
        a {
          text-decoration: underline;
          position: absolute;
          right: 2em;
          top: 1.3em;
          &.rollup {
            text-decoration: none;
            position: absolute;
            top: 7px;
            right: 7px;
            font-size: 1.2em;
            color: $green-link-color;
          }
          &:hover {
            color: $green-color;
          }
        }
      }
      &.waiting {
        a {
          color: $green-color;
          font-size: 1.2em;
          &.main {
            font-size: 2em;
          }
        }
      }
    }
    a.rollup {
      display: none;
    }
  }
  div.selectable {
    display: none;
  }
  div.modal-content {
    @include dialog-color-scheme(green);
    div.flash_notifications {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
.placeholder {
  // Labels on form items are hidden if placeholders are available
  div.form-group label.placetaker {
    display: none;
  }
}
