div.notifs {
  width: 19em;
  height: auto;
  z-index: $logo-depth;
  position: fixed;
  right: 2em;
  top: 1em;
  div.notification {
    width: 100%;
    position: relative;
    div.notification-cancel {
      position: absolute;
      right: -8px;
      top: -12px;
    }
    div.notification-act-button {
      position: absolute;
      right: 0px;
      bottom: 0px;
    }
  }
  div.modal-header {
    padding: 12px;
    text-align: center;
    border: none;
    color: #ECE6CD;
    a.signup {
      font-size: 2em;
      color: #ECE6CD;
    }
    a.signin {
      font-size: 1.2em;
      color: #ECE6CD
    }
    a.rollup {
      display: none;
      float: right;
      font-size: 1.2em;
      color: #ECE6CD;
    }
  }
  div.selectable {
    display: none;
  }
  div.modal-content {
    @include div-green;
    div.flash_notifications {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
}
