.password_reset.dialog {
	&.at_top {
		font:16px arial,sans-serif;
		font-weight:bold;
		width:100px;
		height:auto;
		form {
			margin: 10px;
			display: inline-block;
			width: auto;
			vertical-align: top;
		}
	}
	.prompt {
		margin:5px 0px;
		// font:20px arial,sans-serif;
		// font-weight:bold
	}
}
