div.pic_picker {
	display:inline-block;
	width:700px;
	margin:5px;
	padding:5px;
	border:#000000 2px solid;
	.preview {
		width:200px;
		height:150px;
		float: left;
		margin-bottom: 10px;
		border:#909090 2px solid;
	}
	.prompt {
		display: block;
		float: left;
		width: 280px;
		margin:30px;
		font:20px arial,sans-serif;
		font-weight:bold
	}
	.picCell {
		width:96px;
		height:72px;
		margin:5px;
		text-align:center
	}
}
