div.pic_picker {
	display:inline-block;
	width:750px;
	margin:5px;
	padding:5px;
	border:#000000 2px solid;
	.preview {
		width:200px;
		height:150px;
		float: left;
		margin-bottom: 10px;
		border:#909090 2px solid;
	}
	.prompt {
		display: block;
		float: left;
		width: 400px;
		margin:20px;
		font:18px arial,sans-serif;
		font-weight:bold;
	}
	input {
		width: 580px;
	}
	.picCell {
		width:96px;
		height:72px;
		margin:5px;
		text-align:center
	}
}
