div.pic_picker {
	.preview {
		margin-bottom: 10px;
		// outline:#909090 2px solid;
		text-align: center;
	}
    .image_preview_button {
      margin: 20px;
      float: right;
    }
    .pic_picker_okay {
      float: right;
      margin-left: 10px;
    }
	.prompt {
		font:18px arial,sans-serif;
		font-weight:bold;
	}
	.picCell {
		width:96px;
		height:72px;
		margin:10px;
		text-align:center
	}
}
