// Place all the styles related to the RecipeContents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content-item {
  a.action-button {
    float: right;
    margin-left: 10px;
    font-size: 2em;
    color: #81ae8b;
    &.annotate-content {
      color:  darkgray;
      font-size: 1.2em;
    }
  }
}
div.dialog.recipe-contents.new-style.green {
  z-index: 1500;
  div.modal-dialog div.modal-content {
    div.modal-header {
      padding: 0;
      button.dialog-x-box {
        // top: 0;
      }
    }

    div.modal-body {
      padding-top: 20px;

      div.add-fields {
        position: relative;
        top: 30px;
        left: 30px;
        // padding: 10px 30px 0px 30px;
      }

      td {
        // padding: 0.2em;
        vertical-align: top;
        &.bottom {
          padding-left: 15px
        }
      }

      div.row input.tag-button {
        float: left;

        &.tag-button-top {
          font-size: 0.9em;
        }

        &.tag-button-mdl {
          font-size: 0.7em;
          padding-right:20px;
          padding-left:20px;
        }

        &.tag-button-btm {
          font-size: 0.6em;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0;
          float: none;
        }
      }
    }
    div.modal-footer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0.5em;
    }
  }
  
}
