// Place all the styles related to the RecipeContents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.content-item {
  a.annotate-content {
    float: right;
    margin-left: 10px;
    color:  darkgray;
    font-size: 1.2em;
  }
  a.open-recipe-page {
    float: right;
    margin-left: 10px;
    font-size: 2em;
    color: #81ae8b;
  }
  a.refresh-content {
    float: right;
    margin-left: 10px;
    font-size: 2em;
    color: #81ae8b;
  }
}
div.dialog.recipe-contents.new-style.green {
  z-index: 1500;
  div.modal-dialog div.modal-content {
    div.modal-header {
      padding: 0;
      button.dialog-x-box {
        // top: 0;
      }
    }

    div.modal-body {
      padding-top: 20px;
      div.add-fields {
        position: relative;
        top: 30px;
        left: 30px;
        // padding: 10px 30px 0px 30px;
      }
      div.row input.tag-button {
        float: left;
        &.tag-button-top {
          font-size: 1.0em;
        }
        &.tag-button-mdl {
          font-size: 0.8em;
        }
        &.tag-button-btm {
          font-size: 0.65em;
        }
      }
    }
    div.modal-footer {
      padding: 0;
    }
  }
  
}
