// Stylings for recipe content panel, starting with ingredient list

li.rp_ingline {
  font-size: 1.2em;
  span.rp_amt {
    // Amount
    color: #5aab7a;
  }
  span.rp_presteps {
    // Presteps in grey italic
    color: #8c8c8c;
    font-style: italic;
  }
  span.rp_ingname {
    // Ingredients in bold, slightly larger
    color: #1c94c4;
    font-weight: 500;
    font-size: 1.3em;
  }
}