// Stylings for recipe content panel, starting with ingredient list
.rp_total_time, .rp_prep_time, .rp_cook_time, .rp_yield, .rp_serves {
  font-size: 1.2em;
  color: #5aab7a;
  .rp_time {
    color: #1c94c4;
  }
  .rp_num {
    color: #5aab7a;
  }
}

li.rp_ingline {
  font-size: 1.2em;
  span.rp_amt {
    // Amount
    color: #5aab7a;
  }
  span.rp_presteps {
    // Presteps in grey italic
    color: #8c8c8c;
    font-style: italic;
  }
  span.rp_condition {
    // Presteps in grey italic
    color: #8c8c8c;
    font-style: italic;
  }
  span.rp_ingname {
    // Ingredients in bold, slightly larger
    color: #1c94c4;
    font-weight: 500;
    font-size: 1.3em;
  }
}
