div.collection-header {
  div.collection_nav {
    padding: 0.5em;
    margin: 0.8em;
    &.cookmarks {
      background: $recipes-panel-background-color;
      div.navlink a {
        color: $recipes-navtab-color;
      }
    }
    &.friends {
      background: #e9e3c9; // $friends-panel-background-color;
      div.navlink a {
        color: #dfc96a; // $friends-navtab-color; // #dfca6a;
      }
    }
    &.lists {
      background: #D0DbD2; // $lists-panel-background-color;
      div.navlink a {
        color: #1d6a2b; // $lists-navtab-color;
      }
    }
    &.feeds {
      background: $feeds-panel-background-color;
      div.navlink a {
        color: $feeds-navtab-color;
      }
    }
    div.navlink {
      color: #979693;
      fill: #979693;
      font-family: $oswald-light;
      font-size: 1.5em;
      font-weight: 700;
    }
    div.or-see {

    }
    div.search {

    }
    div.filters {
      margin-top: 5px;
    }
  }
  div.user-nav {
    min-height: 8em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    background: $friends-card-background-color;
    &.viewer-card {
      background-color: $viewer-card-background-color;
    }
    &.friend-card {
      background-color: $friends-card-background-color;
    }
    div.pic-box {
      padding: 10px 0px;
      img {
        width: 100%;
      }
    }
    div.nav-top {
      margin-top: 0.1em;
      margin-bottom: 0.5em;
      margin-left: 0.3em;
      font-size: 2em;
      color: $friends-navtab-color; // #dfca6a;
      // border: 1px solid red;
      span.follower-count {
        font-size: 0.9em;
      }
    }
    div.nav-bottom {
      //  style="position: absolute; bottom: 0px;"
      //position: relative;
      //bottom: 0px;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-size: 1.1em;
      // margin-left: auto;
      // margin-right: 1.5em;
      width: 16.5em;
      height: 4em;
      .result-link {
        &.collection {
          color: #d0d0d0;
        }
        &.cookmarks {
          color: $recipes-navtab-color;
        }
        &.lists {
          color: $lists-navtab-color;
        }
        &.friends {
          color: $friends-navtab-color; // #dfca6a;
        }
        &.feeds {
          color: $feeds-navtab-color;
        }
      }
      div.ul {
        position: absolute;
        right: 45%;
        bottom: 50%;
        padding-right: 0.3em;
        padding-bottom: 0.2em;
        // margin-top: -0.5em;
        // margin-left: -0.5em;
        // border-right: 1px solid black;
        // border-bottom: 1px solid black;
      }
      div.bl {
        position: absolute;
        right: 45%;
        top: 50%;
        padding-right: 0.3em;
        padding-top: 0.2em;
        // margin-bottom: -0.5em;
        // border-right: 1px solid black;
      }
      div.ur {
        position: absolute;
        left: 55%;
        bottom: 50%;
        padding-left: 0.3em;
        padding-bottom: 0.2em;
        // margin-right: -0.5em;
        // border-bottom: 1px solid black;
      }
      div.br {
        position: absolute;
        left: 55%;
        top: 50%;
        padding-left: 0.3em;
        padding-top: 0.2em;
      }
      div.half-width {
        position: absolute;
        top: 20%;
        bottom: 20%;
        width: 55%;
        border-right: 2px solid white;
      }
      div.half-height {
        position: absolute;
        left: 5%;
        right: 5%;
        top: 0;
        height: 50%;
        border-bottom: 2px solid white;
      }
    }
    td.lower-content {
      padding-bottom: 0;
    }
  }
}
