
.sign_in.dialog {
	&.at_top {
		font:12px arial,sans-serif;
		font-weight:bold;
		width:1000px;
		height:auto;
		.auth_poss {
			display: inline-block;
			font:16px arial,sans-serif;
			width:auto;
			margin:0.5em .1em ;			
			border-right:1px solid black;
			.auth_provider {
				display: inline-block;
				text-decoration:none;
				text-align:center;
				margin-bottom:10px;
				width:55px;
				height:auto;
				margin:0;
				font-size:12px;
				img {
					width:48px;
					height:48px;
					margin-left:auto;
					margin-right:auto;
					display:block
				}
			}
		}
		.signin {
			margin:0px 5px;
			padding:7px;
			display: inline-block;
			font:16px arial,sans-serif;
			width:auto;
			border-left:1px solid black;
			vertical-align: top;
			.signin_credentials {
				width: 210px;
				display: inline-block;
				vertical-align: top;
				// margin:0.5em;
				.signin_element {
					width: 95%;
				}
			}
			.signin_go {
				width: 120px;
				margin: 10px;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	&.floating {
		width:600px;
		margin-top:2em;
		float:left
	}
	div.signin_hdr {
		height:24px;
		width:auto;
		margin:0.5em;
		padding:0
	}
	.sign {
		width:620px;
		margin:5px 20px;
		float:left;
		&.floating {
			width:550px;
			float:left
		}
	}
	.signup {
		width:200px;
		border-left:solid 1px #999;
		margin:0px;
		padding-left:20px;
		float:left
	}
	.prompt {
		margin:15px 0px;
		font:20px arial,sans-serif;
		font-weight:bold
	}
	.or {
		font:24px arial,sans-serif;
		margin-top:100px;
		margin-right:10px;
		float:left
	}
	div.signin_or {
		display: inline-block;
		padding-top:1.5em;
		font-size:14px;
		height:40px;
		// border-right:1px solid black;
		// border-left:1px solid black
	}
}

.signin {
	width:250px;
	// border-right:solid 1px #999;
	margin-right:10px;
	padding-right:10px;
	display: inline-block;
}

.auth_signin {
	width:520px;
	margin-left:20px;
	float:left;
	&.floating {
		margin:0px 20px;
		float:left
	}
	&.at_top {
		width:400px;
		border:solid 1px #090;
		margin:0.3em;
		float:left
	}
}

.auth_provider {
	float:left;
	text-decoration:none;
	margin-right:20px;
	text-align:center;
	margin-bottom:10px;
	&.small {
		float:left;
		width:auto;
		height:50px;
		text-decoration:none;
		text-align:center;
		margin:0;
		padding:0;
		padding-right:0.5em;
		font-size:9px;
		img {
			width:40px;
			height:40px
		}
	}
	img {
		display:block
	}
}
