
div.auth_poss {
	overflow: auto;
	margin-bottom: 10px;
}

.sign_in.dialog {
	// top: 100px;
	.prompt {
		margin:5px 0px 10px 0px;
		font:20px arial,sans-serif;
		font-weight:bold;
	}
	.sign {
		width:620px;
		margin:5px 20px;
		float:left;
		// &.floating {
			// width:600px;
			// margin:0px 20px;
			// padding-top: 10px;
			// border-top: 1px solid #DDDDDD;
			// float:left
		// }
	}
	.signup {
		width:250px;
		// border-left:solid 1px #999;
		margin:0px;
		padding-left:20px;
		display: inline-block;
	}
	.or {
		width: 50px;
		height: 230px;
		border-right: solid 1px #DDDDDD;
		border-left: solid 1px #DDDDDD;
		// font:24px arial,sans-serif;
		// margin-top:100px;
		padding-top: 100px;
		margin:10px 0px 10px 0px;
		padding: 100px 0px 0px 10px;
		display: inline-block;
		vertical-align: top;
	}
	// &.floating {
		// // width:620px;
		// // height: auto;
		// // margin-top:2em;
		// // float:left;
		// // top: 50px;
		// .signup {
			// width:235px;
			// margin-top:10px;
		// }
		// .new_user {
			// margin-top:10px;
		// }
		// .signin {
			// width:250px;
			// // border-right:solid 1px #999;
			// padding-right: 0px;
			// margin-right: 0px;
			// margin-top: 10px;
			// padding-right:10px;
			// display: inline-block;
			// vertical-align: top;
			// .field {
				// margin-top: 5px;
			// }
		// }
	// }
	div.signin_or {
		display: inline-block;
		padding-top:1.5em;
		font-size:14px;
		height:40px;
		// border-right:1px solid black;
		// border-left:1px solid black
	}
}

div.sign_in .signin {
	width:250px;
	// border-right:solid 1px #999;
	margin-right:10px;
	padding-right:10px;
	display: inline-block;
	vertical-align: top;
}

.auth_signin {
	width:520px;
	margin-left:20px;
	float:left;
	// &.floating {
		// margin:10px 20px 0px;
		// float:left
	// }
}

.auth_provider {
	float:left;
	text-decoration:none;
	margin-right:5px;
	text-align:center;
	margin-bottom:10px;
	&.small {
		float:left;
		width:auto;
		height:50px;
		text-decoration:none;
		text-align:center;
		margin:0;
		padding:0;
		padding-right:0.5em;
		font-size:9px;
		img {
			width:40px;
			height:40px
		}
	}
	img {
		display:block
	}
}
