table.results {
  font-size: 1em;
  thead {
    font-size: 1.1em;
  }
  tbody {
    font-size: 0.9em;
    tr {
      td {
        hr {
          margin: 0;
          margin-bottom: 3px;
        }
        &.avatar-column {
          width: 100px;
        }
        &.description-column {
          // width: 300px;
        }
        &.actions-column {
          width: 100px;
          div.tool-menu {
            display: inline-block;
            ul > li > a {
              padding: 0;
              padding-right: 0.3em;
            }
          }
        }
      }
      }
    }
}
