table {
  font-size: 1em;
  thead {
    font-size: 1.3em;
  }
  tbody {
    font-size: 1.2em;
    tr {
      td {
        hr {
          margin: 0;
          margin-bottom: 3px;
        }
        &.avatar-column {
          width: 200px;
          div.pic-box {
            width: 200px;
          }
        }
        &.description-column {
          // width: 300px;
          span.homelink-item {
            font-size: 1.3em;
          }
        }
        &.actions-column {
          width: 50px;
          .nav > li > a {
            padding: 0px;
          }
          div.tool-menu {
            display: inline-block;
          }
        }
      }
      }
    }
}
