div#profile {
	padding: 10px;
	td.user_left {
		text-align: right;
		font:16px arial,sans-serif;
		font-weight:bold;
		padding: 5px;
		vertical-align: top;
	}
	td.user_right {
		font:16px arial,sans-serif;
		padding: 5px;
	}
}
