// Styles for the welcome page
div.bookmarklet_icon {
	position:absolute;
	left:120px;
	top:140px;
	width:139px;
	height:117px;
	border:2px solid blue;
	z-index:1000
}
div.welcome_sidebar {
	font:20pt calibri;
	line-height:130%;
	color:#FFFFFF;
	float:right;
	width:200px;
	background:#880000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000',endColorstr='#6c0000');
	background:-webkit-gradient(linear,left top,left bottom,from(#880000),to(#6c0000));
	background:-moz-linear-gradient(top,#880000,#6c0000);
	border:3px solid #B31107;
	border-radius:10px;
	margin:25px;
	padding:20px;
	padding-top:10px
}
span.small {
	font-size:80%
}
span.large {
	font-size:150%
}
.bookmarklet {
	height:59px;
	width:70px;
	margin:0;
	line-height:59px;
	highlight-color:#FFFFFF;
	display:block
}
div.bookmarklet {
	margin:0px 65px 0px 65px
}
div.instructions_step {
	height:200px;
	margin: 5px
}