// Styles for the welcome page
div.bookmarklet_icon {
	position:absolute;
	left:120px;
	top:140px;
	width:139px;
	height:117px;
	border:2px solid blue;
	z-index:1000
}
div.welcome_sidebar {
	font:14pt calibri;
	line-height:130%;
	color:#FFFFFF;
	float:right;
	width:250px;
	background:#880000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000',endColorstr='#6c0000');
	background:-webkit-gradient(linear,left top,left bottom,from(#880000),to(#6c0000));
	background:-moz-linear-gradient(top,#880000,#6c0000);
	border:3px solid #B31107;
	border-radius:10px;
	margin:25px;
	padding:20px;
	padding-top:10px
}
span.small {
	font-size:80%
}
span.large {
	font-size:150%
}
.bookmarklet {
	height:59px;
	width:70px;
	margin:0;
	line-height:59px;
	highlight-color:#FFFFFF;
	display:block
}
div.bookmarklet {
	margin:0px 65px 0px 65px
}

div.instructions_step {
	float: left;
	height:170px;
	width: 170px;
	margin: 5px
}

div.welcome_dialog {
	font:14pt calibri;
	line-height:130%;
	color:#FFFFFF;
	// width:100%;
	// margin: 0px;
	// height: auto;
	overflow: auto;
	background:#880000;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000',endColorstr='#6c0000');
	background:-webkit-gradient(linear,left top,left bottom,from(#880000),to(#6c0000));
	background:-moz-linear-gradient(top,#880000,#6c0000);
	// border:3px solid #B31107;
	// border-radius:10px;
	// margin:25px;
	// padding:15px;
	// padding-top:10px
	.hr {
		margin: 10px 0;
	}
}
div.instructions_header {
	// border: 1px solid black;
	width: 100%;
	margin: 5px;
	overflow: auto;
}
div.instructions_column {
	float: left;
	// border: 1px solid blue;
	margin: 0px 25px;
	width: 215px;
}
