<form accept-charset="UTF-8" action="/recipes/%%rcpID%%" class="edit_recipe" data-remote="true" data-type="json" id="edit_recipe_%%rcpID%%" method="post">
	<input name="utf8" type="hidden" value="&#x2713;" />
	<input name="_method" type="hidden" value="put" />
	<input name="authenticity_token" type="hidden" value="%%authToken%%" />
	<div class="modal-header">
		<input class="close cancel" data-dismiss="modal" name="commit" type="submit" value="x" />
		<h3>Tag That Recipe!</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span12">
				<div class="notifications-panel">
				</div>
				<div class="span5">
					<div class="edit_recipe_field pic">
						<div class="recipe_pic_preview">
							<img alt="Some Image Available" class="fitPic" id="rcpPic%%rcpID%%" onload="fitImageOnLoad('div.recipe_pic_preview img')" src="%%rcpPicURL%%" />
							<input hidden="hidden" id="recipe_picurl" name="recipe[picurl]" rel="jpg,png,gif" size="30" type="text" value="%%rcpPicURL%%" />
						</div>
						<div class="recipe_pic_picker">
							<a href="/" class="pic_picker_golink" data="recipe_picurl;div.recipe_pic_preview img">
							Pick Picture </a>
							<button class="btn btn-link" type="button">Choose Picture</button>
							<div class="pic_picker" data-url="/recipes/%%rcpID%%/edit?pic_picker=true" style="display:none;">
							</div>
						</div>
					</div>
				</div>
				<div class="span7">
					<form class="form">
						<div class="control-group">
							<input type="text" class="span12" id="recipe_title" placeholder="Title">
						</div>
						<div class="control-group">
							<input id="recipe_tag_tokens" class="span12" name="recipe[tag_tokens]" rows="2" size="30" type="text" placeholder="Tags" />
						</div>
						<div class="control-group">
							<textarea class="span12" id="recipe_comment" name="recipe[comment]" placeholder="Recipe Notes" rows="3"></textarea>
						</div>
						<div class="control-group">
							<div class="btn-group" data-toggle="buttons-radio">
								<button type="button" class="btn active">To Try</button>
								<button type="button" class="btn">Now Cooking</button>
								<button type="button" class="btn">Keepers</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</form>
<div class="modal-footer">
	<form class="form-inline">
		<a href="#" class="btn pull-left">Remove</a>
		<% if permitted_to? :admin, :pages %><a href="#" class="btn btn-danger pull-left">Destroy</a><% end %>
		<label class="checkbox">
		<input type="checkbox"> Private cookmark </label>
		<a href="#" class="btn">Cancel</a>
		<a href="#" class="btn btn-primary">Save</a>
	</form>
</div>
