<link href="http://localhost:5000/assets/foreign/dialog.css?body=1" media="screen" rel="stylesheet" type="text/css">
<div class="rcpEdit <%= @area %> dialog" style="width:100%" >
  <div class="rcpEdit_hdr" style="padding:0;" >
	<div style="float:left">
	    <%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %>
	    &nbsp;has cookmarked this for you. Care to tag it here?
	</div>
  </div>
  <div class="rcpEdit_cancel">X</div>
  <br class="clear">
</div>
<%# modified form_edit_at_left goes here %>
