<div class="rcpEdit <%= @area %> dialog" style="width:100%" >
  <div class="rcpEdit_hdr" style="padding:0;" >
	<div style="float:left">
	    <%= image_tag "http://www.recipepower.com/assets/RPlogo.png", class: "small_logo", :alt => "RecipePower" %>
	    &nbsp;has cookmarked this for you. You can tag it here if you like. Or not.
	</div>
  </div>
  <div class="rcpEdit_cancel">X</div>
</div>
