<div class="notifications-panel">
</div>
<form accept-charset="UTF-8" action="/recipes/%%rcpID%%" class="edit_recipe" data-remote="true" data-type="json" id="edit_recipe_%%rcpID%%" method="post">
	<div class="modal-header">
		<input class="close cancel" data-dismiss="modal" name="commit" type="submit" value="x" />
		<h3>
		Tag That Recipe! </h3>
	</div>
	<div class="modal-body">
		<div style="margin:0;padding:0;display:inline">
			<input name="utf8" type="hidden" value="&#x2713;" />
			<input name="_method" type="hidden" value="put" />
			<input name="authenticity_token" type="hidden" value="%%authToken%%" />
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="span5">
					<div class="edit_recipe_field pic">
						<div class="recipe_pic_preview">
							<img alt="Some Image Available" class="fitPic" id="rcpPic%%rcpID%%" onload="fitImageOnLoad('div.recipe_pic_preview img')" src="%%rcpPicURL%%" />
							<input hidden="hidden" id="recipe_picurl" name="recipe[picurl]" rel="jpg,png,gif" size="30" type="text" value="%%rcpPicURL%%" />
						</div>
						<div class="recipe_pic_picker">
							<a href="/" class="pic_picker_golink" data="recipe_picurl;div.recipe_pic_preview img">
							Pick Picture </a>
							<button class="btn btn-link" type="button">Choose Picture</button>
							<div class="pic_picker" data-url="/recipes/%%rcpID%%/edit?pic_picker=true" style="display:none;">
							</div>
						</div>
					</div>
				</div>
				<div class="span7">
					<form class="form">
						<div class="control-group edit_recipe_field">
							<input type="text" class="span12" id="recipe_title"name="recipe[title]" placeholder="Title">
						</div>
						<div class="control-group edit_recipe_field tags">
							<input id="recipe_tag_tokens" class="span12" name="recipe[tag_tokens]" rows="2" size="30" type="text" placeholder="Tags" />
						</div>
						<div class="control-group edit_recipe_field">
							<textarea class="span12" id="recipe_comment" name="recipe[comment]" placeholder="Recipe Notes" rows="3"></textarea>
						</div>
						<div class="control-group edit_recipe_field">
							<div class="btn-group" data-toggle="buttons-radio">
								<button type="button" class="btn active">To Try</button>
								<button type="button" class="btn">Now Cooking</button>
								<button type="button" class="btn">Keepers</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="edit_recipe_field">
			<label for="recipe_status">
			Status: </label>
			<select id="recipe_status" name="recipe[status]">
				<option value="1">
				Now Cooking </option>
				<option value="2">
				Keepers </option>
				<option value="4">
				To Try </option>
				<option value="8">
				Misc </option>
			</select>
		</div>
		<div class="edit_recipe_field">
			<input name="recipe[private]" type="hidden" value="0" />
			<input %%rcpprivate%% id="recipe_private" name="recipe[private]" type="checkbox" value="1" />
			<label for="recipe_private">
			Private (for my eyes only) </label>
		</div>
	</div>
	<div class="modal-footer">
		<input class="save-tags-button submit" name="commit" type="submit" value="Save" />
	</div>
</form>
<form action="/recipes/%%rcpID%%/remove" class="button_to remove" data-remote="true" data-type="json" method="post">
	<div>
		<input class="save-tags-button remove" type="submit" value="Remove From Collection" />
		<input name="authenticity_token" type="hidden" value="%%authToken%%" />
	</div>
</form>
<form action="/recipes/%%rcpID%%" class="button_to destroy" data-remote="true" data-type="json" method="post">
	<div>
		<input name="_method" type="hidden" value="delete" />
		<input class="save-tags-button destroy" data-confirm="This will remove the recipe from RecipePower and EVERY collection in which it appears. Are you sure this is appropriate?" type="submit" value="Destroy this Recipe" />
		<input name="authenticity_token" type="hidden" value="%%authToken%%" />
	</div>
</form>
