  <span class="<%= recipe_list_element_golink_class @recipe %>"> 
	<% if (@recipe.current_user != User.guest_id) && @recipe.cookmarked(@recipe.current_user) %>
		<%= edit_recipe_link (@feed_entry ? "Tag" : "Edit"), @recipe, class: "btn btn-mini" %>
	<% else %>
		<%= link_to_dialog (@feed_entry ? "Collect" : "Add"), collect_recipe_path(@recipe), "modal", "floating", class: "btn btn-mini" %>
	<% end %>
  </span>
