  <span class="<%= recipe_list_element_golink_class @recipe %>"> 
	<% if (@recipe.current_user != User.guest_id) && @recipe.cookmarked(@recipe.current_user) %>
		<%= edit_recipe_link (@feed_entry ? "Tag" : "Edit"), @recipe, class: "btn btn-xs" %>
	<% else %>
		<%= link_to_modal (@feed_entry ? "Collect" : "Cookmark"), collect_recipe_path(@recipe), class: "btn btn-xs" %>
	<% end %>
  </span>
