<span class="<%= recipe_list_element_golink_class @decorator.object %>">
	<%= button_to_submit "Share", new_user_invitation_path(entity_type: @decorator.object.class.to_s, entity_id: @decorator.object.id), :mode => :modal %>
 </span>
