/* This file is invoked by the RecipePower bookmarklet. */
// capture.js.erb
(function() {
    var ifr = document.createElement("iframe");
    // ifr.style.margin="1em";
    ifr.style.width=document.body.clientWidth+"px"; // "100%";
    ifr.style.height = "auto";
    ifr.style['z-index'] = 100;
    ifr.style.position = "fixed";
	ifr.style.top = "0";
	ifr.style.padding = "0";
	ifr.style.margin = "0";
    ifr.id = "recipePower-container";
    ifr.src = "<%= @url %>";
    ifr.onload = function() {
	   inject_iframe(ifr, "at_top", false); // document.body.appendChild(ifr);
	}
    document.body.appendChild(ifr);
})();

/* This callback will be invoked by the javascript returned by the server, above */
function save_link_complete(data) {
  if(data.status == "success") {
    set_status("<h3>Yay!! Success</h3>"); // "<%# escape_javascript(render("shared/saved")) %>");
  } else {
    set_status("<h3>Boo! Failure</h3>"); // "<%# escape_javascript(render("shared/error")) %>");
  }

  close_container("recipepower-dynostyles");
  close_container("recipepower-dynoscripts");
}

function set_status(content) {
  alert(content); // jNotify(content); // document.getElementById("recipepower-status").innerHTML = content;
}

function close_container(id) {
  var container = document.getElementById(id);
  if(container) {
	container.style.display = 'none';
	container.parentNode.removeChild(container);
  }
}

// Inject the container into the current document
function inject_iframe(ifr, area, modeless) {
  // First, remove any lingering style or script elements on the page
  // $('link.RecipePowerInjectedStyle').remove();
  // Inject our styles
  // $('<link href="http://localhost:5000/assets/foreign/dialog.css?body=1" media="screen" rel="stylesheet" type="text/css" id="RecipePowerInjectedStyle"/>').appendTo('head');
	// Find the dialog within the iframe (first and only node of type element)
	var dlog = ifr.contentDocument.body.childNodes[0];
	while(dlog && dlog.nodeType != 1) {
			dlog = dlog.nextSibling;
		}
	var capsule = document.getElementById("RecipePowerInjectedEncapsulation");
	if(!capsule) { 
	  capsule = wrapWithoutCloning(ifr);
	} 
	dlog.style.width = capsule.clientWidth;
	/// close_iframe("recipePower-container");
	/// Now the page is ready to receive the code, prepended to the page
	/// We extract the dialog div from what may be a whole page
	/// Ensure that all scripts are loaded
	/// Run after-load functions
//	ifr.style.display = 'none';
// 	document.body.insertBefore(ifr, capsule);
//	ifr.style.display = 'block';
	/// We get and execute the onload function for the dialog
	var onload = dlog.attributes["onload"];
	if (onload && (typeof window[onload] === 'function')) {
		window[onload](dlog);
	}
	var mgn = 130; // XXX Should be getting something like dlog.offsetHeight;
	mgn = mgn+"px 0px 0px 0px";
	capsule.style.margin=mgn;
	
	/// Cancel will remove the dialog and confirm null effect to user
	/// $('input.cancel', dlog).click( modeless ? cancelModelessDialog : cancelModalDialog );
	/// Forms submissions that expect JSON structured data will be handled here:
	/// $('form.json', dlog).submit( dlog, submitDialogForJSON );
	/// var dlgheight = $(dlog).outerHeight();
	/// $('#RecipePowerInjectedEncapsulation').css("marginTop", dlgheight)
}

/* Encapsulate the body content of the page with a div wrapper */
function wrapWithoutCloning(omitted) {
	var body = document.getElementsByTagName('body')[0];
	var wrapper = document.createElement('div'); 
	wrapper.id = "RecipePowerInjectedEncapsulation";
	// wrapper.style = body.style;
    wrapper.style.position = "absolute";
    wrapper.style.width = "auto";
    wrapper.style.height = "auto";
	body.insertBefore(wrapper, body.firstChild );
	var child;
	while ((child = body.childNodes[1]) && (child != omitted)) {
		body.removeChild(child);
		wrapper.appendChild(child);
	}
	return wrapper;
}

/* Remove the previously-injected wrapper */
function unwrapWithoutCloning() {
	var body = document.getElementsByTagName('body')[0];
	var wrapper = document.getElementById('RecipePowerInjectedEncapsulation');
	var child;
	while(child = wrapper.childNodes[0]) {
		wrapper.removeChild(child);
		body.insertBefore(child, wrapper);
	}
	body.removeChild(wrapper);
}

/*
if (!($ = window.jQuery)) { // typeof jQuery=='undefined' works too  
    script = document.createElement( 'script' );  
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js';  
    script.onload=recipePowerCapture;  
    document.body.appendChild(script);  
}  
else {  
    recipePowerCapture();  
}  

function recipePowerCapture() {
    var resource = "http://localhost:5000/recipes/capture";
    alert( "Got recipePowerCapture!");
    var obj = 
	  { url: window.location.href,
	 	title: document.title,
		area: "at_top",
		how: "modeless" }
		
		// recipePowerGetAndRunHTML(resource, obj)
		recipePowerGetAndRunHTML("http://localhost:5000/home", {})
}
*//* 
(function() {
  function return_report(cb) {
	if(typeof window[cb] == 'function') {
		window[cb]("successfully called capture!")
	}
  }
  return_report("save_link_complete");
})();
*/