<% if true %>
<%= dialogHeader :editRecipe, "Tag That Recipe!" %>
<% partial = "form_edit"+(@area ? "_"+@area : "") %>
<%= render partial %>
<%= dialogFooter %>
<% else %>
<div class="editRecipe">
<span class="editRecipe">other stuff</span>
</div>
<% end %>
