<%# render (@partial ? 'form_edit_at_left' : 'form_edit') %>
<% if @partial %>
<div class="dialog at_left">
<h3>Some Stuff</h3>
<p class="airy"> Some Text</p>
<h3>Some More Stuff</h3>
<p class="airy"> Some More Text</p>
</div>
<% else %>
   <%= render 'form_edit' %>
<% end %>