
  <div class="tag_summary">
     <%= "What I think: \"<strong>#{@recipe.comment}</strong>\"<br>".html_safe unless @recipe.comment.nil? || @recipe.comment.empty? %>
     <%= summarize_alltags(@recipe) ||
        "<p>...a dish with no tags or ratings in RecipePower!?! Why not #{link_to(%q{add some}, edit_recipe_path(@recipe))}?".html_safe %></p>
  </div>

