<div class="auth_sidebar <%# @_area %><%= response_service.area_class %>">
<h4 class="first">A Note On Privacy</h4>
<p class="sidebar">
Does it feel kind of spooky to sign in with your Facebook (etc.) account? Yeah, us too--but we're also sick of managing passwords for every site in sight. It does make signup and signin a snap (or a click). 
</p><p class="sidebar">
RecipePower is not interested in your personal data and won't ask for it. But if you later decide to share your joy in RecipePower with your friends, we're happy to help. :-)
</p>
</div>
