<h3><%= @after_sign_in_msg || "Returning to the recipe..." %></h3>
<script type="text/javascript">
    if (window.opener) {
        <% if @after_sign_in_url %>
            window.opener.postMessage('call=get_and_go&url='+encodeURIComponent('<%= @after_sign_in_url %>'), '*'); // window.opener.location.replace( '<%= @after_sign_in_url %>' );
        <% end %>
        window.close();
    } else {
        window.location = '<%= @after_sign_in_url || home_path %>';
    }
</script>
