<h3><%= @after_sign_in_msg || "Returning to the recipe..." %></h3>
<script type="text/javascript">
	if(window.opener) {
		<% if @after_sign_in_url %>
			window.opener.location = '<%= @after_sign_in_url %>';
		<% end %>
	  window.close();
	} else
		window.location = '<%= @after_sign_in_url || home_path %>';
</script>
