<div class="new-style notifs">
  <div class="modal-content">
    <div class="modal-body" style="text-align: center; border: none; color:#ECE6CD;">
      <div class="notification <%= presenter.decorator.dom_id %>">
        <div class="notification-cancel">
          <%= link_to_submit 'x', presenter.ack_link, class: 'notification-ack' %>
        </div>
        <%= presenter.verbalization :mode => :partial %>
        <br>
        <div style="width: 100%; height: 30px;">
          <div class="notification-act-button">
            <%= button_to_submit presenter.response_label, presenter.response_link, 'success', 'small', style: 'color: white' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
