<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<div class="row">
  <div class="col-md-12 header-element <%= viewparams.display_style %>">
    <div class="links">
      <%= filtered_presenter_header_label viewparams %>
    </div>
    <div class="org-element">
        <%= viewparams.filter_field handler: 'querify', placeholder: 'Search within results' %>
        <br><%= filtered_presenter_org_buttons viewparams, 'panels' %>
    </div>
    <span class="boom"></span>
  </div>
</div>
