<%= triggered_form(viewparams.query) do %>
    <div class="filter-element">
      <%= viewparams.filter_field placeholder: 'Let\'s cook up something' %>
    </div>
<% end %>
<div class="selector-element">
  <%= link_to_submit viewparams.panel_label, viewparams.link_address, class: "result-link #{viewparams.result_type} lead" %>
  <% viewparams.sibling_views.each do |viewparams| %>
      <span class="divider">|</span>&nbsp;
      <%= link_to_submit viewparams.panel_label, viewparams.link_address, class: "result-link #{viewparams.result_type}" %>
  <% end %>
</div>
