<!-- View for listing entities in a table -->
<table class="results <%= viewparams.result_type.extensions_to_classes %> table table-striped ">
  <thead>
  <tr>
    <%= viewparams.table_headers.collect { |ttl| "<th>#{ttl}</th>" if ttl }.compact.join("\n").html_safe %>
  </tr>
  </thead>
  <tbody class="stream-items-parent <%= viewparams.stream_id %>">
    <%= filtered_presenter_tail viewparams %>
  </tbody>
</table>
