<!-- Partial for listing entities in a masonry container -->
  <div class="results <%= viewparams.result_type.extensions_to_classes %> js-masonry stream-items-parent <%= viewparams.stream_id %> "
       id="container"
       onload="RP.masonry.onload(event)"
       data-masonry-options='{ }'>
    <%= filtered_presenter_tail viewparams  %>
  </div>
