<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<tr class="stream-tail <%= viewparams.stream_id %>">
  <td>
    <%= render 'filtered_presenter/present/tail', viewparams: viewparams %>
  </td>
</tr>
