<div class='collect_form'>
  <%= image_tag 'rp-logo-xs-web.png', class: 'logo' %>
  <% decorator = @entity.decorate %>
  <div style="margin:0 10px 0 10px">
    <p>"<%= decorator.title %>" collected!</p>
    <p>To view and tag it in RecipePower, click <%= link_to 'here', polymorphic_path(decorator.as_base_class), class: 'entity_link' %>.</p>
  </div>
</div>
