<%= do_recipe_pages_panel :recipe_pages %>
<%#= modal_dialog 'edit_recipe_page new-style salmon modal-xl modeless', "Recipes" do %>
<!--  <p>Edit title and select recipe content from the page.</p>-->
  <%#= render 'form' %>
<%#= end %>
