
<!-- Must get content first in order to trigger page_ref build -->
<%= f.hidden_field :content %>

<%= f.simple_fields_for :page_ref do |builder| %>
  <%= builder.simple_fields_for :recipes do |rbuilder| %>
    <% render 'recipe_fields', f: rbuilder %>
  <% end %>
  <div class="row">
    <div class='add-fields'>
      <%= link_to_add_fields '', builder, :recipes %>
    </div>
  </div>
<% end %>
