<div class="dialog modeless notifs-holder recipe-pages new-style green">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= modal_header 'Edit title and select recipe content from the page.', style: "border-bottom: 1px solid #c0f3c2b5" %>
      <!--Define the pane displayed in the panel-->
      <div class="modal-body">
        <%= render "#{pane_for}/form" %>
      </div>
    </div>
  </div>
</div>
