<div class="notifs-holder" style="position: absolute; width: 100%; top: 50px;" , onload="RP.notifs.onload(event);">
  <div class="new-style notifs <%= 'wide' if defined?(wide) %>">
    <div class="modal-content">
      <div class="modal-header">
        <p>Edit title and select recipe content from the page.</p>
        <%= dialog_close_button false, class: 'select-content rollup', data: {activate: 'waiting'} %>
      </div>
    </div>
    <!--Define the pane displayed in the panel-->
    <%= render "#{pane_for}/form" %>
  </div>
</div>
