<%= submit_form_for user, method: :patch, html: { class: "user_fullname" } do |f| %>
    <div class="form-inputs inline-text-area">
      <%= f.text_field :fullname, label: false %>
      <%= hidden_field_tag :form, "fullname" %>
    </div>
    <%= dialog_submit_button button_size: "xs" %>
<% end %>
