<%= form_for @decorator, remote: true, method: :patch, html: {class: "user_image", onload: "RP.submit.form_onload(event);"}, data: {type: 'json'} do |f| %>
    <div class="avatar media-object" style="width: 200px; height: auto;">
      <%= pic_field f,
                    :image,
                    :nopicker => true,
                    :submit_on_change => true,
                    :fallback_img => "/assets/default-avatar-128.png"
      %>
      <%= uploader_field @decorator, :image %>
      <%= hidden_field_tag :form, "image" %>
    </div>
<% end %>
