<%= form_for(@user, html: { class: "directUpload", data: { direct_upload: uploader_data } } ) do |f| %>
    <div class="col-md-5">
      <img alt="Image Link is Broken"
           id="image_id"
           src="/assets/NoPictureOnFile.png"
           style="width:100%; height: auto">
    </div>
    <div class="col-md-5 field">
      <%= f.label :avatar_url %><br>
      <%= f.file_field :avatar_url, class: 'directUpload', data: { direct_upload: uploader_data } %>
    </div>
    <%= form_actions f, submit_label: "Update Details", cancel_path: users_path %>
<% end %>
