<div class="user_id user_id_existing">
	<h4>Returning RecipePower User</h4>
	<p class="airy">
		If you already have a RecipePower account, log in (just this once) and we'll connect it to your <%= @provider %> account.
	</p>
	<%= render partial: "shared/slug_signin" %>
</div>
