<h3>Profile</h3>

<%= render 'form' %>

<hr>
Want to change your password or cancel your account? <%= link_to "Click here", edit_user_registration_path %>
<br>
<%= render partial: 'shared/authentications_current' %>
<br class="clear">
Want to use other services to sign in? <%= link_to "Click here", authentications_path %>
