<div class="stream-header">
  <h3>RecipePower Users</h3>
  <p>Add friends by clicking below.</p>
</div>
<%= stream_element(:header, "recent_stream_header") %>
<%= stream_element(:results) { users_table } %>
