<% tags_column_header = (@seeker.entity_name == "channel") ? "Tags That Feed Channel" : "Interest(s)" %>
<div class="user_list">
	<%= seeker_table nil, users_path, [ "Handle", "About", tags_column_header, "# Recipes", "" ] %>
</div>
