<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name, :mode => response_service.mode), :html => { :method => :put }) do |f| %>
    <%# devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <%= f.input :password, label: "New password" %>&nbsp;<%# f.password_field :password %>

    <div><%= f.submit "Register new password", class: "btn btn-lg btn-success dialog-submit-button"%></div>
<% end %>
