<% prompt = "welcomes you! Already a member? " %>
<% prompt << link_to_submit("Sign in!", new_user_session_path, mode: :injector) %>
<%= injector_dialog :new_registration, prompt.html_safe, dismiss_button: false do %>
    <%= render 'authentications/possible_old', prompt: "You can also sign UP with", intention: "signup" %>
    <div class="or"><h4>OR</h4></div>
    <%= render "registrations/form" %>
<% end %>
