<%= render 'authentications/authentications_possible', prompt: "You can sign in with one of these fine services:" %>
<div class="prompt">...Or go the full signup route:</div>
<%= render "registrations/form" %>
