<!--TODO: @recipe -> @collectible -->
<% @decorator = @recipient.shared.decorate %>
<% if attachments['collectible_image'] %>
    <div class="share_recipe_pic_box">
      <%= image_tag attachments['collectible_image'].url -%>
    </div>
<% end %>
<br>
<%= link_to @decorator.title, (accept_invitation_link ?
                                    polymorphic_url(@decorator.object, mode: :modal, :accept_invitation_link => accept_invitation_link) :
                                    @decorator.url),
            class: "share_recipe_title" %>
<% if @decorator.sourcename.present? && defined?(divert_invitation_link)%>
    <p>from&nbsp;
      <%= link_to @decorator.sourcename,
                  divert_invitation_link,
                  class: "share_recipe_source" %>
    </p>
<% end %>
<p><%= @decorator.description %>This is where the description will go.</p>
