<% @recipe = @recipe || Recipe.find(@recipient.shared_recipe) %>
<% if url = @recipe.picdata %>
  <div class="share_recipe_pic_box">
    <%= image_tag url %>
  </div>
<% end %>
<br>
<%= link_to @recipe.title, accept_invitation_link ?
            recipe_url(@recipe,
                      modal: true, # :how => :modal,
                      :accept_invitation_link => accept_invitation_link) :
            @recipe.url,
            class: "share_recipe_title" %>
<p>from&nbsp;
<%= link_to @recipe.sourcename,
            divert_user_invitation_url(
                    rpevent: RpEvent.embed_trigger(:invitation_diverted, @recipient, @invitation_event, @sender),
                    url: CGI::escape(@recipe.sourcehome),
                    sender: @sender.id,
                    recipient: @recipient.id),
            class: "share_recipe_source" %></p>
