    <% if defined?(title) %>
        <div class="results-title <%= @filtered_presenter.results_type.extensions_to_classes %>"><%= title %></div>
    <% end %>
<!--
    <div class="results-content">
      <div class="results-box">
        <%# panel_results_placeholder type %>
      </div>
    </div>
-->
