<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= triggered_form(viewparams.query) do %>
    <h2 class="token-input-holder"><%= viewparams.title %></h2>
    <% if viewparams.filter_type_selector %>
        <div class="token-input-holder">
          <%= select_tag :tagtype, 
			             options_from_collection_for_select(Tag.type_selections(withnull: true, withall: true),
                                                            :last,
                                                            :first,
                                                            viewparams.tagtype),
                         :include_blank => false,
                         :onchange => %Q{RP.submit.onselect( event ); } %>
        </div>
    <% end %>
    <div class="token-input-holder">
      <%= viewparams.filter_field %>
    </div>
<% end %>
