<%= triggered_form(@filtered_presenter.filter_query) do %>
    <h2 class="filter-element"><%= @filtered_presenter.title %></h2>
    <% if @filtered_presenter.filter_type_selector %>
        <div class="filter-element" style="margin-bottom: 10px;">
          <%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true, true), :last, :first, @filtered_presenter.tagtype),
                         :include_blank => false,
                         :onchange => %Q{RP.submit.onselect( event ); } %>
        </div>
    <% end %>
    <div class="filter-element">
      <%= @filtered_presenter.filter_field( 
                              rows: 1,
                              autofocus: true,
                              data: {:"on-add" => "RP.submit.enclosing_form",
                                     :"on-delete" => "RP.submit.enclosing_form",
                                     :hint => "", # "Search the collection by typing terms here",
                                     placeholder: "Seek and ye shall find...",
                                     :"no-results-text" => "No matching tag found; hit Enter to search with text"} ) %>
    </div>
<% end %>
