<div class="row panels-query">
  <div class="col-md-5 panels-label <%= viewparams.display_style %>-label">
    <%= viewparams.panels_label %>
  </div>
  <div class="col-md-7 panels-search">
    <%= viewparams.filter_field handler: 'RP.tagger.querify' %>
    <%= filtered_presenter_org_buttons viewparams %>
  </div>
</div>
