<div class="panels-query">
  <span class="panels-label <%= viewparams.display_style %>-label">
    <%= viewparams.panel_title true %>
  </span>
  <div class="panels-search" style="display: inline-block; vertical-align: baseline;">
    <%= viewparams.filter_field handler: 'RP.tagger.querify' %>
    <%= filtered_presenter_org_buttons viewparams, 'panels' %>
  </div>
</div>
