<%= querify_block viewparams.results_path, class: "associated-card card-item #{viewparams.result_type.extensions_to_classes}", autoload: true do %>
    <% if viewparams.panel_title.present? %>
        <div class="associated-title <%= viewparams.result_type.extensions_to_classes %>"><%= viewparams.panel_title %></div>
    <% end %>
    <div class="results-content">
      <div class="results-box">
        <%= panel_results_placeholder viewparams.result_type %>
      </div>
    </div>
<% end %>
