<%= querify_block url, class: "#{type.extensions_to_classes}", autoload: true do %>
<!--
    <div class="results-content">
      <div class="results-box">
-->
        <%= panel_results_placeholder type %>
<!--
      </div>
    </div>
-->
<% end %>