<%= querify_block viewparams.results_path, class: "results-table #{viewparams.result_type}", autoload: true do %>
    <table class="results <%# viewparams.result_type.extensions_to_classes %> table table-striped ">
      <thead>
      <tr>
        <%= viewparams.table_headers.collect { |ttl| "<th>#{ttl}</th>" if ttl }.compact.join("\n").html_safe %>
      </tr>
      </thead>
      <tbody class="stream-items-parent <%= viewparams.stream_id %>">
      <%= render viewparams.tail_partial, viewparams: viewparams %>
      </tbody>
    </table>
<% end %>
