<%= querify_block viewparams.results_path, class: "results-card #{viewparams.result_type}", autoload: true do %>
    <% if viewparams.page_title.present? %>
        <div class="results-title <%= viewparams.result_type %>"><%= viewparams.page_title %></div>
    <% end %>
    <div class="results-content">
      <div class="results-box">
        <%= panel_results_placeholder viewparams.result_type %>
      </div>
    </div>
<% end %>
