<div class="results feed_entries js-masonry stream-items-parent <%= @filtered_presenter.stream_id %> "
     id="container">
  <div class="masonry-item stream-tail <%= @filtered_presenter.stream_id %>" >
    <%= render partial: "filtered_presenter/tail" %>
  </div>
</div>
