<!-- View for listing entities in a slider container -->
<div class="results <%= viewparams.result_type.extensions_to_classes %> slider labelled">
  <div class="left" data-setup="RP.slider.setup">&lt;</div>
  <div class="right" data-setup="RP.slider.setup">&gt;</div>
  <div class="track stream-items-parent <%= viewparams.stream_id %>">
    <%= render viewparams.tail_partial, viewparams: viewparams %>
  </div>
</div>
