<!-- View for splatting feed entries -->
<div class="results <%= viewparams.result_type.extensions_to_classes %> stream-items-parent <%= viewparams.stream_id %> ">
    <%= render viewparams.tail_partial, viewparams: viewparams %>
</div>
