<h3>What do you know? A strip partial for <%= @master_presenter.entity_type %>: <%= @sp.full_size %> in all.</h3>
<!-- View for listing entities in a masonry container -->
<div class="row">
  <div class="slider">
    <div class="left" data-setup="RP.slider.setup">&lt;</div>
    <div class="right" data-setup="RP.slider.setup">&gt;</div>
    <div class="track stream-items-parent col-md-12 <%= @sp.stream_id %>">
      <%= render_stream_tail %>
    </div>
  </div>
</div>
