<!-- Partial for listing entities in a masonry container -->
  <div class="results <%= @filtered_presenter.results_type.extensions_to_classes %> js-masonry stream-items-parent <%= @filtered_presenter.stream_id %> "
       id="container"
       onload="RP.masonry.onload(event)"
       data-masonry-options='{ }'>
    <%= render @filtered_presenter.tail_partial %>
  </div>
