<% if @authentications && !@authentications.empty? %>
    <div class="authentications">
	  <h4><strong>You can sign in to this account using:</strong></h4>
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider_name %></div>
          <div class="uid"><%= truncate authentication.uid.to_s, :length => 12 %></div>
		  <% if @auth_delete || true %>
            <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
		  <% end %>
        </div>
      <% end %>
	  <br>
	  <% if @auth_delete %>
	    (Click the 'X' to revoke the authorization)
	  <% end %>
<% end %>