<div class="signin_all <%= @area %> dialog" >
  <div class="signin_hdr">
	<%= image_tag "http://www.recipepower.com/assets/RPlogo.png", :size => "174x24", :alt => "RecipePower" %> needs you to sign in to collect this cookmark.
  </div>
  <br class="clear">
  <%= render partial: 'shared/authentications_possible_at_top' %>
  <div class="signin_or">
&nbsp;&nbsp;OR&nbsp;&nbsp;
  </div>
  <%= render partial: "shared/slug_signin_at_top" %>
</div>
