<div class="signin_hdr">
	<div style="float:left"><%= image_tag "RPlogo.png", class: "small_logo", :alt => "RecipePower" %></div>
	<div class="hdrdiv">&nbsp;needs you to sign in to collect this cookmark. Not a member? <u><%= link_to_redirect "Sign up!", collection_url(trigger_signup: true) %></u></div>
</div>
<%= render partial: 'authentications/authentications_possible_injector' %>
<div class="or"><h4>OR</h4></div>
<%= render partial: "shared/slug_signin_injector" %>
