<div class="auth_sidebar <%# @_area %><%= response_service.area_class %>">
<h4 class="first">The Big Idea</h4>
<p class="sidebar">
RecipePower is about applying human intelligence to the search for great recipes. 
</p><p class="sidebar">
It starts with you: simply by grabbing something from the Web, you earmark it as special. Every bit of information you add becomes part of a pool that's shared by the RecipePower community.
</p><p class="sidebar">
The result: an ever-growing collection of The Best Of The Web in the world of food.
</p>
</div>
