<div class="auth_sidebar <%= @area %>">
<h4 class="first">The Big Idea</h4>
<p class="sidebar">
RecipePower is dedicated to harvesting the human intelligence that goes into the search for great recipes. It starts with you: simply by adding recipes to your collection, you earmark (ahem: <i>cookmark</i>) each one as special. Every bit of information you add becomes part of a pool that's shared by the RecipePower community. The result: an ever-growing collection of The Best Of The Web in the world of food.
</p>
</div>
