<div class="welcome_sidebar">
  <p><span class="large">Getting Started</span></p>
  <div class="bookmarklet">
    <%= bookmarklet %>
  </div>
  <p>This is the <em>Cookmark</em> button, where the magic happens.</p>
  <div class="instructions_step">
	<%= image_with_error_recovery image_path('drag_pic.png'),
                                  fill_mode: 'fixed-width',
                                  id: "rcpPic_step2" %>
  </div>
  <p>Drag the Cookmark button onto your browser's bookmarks bar.
  <br><span class="small">(If the bookmarks bar isn't visible, you can find it under "View" in the top menus)</span></p>
  <div class="instructions_step">
    <%= image_with_error_recovery image_path('click_cookmark.png'),
                                  fill_mode: 'fixed-width',
                                  id: "rcpPic_step3" %>
  </div>
  <p>With any recipe showing in your browser, click on the Cookmark button to remember it in
    your RecipePower collection. You'll get a chance to add a note, a picture and/or reminders, then you can go about your business.</p>
</div>
