  <div id="error_explanation">
    <h2><%= pluralize(@visitor.errors.count, "error") %> 
        prohibited this visitor from being saved:</h2>
    <p>There were problems with the following fields:</p>
    <ul>
    <% @visitor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
