<%= querify_block url, class: "results-panel #{type}", autoload: true do %>
    <div class="results-content">
      <div class="results-box">
        <%= panel_results_placeholder type %>
      </div>
    </div>
<% end %>
