<div class="row hide-if-empty">
  <div class="col-md-4">
    <p class="pull-right"><b><%= label %></b></p>
  </div>
  <div class="col-md-8">
    <p class="hide-if-empty"><%= content %></p>
  </div>
</div>
