<!-- View for listing entities in a table -->
  <table class="table table-striped ">
    <thead>
    <tr>
      <%= headers.collect { |ttl| "<th>#{ttl}</th>" unless ttl.blank? }.compact.join("\n").html_safe %>
    </tr>
    </thead>
    <tbody class="stream-items-parent">
    <% if @filtered_presenter.dump? %>
        <% while (item = @filtered_presenter.next_item) do %>
            <%= render_item item  %>
        <% end %>
    <% end %>
    </tbody>
  </table>
