<!--Simple view for dumping a list of items -->
<div class="row">
  <div class="col-md-12 stream-items-parent" id="seeker_results">
    <% if @filtered_presenter.dump? %>
        <% while (@stream_item = @filtered_presenter.next_item) do %>
            <%= render "stream_item" %>
        <% end %>
    <% end %>
  </div>
</div>
