<!-- View for listing entities in a masonry container -->
<div class="row">
  <div class="js-masonry stream-items-parent col-md-12"
       id="container"
       data-masonry-options='{ "columnWidth": 200, "itemSelector": ".masonry-item", "gutter": 20 }'>
    <% if @sp.dump? %>
        <% while (item = @sp.next_item) do %>
            <%= render_stream_item item, @itempartial || "show_masonry_item" %>
        <% end %>
    <% end %>
  </div>
</div>
<%= stream_element :trigger %>
