<!--Simple view for dumping a list of items -->
<div class="stream-results">
  <div class="row">
    <div class="col-md-12 stream-items-parent" id="seeker_results">
      <% if @sp.dump? %>
          <% while (@stream_item = @sp.next_item) do %>
              <%= render "stream_item" %>
          <% end %>
      <% end %>
    </div>
  </div>
  <%= render "shared/stream_footer" %>
</div>
