<!--Shell for streaming items in a div-->
  <div class="stream-items-parent">
    <% if @sp.dump? %>
      <% while (item = @sp.next_item) do %>
          <%= render_stream_item item, @itempartial || "stream_item" %>
      <% end %>
    <% end %>
  </div>
  <%= stream_element :footer %>
