<!-- View for listing entities in a masonry container -->
<div class="row">
  <div class="js-masonry stream-items-parent col-md-12"
       id="container"
       onload="RP.masonry.onload(event)"
       data-masonry-options='{ }'>
    <% if false && @filtered_presenter.dump? %>
        <% while (item = @filtered_presenter.next_item) do %>
            <%= render_item item.decorate, :masonry, viewparams: @filtered_presenter.viewparams  %>
        <% end %>
    <% end %>
  </div>
</div>
