<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<!-- View for listing entities in a slider container -->
<div class="suggestions <%= viewparams.result_type.extensions_to_classes %> slider">
  <div class="left" data-setup="RP.slider.setup">&lt;</div>
  <div class="right" data-setup="RP.slider.setup">&gt;</div>
  <div class="track stream-items-parent <%= viewparams.stream_id %>">
    <%= filtered_presenter_tail viewparams %>
  </div>
</div>
