<p>
  <b>Tag:</b>
  <%= @expression.tag_id %>
</p>

<p>
  <b>Referent:</b>
  <%= @expression.referent_id %>
</p>

<p>
  <b>Form:</b>
  <%= @expression.form %>
</p>

<p>
  <b>Locality:</b>
  <%= @expression.locale %>
</p>
