<h3>Expression <%= @expression.id.to_s %></h3>
<%= render "show" %>
<hr>
<%= link_to_dialog 'Edit This Expression', edit_expression_path(@expression) %> |
<%= link_to 'Expressions List', expressions_path %>
