<%= simple_modal :about, "Surfing the Web for Eats...Together", style: "margin: 0px 15px;" do %>
		<p>
		The Web is the greatest library for cooks, <strong>ever</strong>--and the search tools are amazing. But in a search engine, you start over every time: no remembering, no saving. RecipePower is not a search engine, or a "recipe site", it's a scrapbook for recipes: one place to keep all your food-related gleanings, <strong>no matter where they're from</strong>. "Cookmark" a recipe in RecipePower and it's at your fingertips for good. Attach a note to it. Pin it with reminders for finding it later. Have it there whenever you can get to a Web browser.
		</p><p>
		But it's about more than your own cookmarks. At RecipePower, you'll also find like-minded cooks on the same quest. Share recipes with, learn from, teach and collaborate with fellow travellers in your neighborhood of the food world. And our "channels" are a pipeline to the kinds of recipes you want. Interested in wild mushrooms, or Atkins recipes, or cooking on a budget? Put your ear to those channels and the recipes come to you. Find a recipe that would be good for a channel? Drop it in, so others can see it!</p>
		<h4>What's Different about RecipePower?</h4>
		<p>
		The Web is full of sites for filing and sharing recipes...and that's sort of the problem: so many logins, so many formats, so many places to look, not to mention hassles importing recipes. Really, it's the Tower of Babel out there. But RecipePower takes you above all that, giving you <strong>one place to connect them all</strong>. We don't import anything. Instead, our cookmarks simply remember where the recipe can be found again. You can capture, tag and share a recipe in seconds. There are no limits to where you can collect from, no formatting or import hassles. If you see it in a browser window, you can cookmark it, and then you know where it is.
		</p><p>
		There's more to come, but we think the beginning is pretty cool--and simple. Come on in and get a taste of RecipePower.
		</p>
<% end %>
