<p>
  We want to hear from you! If you like the idea of RecipePower, please help us with your ideas and feedback. We're determined to build a how-did-I-live-without-it tool here, but we can't do it without you. There are several channels for reaching us:
<ul>
	<li>First, the nicest gift we could ask for is your thoughts! When you have any reaction to using RecipePower (problems, delights, ideas for improvement, etc.), then grab that thought and hit the red <%= link_to_modal "Feedback", new_feedback_path %> link clinging desperately to the left of the page. Or simply send email to <%= mail_to "feedback@recipepower.com", "feedback@recipepower.com" %>.</li>
	<li>If you have any problem using the site, use the hotline at <%= mail_to "help@recipepower.com", "help@recipepower.com" %>. You should hear back within a day.</li>
	<li>Finally, we have a <%= link_to_modal "FAQ page", faq_path %> that's actually based on frequently-asked questions (imagine that)! </li>
</ul>
