<%= title="Everything You Need To Know About RecipePower"; title = "PS: "+title if params[:context] == "signup" %>
<%= modal_dialog :need_to_know, title do %>
	<%= modal_body(style: "height: 600px") do %>
	<div class="spiel">This is your home on RecipePower, where you can see all the goodies there are, including your recipe collection, your friends' collections, and more.</div>
		<div class="know_snap">
			<%= image_tag "NeedToKnow.png" %>
		</div>
		<div class="info-block know_browser">
			<h4>Choose</h4>
			Pick a collection to show.
		</div>
		<div class="info-block know_seek">
			<h4>Search</h4>
			Find things <strong>within the collection</strong>.
		</div>
		<div class="info-block know_list">
			<h4>See</h4>
			Everything in the collection (that matches the search).
		</div>
	</div>
	<% end %>
<% end %>
