<h3>RecipePower: Sharpening the Web for Cooks</h3>
<br>
<div id="sidebar">
<h3>Getting Started</h2>
<p>First, to make it falling-off-a-log simple to capture recipes, drag the handy "Send to RecipePower"
	button to your browser's bookmarks bar. After that, life is sweet: when you find a recipe to remember,
	click the button, slap some tags on it, done. 
</p><p>
Here's the button: .
</p><p>
(Without the button, you can always copy links from your browser's address bar and paste them into RecipePower, here. But that doesn't seem too convenient, does it?)
</p><p>
Second (and last!), to set up your private recipe collection, 
we need to get you logged in. You can sign up for an
account on RecipePower, but it might be easier just to use your 
existing Facebook, Google, etc. account. 
</p><p>
If you don't care to use the button, there's 
</p>
</div>
<p>
Google is great for finding recipes, but it has no memory: every time you search is just like the last time, with so many results to go through. RecipePower is your "cooking memory" for the Web: a single place to keep all your food-related gleanings. Once you find something you like, from <i>anywhere</i> on the Web, just "cookmark" it in RecipePower and it's at your fingertips for good. RecipePower is the warm cozy binder for everything cookwise you want to remember from the Wild World Web.
</p>
<p>
Individual food sites are great, too. But each one expects you to have an individual login, with their own recipe box. RecipePower takes you a step up: it's the <strong>one place to connect them 
all</strong>. It doesn't matter where a recipe comes from or how you 
found it. If you've got a page you can save it here.
</p>
<p>
Organizing your recipes is a snap: there are different collections for your everyday recipes (the Rotation), general Favorites, those maybe-someday Interesting recipes, and all the Miscellaneous recipes you might want for some day. Then, you can Tag a recipe any way you like, the better to find it later. Tag by Ingredient, or Nationality, or Course, or "That noodle casserole Uncle Bob liked". Whatever makes sense to you.
</p><p>
If you've ever had the pleasure of turning uncertainty and chaos into control and organization, welcome home, to RecipePower.
</p>
<p>
We have great plans for the future, of course. But for now, we think that simple is better, and we invite you to see how much Simple can do for you. Try some cookmarks and see for yourself.
</p>
