<h3>RecipePower: Making the Web Friendly for Cooks</h3>
<br>
<div id="sidebar">
<h3>Getting Started</h2>
Get started with two simple steps--and one step is optional. First, sign up, 
so we can make a private space for you and your recipes. (Or use your 
existing Facebook, Google, etc. account.) 
</p>
<p>Then--and this is the optional part--drag our handy "Send to RecipePower"
button to your browser's toolbar. After that, life is cruisy: find a recipe,
click the button, slap some tags on it, done. 
</p><p>
Sign up or sign in.
</p><p>
Here's the button.
</p><p>
If you don't care to use the button, there's 
</p>
</div>
<p>
RecipePower has one simple job: giving you a single place to keep all your food-related gleanings from the Internet. And with simplcity comes ease. Once you find something you like, from <i>anywhere</i> on the Web, just "cookmark" it in RecipePower and it's at your fingertips for good. RecipePower is the warm cozy gathering spot for everything you happen upon out there in the Wild World Web.
</p>
<p>
Do we really need another cooking-related web site? Well, sure! 
The difference is that every other site adds to the noise, and 
RecipePower is about bringing it all together. Whether you use Epicurious 
and Cook's Illustrated, or stick with Allrecipes, follow food bloggers,
or use Google as your cooking tool of choice, each one is its own walled garden, 
perhaps with its own recipe box, or its own sign-in system, or its own 
friends network. RecipePower is the <strong>one place to connect them 
all</strong>. It doesn't matter where a recipe comes from or how you 
found it. Once you're looking at the page you can save it here.
</p>
<p>
Perhaps you use Google (or Bing, or Yahoo, or...) to find your recipes. Aren't you tired of doing the same old search and having to wade through the the same hundreds of results (again!)? All for lack of a scratchpad for just keeping the obvious choices handy? If that sounds familiar, welcome to RecipePower!
</p>
<p>
Because RecipePower is focused on food, our tags turn a little organization into a lot of power. Categorize your recipes however you like: by ingredient, nationality, course, or just by making up whatever terms work for you. Throw the recipes into collections for your favorites, things you're cooking right now, or random miscellansous recipes that you might ant to check out later. Rate them for the qualities that mean something to you. Later, get back to them with a quick scan. 
</p><p>
If you've ever had the pleasure of turning uncertainty and chaos into control and organization, welcome home.
</p>
<p>
As time goes on, of course, RecipePower will add new capabilities: cooking circles that focus on special interests; sharing recipes and collections with your friends; filing your own recipes; and much more. But we're not even going to think about that until you have the friendliest, most useful and falling-off-a-log simple way to tame cooking 
</p>
