<div id="sidebar">
<h3>Getting Started</h3>
<p><%= bookmarklet %>
To make it stupid-simple to capture recipes, drag this handy
	button to your browser's Bookmarks bar. After that, life is sweet: when you find a recipe to remember,
	click the Add Cookmark link to stow it in RecipePower. 
</p><p>
Without the button, you can always manually copy and paste links into RecipePower, (see the <%= link_to "Add a Cookmark", new_recipe_path %> link above). But that's not very convenient, is it?
</p><p>
To set up your private recipe collection, 
we'll need to get you logged in. You can sign up for an
account on RecipePower, but it might be easier just to use your 
existing Facebook, Google, etc. account. 
</p>
</div>
<div class="text_block">
<h2 class="med">RecipePower:<br>Sharpening the Web for Cooks</h2>
<p class="airy">
Search engines like Google are great for finding recipes, but they have no memory: every time you search is just like the last time, with so many results to go through. RecipePower is your "cooking memory" for the Web: a single place to keep all your food-related gleanings. Once you find something you like, from <i>anywhere</i> on the Web, just "cookmark" it in RecipePower and it's at your fingertips for good. RecipePower is the tidy, well-organized binder for everything cookwise you want to remember from the Wild World Web.
</p>
<p class="airy">
Individual food sites and blogs are wonderful, too...and there are so many!--each with its own login, its own organization, and its own recipe box. RecipePower takes you above all that: it's the <strong>one place to connect them all</strong>. No matter where a recipe comes from or how you 
found it, if you're on a page you can save it here.
</p>
<p class="airy">
Organizing your recipes is a snap, with different collections: what you're actively cooking these days (the <strong>Rotation</strong>); general <strong>Favorites</strong>; those try-sometime <strong>Interesting</strong> recipes; and all the <strong>Miscellaneous</strong> ones you just want to remember for some reason. You can also file it under any number of categories with Tags that are meaningful to you: Foods that go into it, or Genre, or "That noodle casserole Uncle Bob liked". Whatever makes sense.
</p><p class="airy">
If you've ever had the pleasure of turning uncertainty and chaos into control and organization, welcome home, to RecipePower.
</p>
<p class="airy">
We have great plans for the future, of course. But for now, we think that simple is better, and we invite you to see how much Simple can do for you. Try some cookmarks and see for yourself.
</p>
</div>