<h2 class="med">RecipePower FAQ</h2>
<p class="airy">
You may be amazed to hear this, but "Frequently Asked Questions" are not, in fact, always compiled from actual questions asked by actual users. They're more like "Questions We Thought Up Sitting At Our Desks Because We Needed A FAQ Page". Still, we have to start somewhere. Until people like you actually <i>ask</i> enough questions to compile, here are our Questions We Thought Up Sitting At Our Desks, etc.
</p>
<p class="airy">Meanwhile, please: <%= link_to "ask us a question", new_feedback_path %>.</p>
<h4>What is this "Tagging" thing?</h4>
<h4>How do I add my own tags?</h4>
<h4>Why can't I...(enter a recipe, compile a shopping list, etc.)?</h4>
<p class="airy">
Two things. First, this is not just another cooking website. The most important thing for RecipePower, for now, is enabling people to tie all those other sites together. You can think of RecipePower as performing a storage/earmarking function, complementary to Google's (and others') search function.
</p><p class="airy">
Second: perhaps you, like us, have wasted a lot of time with websites that try to do it all without doing any one thing particularly well. We're focusing on making RecipePower as useful and simple as humanly possible on the simple job of keeping and leafing through your recipe findings.
</p>
<h4>Why doesn't the recipe show a picture/Why is the picture wrong?</h4>
<p class="airy">
When you cookmark a recipe, RecipePower does its best to extract a sensible image from the page you've marked. But, then again...
</p><p class="airy">
You can fix the picture in the Tagging page. Click the "Tag This Coomkark!" link (or "Tag it" in the list view) to get the tagging page. On the right side of the page, a text box shows the URL for what RecipePower <i>thinks</i> is the right photo. The easiest way to fix it is to find the right photo on the page, then copy and paste its URL into that box. Specifically in the tagging page:
<ul>
	<li>Scroll down to see the recipe in its original site.</li>
	<li>Find the photo you want.</li>
	<li>Left-click (or Option-click on a Mac) and hold the button down to get a menu of choices for what to do with what's under the mouse. Choose "Copy Image URL" (or words to that effect).</li>
	<li>Back up top, select all the text in the "URL of Image" box, and do Edit:Paste to paste in the new URL.</li> 
	<li>Click the "Save Tags" button. When you go back to the Cookmarks list, the recipe should have the image you chose. (Hint: click the Recent tab; that recipe will be at the top.)</li>
	</ul>
</div>