<h1>Feedback Please!</h1> 
<br>
To feedback your thoughts to RecipePower (and thanks in advance for that), you have three choices: 1) Click <%= mail_to "here to Send us mail", "feedback@recipepower.com" %>; 2) fill out the form below; or 3) (most prized and appreciated) spend five minutes on the question in our Survey.
<p>
<br>
Hate surveys? We do too. That's why ours is short and sweet: ten questions, six minutes, tops. Thanks!
<br>
<br>
<%= link_to "Take the Survey (Please)!", signup_path, :class => "signup_button round" %>
