<%= render partial: (current_user ? "shared/bookmarklet_sidebar" : "shared/signup_at_right") %>
<div class="text_block">
	<h2 class="med">RecipePower:<br>The Cook's Memory for the Web</h2>
<p class="airy">
	When you find a great recipe on the Web, do you squirrel it away someplace safe? Or does it just slip back into the ocean?
	</p><p class="airy">
Unless you have a no-friction way to save those jewels, <strong>and you use it</strong>, then you need RecipePower. See a great recipe and the Cookmark button <strong>instantly</strong> stashes it away for later. No import hassles, no confusing website, just cream. 
	</p><p class="airy">
	As your collection grows, you can tag recipes to make them easier to find, so when opportunity knocks, inspiration answers! Add friends on RecipePower and get tipped off to their findings as well. Pick up on our Channels and Feeds, and new possibilities come to you.
	</p><p class="airy">
Why not check it out? Sign up (use your Facebook, etc. login if that makes it easier), and we'll get you set up in a jiffy. Or, <%= link_to("have a look around", collection_path) %> first. Either way, the Web is about to get a lot friendlier to you as a cook.
	</p>
</div>
