<%= render partial: (current_user ? "shared/bookmarklet_sidebar" : "shared/signup_at_right") %>
<div class="text_block">
	<h2 class="med">Cook Me Later:<br>Snag That Recipe!</h2>
<p class="airy">
	When you find a great recipe on the Web--seemingly written just for you--do you squirrel it away someplace safe? Or is that too much hassle? Does that jewel slip back into the ocean?
	</p><p class="airy">
	Unless you can "cookmark" the great recipes you find, <strong>and you actually do it</strong>, then you need Cook Me Later. With the Cook Me Later button in your browser bar, any recipe <strong>instantly</strong> joins your personal stash for the best of the Web. No import hassles, no confusing website, just cream. 
	</p><p class="airy">
	As your collection grows, you can tag recipes to make them easier to find, so inspiration returns when opportunity strikes. With your foodie friends on Cook Me Later, get tipped off to their findings, and vice versa, automatically. And if you sign on for our Channels and Feeds, new possibilities come to you.
	</p><p class="airy">
Can you spare five minutes to check it out? Sign up (use your Facebook, etc. login if that makes it easier), we'll get you started, and in two minutes the Web will get a lot friendlier to you as a cook.
	</p>
</div>
