<li class="rp_elmt rp_ingline">
  <span class="rp_elmt rp_ingspec">
    <span class="rp_elmt rp_amt_with_alt rp_amt">
      <span class="rp_elmt rp_num_or_range rp_range">1/2</span>
      <span class="rp_elmt rp_unit" value="tsp.">tsp</span>
    </span>
    <span class="rp_elmt rp_ingalts rp_ingname" value="whole">whole</span>
  </span>
  <span class=" rp_elmt rp_ing_comment">
    <a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">
      Sichuan pepper
    </a>
  </span>
</li>