<div class="rightblock">
<!--
  <div class="auth_signin">
    <% render partial: 'shared/authentications_possible' %>
  </div>
  <br>
-->
  <div class="right_signin">
    <%= render partial: "shared/slug_signin" %>
  </div>
</div>
<div class="text_block">
<h2 class="med">RecipePower:<br>The Scratchpad for Cooks</h2>
<p class="airy">
The Web lays a world of recipes at your feet--but where to keep the jewels so you can find them again? For clipping recipes, there's no simpler solution than RecipePower. We keep "cookmarks" back to your favorites from <strong>anywhere</strong> on the Web. Tag them so you can find them again in a snap, share them--and hear about more you might like. It's the <strong>simple</strong> tool that keeps you cooking--and exploring. 
</p><p class="airy">
Want to hear more? Visit our <%= link_to "About", about_path %> page. Ready to go? Why not just <%= link_to_function("Sign Up", "recipePowerGetAndRunJSON('authentications/new', 'modal')" ) %>? We'll give you a quick tour, and in five minutes the Web will get much friendlier to you as a cook. Come on in! RecipePower is here for you.
</p>
<br class="clear">