<article class="page flex-auto h-full">
  <div class="blok-page flex flex-auto flex-col w-full rp_elmt rp_recipe">
    <section name="hero" scheme="[object Object]" page="[object Object]" class="colorful scheme section scheme pb-row md:pb-row-lg blok blok-section blok-section--hero text-center w-full scheme--pink has-teeth has-header is-layout-splash" style="--scheme-background:#cc3399;--scheme-text:#ff0;--scheme-accent:#ff6633;--scheme-compliment:#50a0ff">
      <header class="section__header wrap font-publico f-h5 text-center pt-row md:pt-row-lg">
        <div class="blok--richtext">
          <div class="rich-text f-rich-text rich-text--blok">
            <h1><h1 class="rp_elmt rp_title">RECIPE: THE BEST VEGAN MAPO TOFU EVER</h1></h1>
          </div>
        </div>
      </header>
      <div class="section__content"></div>
    </section>
    <section name="richtext" page="[object Object]" class="colorful scheme section scheme pb-row md:pb-row-lg blok blok-section blok-section--richtext pb-teeth w-full scheme--mustard has-teeth"> <!---->
      <div class="section__content">
        <div class="blok--richtext">
          <div class="rich-text f-rich-text rich-text--blok">
            <p>Possibly the most famous dish to come out of Sichuan, mapo tofu is one of those 'final meal' dishes we
              don’t think we could ever get sick of. A bowl of this over warm steamed rice is the ultimate comfort food.
              This vegan mapo tofu recipe, made with shiitake mushroom instead of the usual pork or beef, is actually
              one of the deepest, most flavorful we’ve ever had.</p>
            <p>The secret is of course, is in the mapo sauce. To retain the umami in this vegan mapo tofu, you'll need a
              good
              <a href="https://www.flybyjing.com/collections/frontpage/products/premium-3-year-aged-broad-bean-paste" target="_blank">doubanjiang</a>
              (fermented fava bean paste - this is important!),
              <a href="https://www.flybyjing.com/collections/frontpage/products/sichuan-chili-crisp?variant=16950355361861" target="_blank">Sichuan
                Chili Crisp</a>, fermented black beans and Sichuan pepper (our
              <a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">Tribute
                Pepper</a> is the finest available on the market anywhere). We recommend using our premium
              <a href="https://www.flybyjing.com/collections/frontpage/products/premium-3-year-aged-broad-bean-paste" target="_blank">three
                year aged doubanjiang</a> but mixing with a regular one like
              <a href="https://www.amazon.com/Sichuan-Pixian-Broad-Paste-Fivedayscombo/dp/B00BRQ0YC0/ref=sr_1_19_a_it?ie=UTF8&qid=1545766828&sr=8-19&keywords=doubanjiang" target="_blank">this</a>,
              as un-aged doubanjiang has a brighter, redder color while the aged has much deeper flavor. So if the
              recipe calls for 2 tbsp of doubanjiang, use 1 tbsp of aged, and 1 tbsp of regular.</p>
            <p>Read more about the magical ingredient of
              <a href="https://www.flybyjing.com/blogs/news/doubanjiang-the-soul-of-sichuan-cuisine" target="_blank">Doubanjiang
                here</a></p>
            <p></p>
            <p><b>RECIPE</b><br></p>
            <ul class="rp_elmt rp_inglist">
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt">300g</span> <span class="rp_elmt rp_ingalts rp_ingname" value="tofu">tofu</span></span>
                <span class="rp_elmt rp_ing_comment">cut into cubes (I prefer the texture of softer tofu but regular works as well)</span>
              </li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="ounce">ounce</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="dried shiitake mushrooms">dried shiitake mushrooms</span></span>
                <span class="rp_elmt rp_ing_comment">(dried is important as it has much more concentrated umami flavor than fresh)</span>
              </li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt rp_num_or_range rp_range">2</span> <span class="rp_elmt rp_ingalts rp_ingname" value="garlic cloves">garlic cloves</span></span><span class="rp_elmt rp_ing_comment">, minced</span>
              </li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="tsp.">tsp</span></span> <span class="rp_elmt rp_presteps rp_condition" value="minced">minced</span> <span class="rp_elmt rp_ingalts rp_ingname" value="ginger">ginger</span></span>
              </li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">2</span> <span class="rp_elmt rp_unit" value="tbsp">tbsp</span> </span><span class="rp_elmt rp_ingalts rp_ingname" value="Doubanjiang"><a href="https://www.flybyjing.com/collections/frontpage/products/premium-3-year-aged-broad-bean-paste" target="_blank">Doubanjiang</a></span></span><span class=" rp_elmt rp_ing_comment"> (fermented fava (broad) bean paste)</span>
              </li>
              <p><br></p><span class="rp_elmt rp_ingspec"><li class="rp_elmt rp_ingline"> <span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">2</span> <span class="rp_elmt rp_unit" value="tbsp">tbsp</span> </span><span class="rp_elmt rp_ingalts rp_ingname" value="Sichuan chili crisp"><a href="https://www.flybyjing.com/collections/frontpage/products/sichuan-chili-crisp?variant=16950355361861" target="_blank">Sichuan Chili Crisp</a></span> </li></span>
              <p><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">3</span> <span class="rp_elmt rp_unit" value="tbsp">tbsp</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="chili oil">chili oil</span></span>
                <span class="rp_elmt rp_ing_comment">(*super easy recipe for this below, but you can substitute with regular oil for less heat if you'd like)</span>
              </li>
              <p><span></span><br></p><span class="rp_elmt rp_ingspec"><li class="rp_elmt rp_ingline"> <span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="tbsp">tbsp</span> </span><span class="rp_elmt rp_ingalts rp_ingname" value="fermented black beans"><a href="https://www.amazon.com/Pearl-River-Bridge-Flavor-Preserved/dp/B004E55SDG/ref=sr_1_3?keywords=fermented+black+beans&qid=1583261576&sr=8-3" target="_blank">fermented black beans</a></span> </li></span>
              <p><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1/2</span> <span class="rp_elmt rp_unit" value="cup">cup</span></span> <span class="rp_elmt rp_ingalts"><span class="rp_elmt rp_ingname" value="stock">stock</span> or </span></span><span class="rp_elmt rp_ingname"><span class="" value="bone">bone</span> broth</span><span class=""> (you can also substitute the water used for soaking shiitakes)</span>
              </li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="tsp.">tsp</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="cornstarch">cornstarch</span></span>
                <span class="rp_elmt rp_ing_comment">dissolved in 1 tbsp water</span></li>
              <p><span></span><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1/2</span> <span class="rp_elmt rp_unit" value="tsp.">tsp</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="whole">whole</span> </span><span class=" rp_elmt rp_ing_comment"><a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">Sichuan pepper</a></span>
              </li>
              <p><br></p><span class="rp_elmt rp_ing_comment"><li class="rp_elmt rp_ingline"> <span>1 pinch ground roasted </span><span><a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">Sichuan pepper</a></span><span> (roasting right before grinding releases maximum flavor)</span> </li></span>
              <p><br></p>
              <li class="rp_elmt rp_ingline">
                <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt rp_num_or_range rp_range">3</span> <span class="rp_elmt rp_ingalts rp_ingname" value="scallions">scallions</span></span><span class="rp_elmt rp_ing_comment">, whites cut in 1 inch pieces, greens thinly sliced</span>
              </li>
              <p><span></span><br><br></p></ul>
            <ol>
              <li></li>
              <li>Soak dried shiitake mushrooms in hot water until rehydrated and soft enough to pulse in a food
                processor or chop into very small pieces, set aside. I sometimes add a splash of soy sauce in the water
                at this point to give the mushrooms extra flavor)
              </li>
              <li></li>
              <li>Boil tofu briefly in salted water, use a colander if you’d like to keep it from breaking, set aside.
                This is so that the cubes have a better texture and retain their shape more during cooking.
              </li>
              <li></li>
              <li>Heat up a basic<span></span><b>chili oil</b>* in a hot wok, add minced garlic and ginger and fry until
                fragrant. You can also use regular oil if you want it less spicy. Add mushroom, doubanjiang,
                <a href="https://www.flybyjing.com/collections/frontpage/products/sichuan-chili-crisp?variant=31033340461114" target="_blank">Sichuan
                  Chili Crisp</a>, fermented black beans and whole Sichuan pepper, and fry quickly to avoid burning
              </li>
              <li></li>
              <li>Add stock and bring to boil, add scallion whites, slide tofu into wok and stir gently with a rubber
                spatula to prevent it from breaking, let the stock reduce for about five minutes. Then, add cornstarch
                mixture and stir in gently until sauce thickens.
              </li>
              <li></li>
              <li>Transfer to serving bowl, sprinkle liberally with scallion greens and a generous pinch of ground
                roasted Sichuan pepper. Serve while hot<span></span>with rice. Vegan Mapo tofu doesn't store well
                because of the binding starch in the sauce, so try to eat it all right away, which shouldn't be a
                problem!
              </li>
            </ol>
            <p></p>
            <p><span><b>SICHUAN CHILI OIL RECIPE: </b></span><br></p>
            <p><span>Use chili flakes or grind up your own dried chili of choice to a medium grind, where you still see bits of the skin and seed. Use </span><span><b><a href="https://y6rulve8od61p6n3-6585155653.shopifypreview.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=19301797363781" target="_blank">Erjingtiao</a></b></span><span> for a fruity, mild heat, or chili de arbol or thai birds eye if you want to dial up the heat in your dishes.</span>
            </p>
            <p><span>Heat up your choice of oil to 325F, rapeseed is commonly used in Sichuan for its warm nuttiness and numerous health benefits, (but I have not seen actual rapeseed oil in the West- it is not the same as canola oil!), but peanut, soybean or grapseed all work fine.</span>
            </p>
            <p><span>When the oil reaches temperature, pour it over your chili and stir with a rubber spatula. The rule of thumb is to use about</span><span><b> 4:1 oil vs chili bits</b></span><span> in volume. So if you’re using 1 cup of chili flakes, pour about 4 cups of oil on top. Some people like to add cassia bark, star anise, cardamom and ginger in the mix as well for added fragrance, and that’s up to you, just strain it out before you use the oil.</span>
            </p>
            <p><span>Once cool, the oil will develop its flavor over the next few days, so it will be best used after a short wait. Use in preparation of the vegan mapo tofu and drizzle the rest over everything you eat.</span>
            </p></div>
        </div>
      </div>
    </section>
    <section name="media" layout="" page="[object Object]" class="colorful scheme section scheme pb-row md:pb-row-lg blok blok-section blok-section--media media text-center w-full scheme--mustard has-teeth"> <!---->
      <div class="section__content">
        <div class="media__wrap wrap">
          <div class="media__gradient scheme-gradient"></div> <!----> </div>
      </div>
    </section>
  </div>
</article>