<div class="content-item" style="width:100%">\n
  <div style="font-size: 18px; font-weight: bold;">
    <a class="action-button edit-filters btn btn-default submit" title="Edit CSS Filters" data-href="/recipes/15878/edit.json?topics=site&amp;mode=modal" href="javascript:void(0);"><img src="/assets/CSS Logo-c13d51f8bebe7d77725a5e6576b9bd3a5c2916999002e87993d39b38db17cc47.svg"/></a><a class="btn btn-default submit" title="Your Tooltip Here" data-href="/gleanings/2343.json?mode=partial" href="javascript:void(0);">Raw
    Page
    Content</a><a class="btn btn-default submit" title="Your Tooltip Here" data-href="/page_refs/32556.json?mode=partial" href="javascript:void(0);">Trimmed
    Page Content</a>&nbsp;<strong>Recipe As
    Presented</strong>&nbsp;<a class="action-button glyphicon glyphicon-refresh submit" title="Refresh Content" data-href="/recipes/15878.json?refresh=true&amp;mode=partial" href="javascript:void(0);"></a><a class="action-button annotate-content submit" title="Annotate Content" data-href="/recipes/15878/recipe_contents/edit.json?mode=modal" href="javascript:void(0);">
    <div class=" sprite-glyph sprite-glyph-xl">
      <svg height="100%" id="edit-red" viewBox="500 1870 500 500">
        <use xlink:href="/assets/recipe-power-sprite-4ee11843f893949ecad0437405e5dffdc2db316b064af26806ff430d46e19baa.svg#edit-red"/>
      </svg>
    </div>
  </a></div>
  **If this recipe page contains multiple recipes, click
  <a class="submit" title="Split Recipe" data-href="/recipes/15878/recipe_page.json?launch_dialog=annotate-content&amp;mode=partial" rel="nofollow" data-method="POST" href="javascript:void(0);">here</a>
  <hr style="margin: 10px; color: #bbb">
  \n
  <div id="rp-html-content">\n <h2>Asparagus Mushroom &amp; Goat Cheese Enchiladas with Pine Nut Mole Sauce</h2>\n
    <h3>Ingredients</h3>\n
    <ul class="rp_inglist">\n
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/4 cup</span>
        <span class="homelink-item tag_1399"><a class="rp_ingredient_tag entity tag clicker submit" title="olive oil" data-href="/tags/1399/associated.json?mode=partial" href="javascript:void(0);">olive oil</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/4 cup</span>
        <span class="rp_presteps rp_condition_tag">chopped</span>
        <span class="homelink-item tag_7615"><a class="rp_ingredient_tag entity tag clicker submit" title="white onion" data-href="/tags/7615/associated.json?mode=partial" href="javascript:void(0);">white onion</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 cup</span>
        <span class="homelink-item tag_20136"><a class="rp_ingredient_tag entity tag clicker submit" title="raw pine nuts" data-href="/tags/20136/associated.json?mode=partial" href="javascript:void(0);">raw pine nuts</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1</span>
        <span class="homelink-item tag_19986"><a class="rp_ingredient_tag entity tag clicker submit" title="garlic clove" data-href="/tags/19986/associated.json?mode=partial" href="javascript:void(0);">garlic clove</a></span>
        chopped\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 pound</span>
        <span class="homelink-item tag_20137"><a class="rp_ingredient_tag entity tag clicker submit" title="ripe tomatoes" data-href="/tags/20137/associated.json?mode=partial" href="javascript:void(0);">ripe tomatoes</a></span>
        coarsely chopped\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">2</span>
        <span class="homelink-item tag_20145"><a class="rp_ingredient_tag entity tag clicker submit" title="ancho chiles" data-href="/tags/20145/associated.json?mode=partial" href="javascript:void(0);">ancho chiles</a></span>
        stemmed, seeded, and coarsely chopped or broken into pieces\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/2 cup</span>
        <span class="homelink-item tag_19939"><a class="rp_ingredient_tag entity tag clicker submit" title="freshly squeezed orange juice " data-href="/tags/19939/associated.json?mode=partial" href="javascript:void(0);">freshly squeezed orange juice </a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">4 cups</span>
        <span class="homelink-item tag_11530"><a class="rp_ingredient_tag entity tag clicker submit" title="vegetable" data-href="/tags/11530/associated.json?mode=partial" href="javascript:void(0);">vegetable</a></span>
        or
        <span class="homelink-item tag_4244"><a class="rp_ingredient_tag entity tag clicker submit" title="chicken broth" data-href="/tags/4244/associated.json?mode=partial" href="javascript:void(0);">chicken broth</a></span>
        homemade or store-bought\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/2 teaspoon</span>
        <span class="homelink-item tag_18910"><a class="rp_ingredient_tag entity tag clicker submit" title="kosher" data-href="/tags/18910/associated.json?mode=partial" href="javascript:void(0);">kosher</a></span>
        or
        <span class="homelink-item tag_6280"><a class="rp_ingredient_tag entity tag clicker submit" title="sea salt" data-href="/tags/6280/associated.json?mode=partial" href="javascript:void(0);">sea salt</a></span>
        or to taste\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/4 teaspoon</span>
        <span class="rp_presteps rp_condition_tag">packed</span>
        <span class="homelink-item tag_3609"><a class="rp_ingredient_tag entity tag clicker submit" title="brown sugar" data-href="/tags/3609/associated.json?mode=partial" href="javascript:void(0);">brown sugar</a></span>
        or to taste\n
      </li>
      \n
    </ul>
    \n <h3>Ingredients</h3>\n
    <ul class="rp_inglist">\n
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 tablespoon</span>
        <span class="homelink-item tag_1399"><a class="rp_ingredient_tag entity tag clicker submit" title="olive oil" data-href="/tags/1399/associated.json?mode=partial" href="javascript:void(0);">olive oil</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 pound</span>
        <span class="homelink-item tag_20147"><a class="rp_ingredient_tag entity tag clicker submit" title="white button" data-href="/tags/20147/associated.json?mode=partial" href="javascript:void(0);">white button</a></span>
        or
        <span class="homelink-item tag_20148"><a class="rp_ingredient_tag entity tag clicker submit" title="baby bella (cremini) mushrooms" data-href="/tags/20148/associated.json?mode=partial" href="javascript:void(0);">baby bella (cremini) mushrooms</a></span>
        cleaned and diced\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 tablespoon</span>
        <span class="homelink-item tag_11438"><a class="rp_ingredient_tag entity tag clicker submit" title="unsalted butter" data-href="/tags/11438/associated.json?mode=partial" href="javascript:void(0);">unsalted butter</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 pound</span>
        <span class="homelink-item tag_528"><a class="rp_ingredient_tag entity tag clicker submit" title="asparagus" data-href="/tags/528/associated.json?mode=partial" href="javascript:void(0);">asparagus</a></span>
        tough ends removed, peeled from just below the tips tothe bottom, and cut into 1-inch pieces\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">2 teaspoons</span>
        <span class="rp_presteps rp_condition_tag">chopped</span>
        <span class="homelink-item tag_19992"><a class="rp_ingredient_tag entity tag clicker submit" title="fresh thyme" data-href="/tags/19992/associated.json?mode=partial" href="javascript:void(0);">fresh thyme</a></span>
        or 1/2 teaspoon dried \n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1 tablespoon</span>
        <span class="rp_presteps rp_condition_tag">grated</span>
        <span class="homelink-item tag_8425"><a class="rp_ingredient_tag entity tag clicker submit" title="orange zest" data-href="/tags/8425/associated.json?mode=partial" href="javascript:void(0);">orange zest</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">1/2 teaspoon</span>
        <span class="homelink-item tag_18910"><a class="rp_ingredient_tag entity tag clicker submit" title="kosher" data-href="/tags/18910/associated.json?mode=partial" href="javascript:void(0);">kosher</a></span>
        or
        <span class="homelink-item tag_6280"><a class="rp_ingredient_tag entity tag clicker submit" title="sea salt" data-href="/tags/6280/associated.json?mode=partial" href="javascript:void(0);">sea salt</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">
        <span class="homelink-item tag_19946"><a class="rp_ingredient_tag entity tag clicker submit" title="Freshly ground black pepper" data-href="/tags/19946/associated.json?mode=partial" href="javascript:void(0);">Freshly ground black pepper</a></span>
      </li>
      \n
    </ul>
    \n <h3>Ingredients</h3>\n
    <ul class="rp_inglist">\n
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">12</span>
        <span class="homelink-item tag_20139"><a class="rp_ingredient_tag entity tag clicker submit" title="corn tortillas" data-href="/tags/20139/associated.json?mode=partial" href="javascript:void(0);">corn tortillas</a></span>\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">6 ounces</span>
        <span class="homelink-item tag_1418"><a class="rp_ingredient_tag entity tag clicker submit" title="goat cheese" data-href="/tags/1418/associated.json?mode=partial" href="javascript:void(0);">goat cheese</a></span>
        cut into chunks (about 3/4 cup)\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">2 tablespoons</span>
        <span class="rp_presteps rp_condition_tag">chopped</span>
        <span class="homelink-item tag_4345"><a class="rp_ingredient_tag entity tag clicker submit" title="chives" data-href="/tags/4345/associated.json?mode=partial" href="javascript:void(0);">chives</a></span>
        for garnish\n
      </li>
      <li class="wprm-recipe-ingredient rp_elmt rp_ingline">\n<span class="rp_amt">2 tablespoons</span>
        <span class="homelink-item tag_4523"><a class="rp_ingredient_tag entity tag clicker submit" title="pine nuts" data-href="/tags/4523/associated.json?mode=partial" href="javascript:void(0);">pine nuts</a></span>
        toasted, for garnish\n
      </li>
      \n
    </ul>
    \n<h3>Instructions</h3>\n
    <ul>\n
      <li>To Prepare To make the mole: Heat 2 tablespoons of the oil in a large casserole or heavy pot over medium
        heat.
      </li>
      \n
      <li>Add the onion and cook for 3 to 4 minutes, until completely softened.Stir in the pine nuts and garlic and cook
        for 2 to 3 minutes, until the garlic becomes fragrant and changes color and the pine nuts are light brown and
        smell toasty.
      </li>
      \n
      <li>Raise the heat to medium- high, add another tablespoon of olive oil and the tomatoes, and cook, stirring
        occasionally, until the tomatoes soften and break down, 7 to 8 minutes.
      </li>
      \n
      <li>Add the ancho chiles, orange juice, broth, salt, and brown sugar and bring to a simmer.Simmer, stirring
        occasionally, until the chiles have rehydrated and plumped up and the sauce has thickened, about 8 minutes more.
      </li>
      \n
      <li>Transfer the contents of the pot to a blender and let cool for a few minutes, then puree, in batches if
        necessary, until completely smooth.
      </li>
      \n
      <li>Rinse out and dry the pot, add the remaining 1 tablespoon oil, and heat over medium heat.</li>
      \n
      <li>Add the pine nut mole, cover partially, and simmer for 5 to 6 minutes, stirring occasionally, until the sauce
        has darkened and thickened a bit more.
      </li>
      \n
      <li>Cover and set aside.</li>
      \n
      <li>To make the filling: Heat the oil in a large skillet or casserole over medium-high heat.</li>
      \n
      <li>Add the mushrooms and let them sear and brown, without stirring, for 3 to 4 minutes.</li>
      \n
      <li>Push the mushrooms to the sides of the pan and add the butter to the middle.</li>
      \n
      <li>When the butter begins to foam, add the asparagus, thyme, orange zest, salt, and pepper to taste, stir
        together with the mushrooms, and cook, stirring occasionally, until the asparagus is crisp-tender, 3 to 4
        minutes.
      </li>
      \n
      <li>Remove from the heat.</li>
      \n
      <li>To assemble: Heat and lightly toast the tortillas on a hot comal or skillet.</li>
      \n
      <li>Dip a tortilla in the mole, place it on a plate, and top with 2 to 3 tablespoons of the mushroom and asparagus
        mixture and a tablespoon of crumbled goat cheese.
      </li>
      \n
      <li>Roll up into a chubby enchilada and place seam side down on a serving platter.</li>
      \n
      <li>Continue with the remaining tortillas and filling.</li>
      \n
      <li>Reheat the sauce if necessary.</li>
      \n
      <li>Spoon a generous amount of sauce on top of the enchiladas (use it all if you wish), garnish with the chives
        and toasted pine nuts, and serve.
      </li>
      \n
    </ul>
    \n<h2>Raw Parsed Content -------------------------------</h2>
    <div class="wprm-recipe wprm-recipe-template-pati-default">
      <div class="single-recipe">\n
        <div id="recipeId" class="single-recipe__header">\n
          <div class="single-recipe__header__left">\n</div>
          \n
        </div>
        \n
        <div class="rp_elmt rp_recipe">\n
          <h2 class="wprm-recipe-name wprm-block-text-bold rp_elmt rp_title">Asparagus Mushroom &amp; Goat Cheese
            Enchiladas with Pine Nut Mole Sauce</h2>\n
          <div class="wprm-recipe-notes-container wprm-block-text-normal">
            <div class="wprm-recipe-notes">
              <span style="display: block;">Enchiladas de Espárragos, Cahmiñones y Queso de Cabra con Mole de Piñón</span>
            </div>
          </div>
          \n\n
          <div class="single-recipe__header__right">\n\n\n</div>
          \n
          <div class="single-recipe__header__aux">\n
            <div class="single-recipe__header__aux__item">\n
              <h3 class="single-recipe__header__aux__item__title">Recipe Yield</h3>\n
              <div class="wprm-recipe-block-container wprm-recipe-block-container-separate wprm-block-text-normal wprm-recipe-servings-container" style="">
                <span class="wprm-recipe-servings-with-unit rp_elmt rp_serves"><span class="wprm-recipe-servings wprm-recipe-details wprm-recipe-servings-29190 wprm-recipe-servings-adjustable-disabled wprm-block-text-normal rp_elmt rp_num_or_range rp_num" data-recipe="29190" aria-label="Adjust recipe servings">6</span> <span class="wprm-recipe-servings-unit wprm-recipe-details-unit wprm-block-text-normal">servings</span></span>
              </div>
              \n
            </div>
            \n
            <div class="single-recipe__header__aux__item">\n
              <h3 class="single-recipe__header__aux__item__title">Cooking time</h3>\n
              <div>\n<span class="wprm-recipe-details wprm-recipe-details-minutes wprm-recipe-cook_time wprm-recipe-cook_time-minutes">30</span>
                <span class="wprm-recipe-details-unit wprm-recipe-details-minutes wprm-recipe-cook_time-unit wprm-recipe-cook_timeunit-minutes">minutes</span>
              </div>
              \n
            </div>
            \n
            <div class="single-recipe__header__aux__item">\n
              <h3 class="single-recipe__header__aux__item__title">Rate this recipe</h3>\n
              <style>.wprm-recipe-rating .wprm-rating-star.wprm-rating-star-full svg * {
                fill: #FFFFFF;
              }</style>
              \n
              <div class="wprm-recipe-rating wprm-user-rating wprm-recipe-rating-separate wprm-user-rating-allowed" data-recipe="29190" data-average="3.84" data-count="6" data-total="23" data-user="4">\n<span class="wprm-rating-star wprm-rating-star-1 wprm-rating-star-full" data-rating="1" data-color="#FFFFFF" role="button" tabindex="0" aria-label="Rate this recipe 1 out of 5 stars" onmouseenter="window.WPRecipeMaker.userRating.enter(this)" onfocus="window.WPRecipeMaker.userRating.enter(this)" onmouseleave="window.WPRecipeMaker.userRating.leave(this)" onblur="window.WPRecipeMaker.userRating.leave(this)" onclick="window.WPRecipeMaker.userRating.click(this, event)" onkeypress="window.WPRecipeMaker.userRating.click(this, event)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 24 24"><g transform="translate(0, 0)"><polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,2.6 15,9 21.4,9 16.7,13.9 18.6,21.4 12,17.6 5.4,21.4 7.3,13.9 2.6,9 9,9 " stroke-linejoin="miter"></polygon></g></svg></span><span class="wprm-rating-star wprm-rating-star-2 wprm-rating-star-full" data-rating="2" data-color="#FFFFFF" role="button" tabindex="0" aria-label="Rate this recipe 2 out of 5 stars" onmouseenter="window.WPRecipeMaker.userRating.enter(this)" onfocus="window.WPRecipeMaker.userRating.enter(this)" onmouseleave="window.WPRecipeMaker.userRating.leave(this)" onblur="window.WPRecipeMaker.userRating.leave(this)" onclick="window.WPRecipeMaker.userRating.click(this, event)" onkeypress="window.WPRecipeMaker.userRating.click(this, event)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 24 24"><g transform="translate(0, 0)"><polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,2.6 15,9 21.4,9 16.7,13.9 18.6,21.4 12,17.6 5.4,21.4 7.3,13.9 2.6,9 9,9 " stroke-linejoin="miter"></polygon></g></svg></span><span class="wprm-rating-star wprm-rating-star-3 wprm-rating-star-full" data-rating="3" data-color="#FFFFFF" role="button" tabindex="0" aria-label="Rate this recipe 3 out of 5 stars" onmouseenter="window.WPRecipeMaker.userRating.enter(this)" onfocus="window.WPRecipeMaker.userRating.enter(this)" onmouseleave="window.WPRecipeMaker.userRating.leave(this)" onblur="window.WPRecipeMaker.userRating.leave(this)" onclick="window.WPRecipeMaker.userRating.click(this, event)" onkeypress="window.WPRecipeMaker.userRating.click(this, event)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 24 24"><g transform="translate(0, 0)"><polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,2.6 15,9 21.4,9 16.7,13.9 18.6,21.4 12,17.6 5.4,21.4 7.3,13.9 2.6,9 9,9 " stroke-linejoin="miter"></polygon></g></svg></span><span class="wprm-rating-star wprm-rating-star-4 wprm-rating-star-full" data-rating="4" data-color="#FFFFFF" role="button" tabindex="0" aria-label="Rate this recipe 4 out of 5 stars" onmouseenter="window.WPRecipeMaker.userRating.enter(this)" onfocus="window.WPRecipeMaker.userRating.enter(this)" onmouseleave="window.WPRecipeMaker.userRating.leave(this)" onblur="window.WPRecipeMaker.userRating.leave(this)" onclick="window.WPRecipeMaker.userRating.click(this, event)" onkeypress="window.WPRecipeMaker.userRating.click(this, event)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 24 24"><g transform="translate(0, 0)"><polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,2.6 15,9 21.4,9 16.7,13.9 18.6,21.4 12,17.6 5.4,21.4 7.3,13.9 2.6,9 9,9 " stroke-linejoin="miter"></polygon></g></svg></span><span class="wprm-rating-star wprm-rating-star-5 wprm-rating-star-empty" data-rating="5" data-color="#FFFFFF" role="button" tabindex="0" aria-label="Rate this recipe 5 out of 5 stars" onmouseenter="window.WPRecipeMaker.userRating.enter(this)" onfocus="window.WPRecipeMaker.userRating.enter(this)" onmouseleave="window.WPRecipeMaker.userRating.leave(this)" onblur="window.WPRecipeMaker.userRating.leave(this)" onclick="window.WPRecipeMaker.userRating.click(this, event)" onkeypress="window.WPRecipeMaker.userRating.click(this, event)"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewbox="0 0 24 24"><g transform="translate(0, 0)"><polygon fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" points="12,2.6 15,9 21.4,9 16.7,13.9 18.6,21.4 12,17.6 5.4,21.4 7.3,13.9 2.6,9 9,9 " stroke-linejoin="miter"></polygon></g></svg></span>
                <div class="wprm-recipe-rating-details wprm-block-text-normal">\n<span class="wprm-recipe-rating-average">3.84</span>
                  from <span class="wprm-recipe-rating-count">6</span> votes
                </div>
                \n
              </div>
              \n
            </div>
            \n
          </div>
          \n\n\n
          <div class="single-recipe__body__left">\n
            <div class="wprm-recipe-ingredients-container wprm-recipe-29190-ingredients-container wprm-block-text-normal wprm-ingredient-style-regular" data-recipe="29190" data-servings="6">\n
              <h3 class="wprm-recipe-header wprm-recipe-ingredients-header wprm-block-text-bold wprm-align-left wprm-header-decoration-none" style="">Ingredients</h3>
              \n
              <div class="wprm-recipe-ingredient-group">
                <span class="rp_elmt rp_recipe_section">\n<h4 class="wprm-recipe-group-name wprm-recipe-ingredient-group-name wprm-block-text-faded rp_elmt rp_inglist_header">For the Pine Nut Mole:</h4>\n<ul class="wprm-recipe-ingredients rp_elmt rp_inglist">\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/4</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="cup">cup</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="olive oil">olive oil</span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/4</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="cup">cup</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_prepped_ings"><span class="rp_elmt rp_presteps rp_condition_tag" value="chopped">chopped</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="white onion">white onion</span></span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="cup">cup</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="raw pine nuts">raw pine nuts</span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="wprm-recipe-ingredient-amount rp_elmt rp_amt rp_num">1</span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="garlic clove">garlic clove</span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">chopped</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="pound">pound</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="ripe tomatoes">ripe tomatoes</span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">coarsely chopped</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="wprm-recipe-ingredient-amount rp_elmt rp_amt rp_num">2</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="ancho chiles">ancho chiles</span></span><span class="wprm-recipe-ingredient-name"> </span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">stemmed, seeded, and coarsely chopped or broken into pieces</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="cup">cup</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="freshly-squeezed orange juice">freshly squeezed orange juice </span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">4</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="cups">cups</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts"><span class="rp_elmt rp_ingredient_tag" value="vegetable broth">vegetable</span> or <span class="rp_elmt rp_ingredient_tag" value="chicken broth">chicken broth</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">homemade or store-bought</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="teaspoon">teaspoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts"><span class="rp_elmt rp_ingredient_tag" value="kosher salt">kosher</span> or <span class="rp_elmt rp_ingredient_tag" value="sea salt">sea salt</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">or to taste</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/4</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="teaspoon">teaspoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_prepped_ings"><span class="rp_elmt rp_presteps rp_condition_tag" value="packed">packed</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="brown sugar">brown sugar</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">or to taste</span>\n</li>\n</ul>\n</span>
              </div>
              \n
              <div class="wprm-recipe-ingredient-group">
                <span class="rp_elmt rp_recipe_section">\n<h4 class="wprm-recipe-group-name wprm-recipe-ingredient-group-name wprm-block-text-faded rp_elmt rp_inglist_header">For the Filling:</h4>\n<ul class="wprm-recipe-ingredients rp_elmt rp_inglist">\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="tablespoon">tablespoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="olive oil">olive oil</span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="pound">pound</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts"><span class="rp_elmt rp_ingredient_tag" value="white button mushrooms">white button</span> or <span class="rp_elmt rp_ingredient_tag" value="baby bella mushrooms">baby bella (cremini) mushrooms</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">cleaned and diced</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="tablespoon">tablespoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="unsalted butter">unsalted butter</span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="pound">pound</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="asparagus">asparagus</span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">tough ends removed, peeled from just below the tips tothe bottom, and cut into 1-inch pieces</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="teaspoons">teaspoons</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_prepped_ings"><span class="rp_elmt rp_presteps rp_condition_tag" value="chopped">chopped</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="fresh thyme">fresh thyme</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">or 1/2 teaspoon dried </span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="tablespoon">tablespoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_prepped_ings"><span class="rp_elmt rp_presteps rp_condition_tag" value="grated">grated</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="orange zest">orange zest</span></span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">1/2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="teaspoon">teaspoon</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts"><span class="rp_elmt rp_ingredient_tag" value="kosher salt">kosher</span> or <span class="rp_elmt rp_ingredient_tag" value="sea salt">sea salt</span></span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="wprm-recipe-ingredient-name rp_elmt rp_ingspec rp_ingalts rp_ingredient_tag" value="Freshly ground black pepper">Freshly ground black pepper</span></li>\n</ul>\n</span>
              </div>
              \n
              <div class="wprm-recipe-ingredient-group">\n</div>
              \n
            </div>
            \n
          </div>
          \n<span class="rp_elmt rp_recipe_section"><h4 class="wprm-recipe-group-name wprm-recipe-ingredient-group-name wprm-block-text-faded rp_elmt rp_inglist_header">To assemble:</h4>\n<ul class="wprm-recipe-ingredients rp_elmt rp_inglist">\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;"><span class="rp_elmt rp_ingspec">\n<span class="wprm-recipe-ingredient-amount rp_elmt rp_amt rp_num">12</span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="corn tortillas"><a href="https://patijinich.com/homemade-corn-tortillas/" class="wprm-recipe-ingredient-link" target="_blank">corn tortillas</a></span>\n</span></li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">6</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="ounces">ounces</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="goat cheese">goat cheese</span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">cut into chunks (about 3/4 cup)</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="tablespoons">tablespoons</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_prepped_ings"><span class="rp_elmt rp_presteps rp_condition_tag" value="chopped">chopped</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="chives">chives</span></span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">for garnish</span>\n</li>\n<li class="wprm-recipe-ingredient rp_elmt rp_ingline" style="list-style-type: disc;">\n<span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="wprm-recipe-ingredient-amount rp_elmt rp_num">2</span> <span class="wprm-recipe-ingredient-unit rp_elmt rp_unit rp_unit_tag" value="tablespoons">tablespoons</span></span> <span class="wprm-recipe-ingredient-name rp_elmt rp_ingalts rp_ingredient_tag" value="pine nuts">pine nuts</span></span> <span class="wprm-recipe-ingredient-notes wprm-recipe-ingredient-notes-faded rp_elmt rp_ing_comment">toasted, for garnish</span>\n</li>\n</ul>\n\n\n\n\n\n<div class="rp_elmt rp_instructions">\n<h3 class="wprm-recipe-header wprm-recipe-instructions-header wprm-block-text-bold wprm-align-left wprm-header-decoration-none" style="">To Prepare</h3>\n<div class="wprm-recipe-instruction-group">\n<h4 class="wprm-recipe-group-name wprm-recipe-instruction-group-name wprm-block-text-normal">To make the mole:</h4>\n<ul class="wprm-recipe-instructions">\n<li id="wprm-recipe-29190-step-0-0" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Heat 2 tablespoons of the oil in a large casserole or heavy pot over medium heat. Add the onion and cook for 3 to 4 minutes, until completely softened.Stir in the pine nuts and garlic and cook for 2 to 3 minutes, until the garlic becomes fragrant and changes color and the pine nuts are light brown and smell toasty. Raise the heat to medium- high, add another tablespoon of olive oil and the tomatoes, and cook, stirring occasionally, until the tomatoes soften and break down, 7 to 8 minutes. Add the ancho chiles, orange juice, broth, salt, and brown sugar and bring to a simmer.Simmer, stirring occasionally, until the chiles have rehydrated and plumped up and the sauce has thickened, about 8 minutes more.</span></div></li>\n<li id="wprm-recipe-29190-step-0-1" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Transfer the contents of the pot to a blender and let cool for a few minutes, then puree, in batches if necessary, until completely smooth.</span></div></li>\n<li id="wprm-recipe-29190-step-0-2" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Rinse out and dry the pot, add the remaining 1 tablespoon oil, and heat over medium heat. Add the pine nut mole, cover partially, and simmer for 5 to 6 minutes, stirring occasionally, until the sauce has darkened and thickened a bit more. Cover and set aside.</span></div></li>\n</ul>\n</div>\n<div class="wprm-recipe-instruction-group">\n<h4 class="wprm-recipe-group-name wprm-recipe-instruction-group-name wprm-block-text-normal">To make the filling:</h4>\n<ul class="wprm-recipe-instructions"><li id="wprm-recipe-29190-step-1-0" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Heat the oil in a large skillet or casserole over medium-high heat. Add the mushrooms and let them sear and brown, without stirring, for 3 to 4 minutes. Push the mushrooms to the sides of the pan and add the butter to the middle. When the butter begins to foam, add the asparagus, thyme, orange zest, salt, and pepper to taste, stir together with the mushrooms, and cook, stirring occasionally, until the asparagus is crisp-tender, 3 to 4 minutes. Remove from the heat.</span></div></li></ul>\n</div>\n\n<h4 class="wprm-recipe-group-name wprm-recipe-instruction-group-name wprm-block-text-normal">To assemble:</h4>\n\n<li id="wprm-recipe-29190-step-2-0" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Heat and lightly toast the tortillas on a hot comal or skillet.</span></div></li>\n<li id="wprm-recipe-29190-step-2-1" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Dip a tortilla in the mole, place it on a plate, and top with 2 to 3 tablespoons of the mushroom and asparagus mixture and a tablespoon of crumbled goat cheese. Roll up into a chubby enchilada and place seam side down on a serving platter. Continue with the remaining tortillas and filling.</span></div></li>\n<li id="wprm-recipe-29190-step-2-2" class="wprm-recipe-instruction" style="list-style-type: decimal;"><div class="wprm-recipe-instruction-text"><span style="display: block;">Reheat the sauce if necessary. Spoon a generous amount of sauce on top of the enchiladas (use it all if you wish), garnish with the chives and toasted pine nuts, and serve.</span></div></li>\n</div></span>\n
        </div>
        \n
        <div class="single-recipe__body">\n
          <div class="single-recipe__body__right">\n
            <div class="wprm-recipe-instructions-container wprm-recipe-29190-instructions-container wprm-block-text-normal" data-recipe="29190">\n
              <div class="wprm-recipe-instruction-group">\n
                <ul class="wprm-recipe-instructions">\n</ul>
                \n
              </div>
              \n
            </div>
            \n
            <footer class="single-tags-section">\n
              <ul>\n
                <li class="single-tags-section__title">Tags</li>
                \n
                <li><a href="https://patijinich.com/blog/tags/mushrooms/%20" rel="tag">mushrooms</a></li>
                \n
                <li><a href="https://patijinich.com/blog/tags/ancho/%20" rel="tag">ancho</a></li>
                \n
                <li><a href="https://patijinich.com/blog/tags/enchiladas/%20" rel="tag">enchiladas</a></li>
                \n
                <li><a href="https://patijinich.com/blog/tags/asparagus/%20" rel="tag">asparagus</a></li>
                \n
                <li><a href="https://patijinich.com/blog/tags/mole-sauce/%20" rel="tag">mole sauce</a></li>
                \n
              </ul>
              \n<a class="single-tags-section__comment-link" href="https://patijinich.com/#comments">Leave a comment</a>\n
            </footer>
            \x3C!-- single tags section -->\n
          </div>
          \n
        </div>
        \n
      </div>
    </div>
    \n
  </div>
  \n
</div>\n