<div class="entry-header-inner">
  <h1 class="title recipe-title c-post__h1 rp_elmt rp_title">Sheet-Pan Spiced Cauliflower and Tofu With Ginger Yogurt
    Recipe</h1>   <!-- share bar end -->
  <p class="headnote">Spiced roasted cauliflower and crispy tofu with a gingery yogurt make for a filling meal.</p>
</div>
<div class="recipe-ingredients"><h2 class="title-section">Ingredients</h2>
  <div class="rp_elmt rp_inglist">
    <ul>
      <li class="ingredient">
        <span class="rp_elmt rp_inglist_label">1 large (2 3/4-pound; 1.25kg) head cauliflower</span></li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">5</span> <span class="rp_elmt rp_qualified_unit"><span class="rp_elmt rp_unit" value="tablespoons">tablespoons</span> <span class="rp_elmt rp_altamt">(<span class="rp_elmt rp_unqualified_amt">75ml</span>)</span></span></span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="extra virgin olive oil">extra-virgin olive oil</span></span><span class="rp_elmt rp_ing_comment">, divided, plus more for drizzling</span>
      </li>
      <li class="ingredient rp_elmt rp_ingline">1 3/4 teaspoons store-bought ras el hanout, divided (see note)</li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec rp_ingalts rp_ingredient_tag" value="kosher salt">Kosher salt</span></li>
      <li class="ingredient rp_elmt rp_ingline">2 (12-ounce; 340g) packs
        <span class="rp_elmt rp_ingredient_tag" value="extra-firm tofu">extra-firm tofu</span></li>
      <li class="ingredient rp_elmt rp_ingline">2 cups (475ml) full-fat Greek yogurt</li>
      <li class="ingredient rp_elmt rp_ingline">One (3-inch) piece fresh ginger (about 2 ounces; 55g), peeled and finely
        grated or minced
      </li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec rp_ingalts rp_ingredient_tag" value="Freshly ground black pepper">Freshly ground black pepper</span>
      </li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="red onion">red onion</span></span>
        <span class="rp_elmt rp_ing_comment">(8 ounces; 225g), sliced about 1/8 inch-thick and soaked for at least 10 minutes in ice water</span>
      </li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">3</span> <span class="rp_elmt rp_qualified_unit rp_unit" value="cups">cups</span></span> <span class="rp_elmt rp_presteps rp_condition_tag" value="loosely packed">loosely packed</span> <span class="rp_elmt rp_ingalts rp_ingredient_tag" value="fresh mint">fresh mint</span></span>
        <span class="rp_elmt rp_ing_comment">leaves and cilantro sprigs (about one-half bunch cilantro and one bunch mint)</span>
      </li>
      <li class="ingredient rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt rp_num_or_range rp_range">One</span> <span class="rp_elmt rp_ingalts"><a href="https://www.seriouseats.com/recipes/2011/03/how-to-make-preserved-lemons.html"><span class="rp_elmt rp_ingredient_tag" value="preserved lemon">preserved lemon</span></a>, <span class="rp_elmt rp_ingredient_tag" value="seeds">seeds</span></span></span>
        <span class="rp_elmt rp_ing_comment">removed and flesh and peel finely diced (optional; see note)</span></li>
      <li class="ingredient"><span class="rp_elmt rp_inglist_label">Dried ground sumac, for sprinkling (optional)</span>
      </li>
    </ul>
  </div>
  <span id="relish-button" data-recipe-id="451057"></span></div>
<div class="recipe-procedures show-large-images rp_elmt rp_instructions"><h2 class="title-section">Directions</h2>
  <ol class="recipe-procedures-list instructions">
    <li class="recipe-procedure">
      <div class="recipe-procedure-number checked">1.</div>
      <div class="recipe-procedure-text">
        <p>Preheat oven to 475°F (245°C) with a clean rimmed baking sheet set on the middle rack. While the oven heats,
          <a href="https://www.seriouseats.com/2017/03/how-to-buy-store-cut-cauliflower-into-florets.html">cut the
            cauliflower into 1-inch florets</a>. In a large bowl, toss cauliflower with 3 tablespoons (45ml) olive oil
          and 1 1/2 teaspoons ras el hanout; season with salt. </p></div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">2.</div>
      <div class="recipe-procedure-text">
        <p>Add cauliflower to heated baking sheet, carefully spreading it in a single even layer; set bowl aside. Return
          baking sheet to oven and roast cauliflower until it is just tender and lightly browned, about 20 minutes.</p>
      </div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">3.</div>
      <div class="recipe-procedure-text">
        <p>While cauliflower is cooking, bring a kettle of water to a boil. Drain tofu and cut it into 1- by 3/4-inch
          planks. Place tofu pieces in a colander in the sink and pour the boiling water all over them.</p></div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">4.</div>
      <div class="recipe-procedure-text">
        <p>Transfer tofu to work surface lined with paper towels. Arrange tofu pieces in an even layer, then lay more
          paper towels on top and press down to absorb excess water. Add tofu to the same mixing bowl used for
          cauliflower and toss with remaining 2 tablespoons (30ml) olive oil and 1/4 teaspoon ras el hanout. Season with
          salt.</p></div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">5.</div>
      <div class="recipe-procedure-text">
        <p>When cauliflower is cooked, transfer to platter to cool; wipe baking sheet to ensure any stray bits of
          cauliflower are removed. Arrange tofu on now-empty baking sheet in a single even layer, then roast, flipping
          once halfway through, until crispy on both sides, about 15 minutes.</p></div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">6.</div>
      <div class="recipe-procedure-text">
        <p>Meanwhile, in a small mixing bowl, stir together yogurt and ginger. Season with salt and a generous amount of
          black pepper.</p></div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">7.</div>
      <div class="recipe-procedure-text">
        <p>In a separate medium bowl, drain red onion, making sure to remove any stray pieces of ice. Sprinkle all over
          with salt, and using your fingers, rub salt into the onion slices. Let stand for at least 10 minutes.</p>
      </div>
    </li>
    <li class="recipe-procedure">
      <div class="recipe-procedure-number ">8.</div>
      <div class="recipe-procedure-text">
        <p>To serve, dollop a generous amount of ginger yogurt onto each serving plate or bowl. Mound the cauliflower
          and tofu on top. Drizzle with fresh olive oil and scatter preserved lemon on top, if using. Drain onions of
          any accumulated liquid, then toss with cilantro sprigs and mint. Mound herb salad on top of cauliflower and
          tofu, and sprinkle with sumac, if using. Serve warm or at room temperature.</p></div>
    </li>
  </ol>
</div>
