<div class="rightblock">
<!--
  <div class="auth_signin">
    <% render partial: 'shared/authentications_possible' %>
  </div>
  <br>
-->
  <div class="right_signin">
    <%= render partial: "shared/slug_signin" %>
  </div>
</div>
<h3>RecipePower: The Best Recipes on the Web, According to...You</h3> 
<div class="text_block">
<p class="airy">
The Web is the greatest library for cooks, <strong>ever</strong>--and the search tools are amazing. But once you've found j-u-u-u-s-t the right recipe, what if you want it again later? How do you get it back without going through the whole process again? If you've ever wished you could stash those jewels away in your own brilliant collection, welcome to RecipePower. Here, you collect, organize, share, rediscover and generally splash around in all your food-related "cookmarks" from the Web. You'll also find like-minded cooks on the same quest. Share recipes with, learn from, teach and collaborate with fellow travellers in your neighborhood of the food world.</p>
<h4>What's Different about RecipePower?</h4>
<p class="airy">
There are many recipe-clipping and -sharing sites these days. But most of them support a limited set of cooking sites, or expect you to wrangle with importing recipes, or both. RecipePower doesn't import anything. Instead, our cookmarks simply remember where the recipe lives. The whole process is a breeze: capture, tag and share a recipe in seconds. And there are no limits to where you can collect from. If you see it in a browser window, you can cookmark it.
</p><p class="airy">
It's early days, and RecipePower is currently open by invitation only. Click the Cookmarks link above to get a feeling for what's happening here. If you'd like an invitation, drop us a line at <a href="mailto:support@recipepower.com">support@recipepower.com</a>.

<br class="clear">