<p>
  <span>300g tofu cut into cubes (I prefer the texture of softer tofu but regular works as well)</span><br>
  <span>1 ounce dried shiitake mushrooms (dried is important as it has much more concentrated umami flavor than fresh)</span><br>
  <span>2 garlic cloves, minced</span><br>
  <span>1 tsp minced ginger</span><br>
  <span>2 tbsp </span><span><a href="https://www.flybyjing.com/collections/frontpage/products/premium-3-year-aged-broad-bean-paste" target="_blank">Doubanjiang</a></span><span> (fermented fava (broad) bean paste)</span><br>
  <span>2 tbsp </span><span><a href="https://www.flybyjing.com/collections/frontpage/products/sichuan-chili-crisp?variant=16950355361861" target="_blank">Sichuan Chili Crisp</a></span><br>
  <span>3 tbsp chili oil (*super easy recipe for this below, but you can substitute with regular oil for less heat if you'd like)</span><br>
  <span>1 tbsp </span><span><a href="https://www.amazon.com/Pearl-River-Bridge-Flavor-Preserved/dp/B004E55SDG/ref=sr_1_3?keywords=fermented+black+beans&amp;qid=1583261576&amp;sr=8-3" target="_blank">fermented black beans</a></span><br>
  <span>1/2 cup stock or bone broth (you can also substitute the water used for soaking shiitakes)</span><br>
  <span>1 tsp cornstarch dissolved in 1 tbsp water</span><br>
  <span>1/2 tsp whole </span><span><a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">Sichuan pepper</a></span><br>
  <span>1 pinch ground roasted </span><span><a href="https://www.flybyjing.com/collections/frontpage/products/tribute-pepper-erjingtiao-chili-combo?variant=17879532961861" target="_blank">Sichuan pepper</a></span><span> (roasting right before grinding releases maximum flavor)</span><br>
  <span>3 scallions, whites cut in 1 inch pieces, greens thinly sliced</span><br><br>
</p>
