<div class="content__article-body from-content-api js-article__body" itemprop="articleBody" data-test-id="article-review-body">
  <p><span class="drop-cap"><span class="drop-cap__inner">M</span></span>ost asparagus dishes are easy to prepare (this
    is no artichoke or broad bean) and quick to cook (longer cooking makes it go grey and lose its body). The price you
    pay for this instant veg, though, is that it has to be super-fresh. As Jane Grigson observed: “Asparagus needs to be
    eaten the day it is picked. Even asparagus by first-class post has lost its finer flavour.” Realistically, most of
    us don’t live by an asparagus field, so have to extend Grigson’s one-day rule. Even so, the principle is clear: for
    this delicate vegetable, the fresher the better.</p>
  <h2>Asparagus with pine nut and sourdough crumbs (pictured above)</h2>
  <p>Please don’t be put off by the anchovies in this, even if you don’t like them. There are only two fillets, and they
    add a wonderfully deep, savoury flavour; there’s nothing fishy about the end product, I promise. If you’re not
    convinced and would rather leave them out, increase the salt slightly. Serve with meat, fish or as part of a spring
    meze; or, for a summery starter, with a poached egg.</p>
  <p>Prep <strong>5 min</strong><br>Cook <strong>20 min</strong><br>Serves <strong>4</strong></p>
  <p><strong>30g crustless sourdough bread</strong><br><strong>30g pine nuts</strong><br><strong>2 anchovy
    fillets</strong>, drained and finely chopped<br><strong>Flaked sea salt and black pepper</strong><br><strong>25g
    unsalted butter</strong><br><strong>400g asparagus</strong>, woody ends trimmed<strong> </strong><br><strong>1 tbsp
    olive oil</strong><br><strong>1 garlic clove</strong>, peeled and crushed<br><strong>10g basil leaves</strong>,
    finely shredded<br><strong>½ tsp each finely grated lemon zest and juice</strong></p>
  <p>Heat the oven to 220C/425F/gas 7. Blitz the sourdough in a food processor to fine crumbs, then pulse a few times
    with the pine nuts, anchovies, a generous pinch of flaked sea salt and plenty of pepper, until everything is finely
    chopped.<br></p>
</div>
