<div id="directions" class="recipe-section"><h4 class="small-label upper space normal">Directions</h4>
  <ul class="steps clean">
    <li>
      <div class="step-number bold grey">01</div>
      <div class="text step-text">
        <p>Heat a grill to medium-high, or preheat the oven to 450˚ F.  To make the dressing, combine the lime juice,
          oils, soy sauce, honey, ginger, garlic, jalapeño, and cilantro in a liquid measuring cup or jar.  Whisk well
          to blend fully.  Season with salt and pepper to taste.  Set aside.</p></div>
    </li>
    <li>
      <div class="step-number bold grey">02</div>
      <div class="text step-text">
        <p>To make the salad, combine the cabbage, green onions, red pepper, spinach, and carrot in a medium bowl and
          toss until evenly mixed.  Dress with about half of the dressing, toss well, and then add more dressing to
          taste as desired.</p></div>
    </li>
    <li>
      <div class="step-number bold grey">03</div>
      <div class="text step-text">
        <p>Lay a large piece of aluminum foil flat on a work surface and fold the edges up slightly.  Lay the salmon
          pieces skin side down on one half of the foil.  Combine the lime juice, soy sauce, garlic in a small bowl.
           Drizzle the mixture evenly over the salmon fillets.  Sprinkle the ginger rounds over the fillets, drizzle
          lightly with sriracha, and season with salt and pepper.  Fold the empty half of the foil over the salmon and
          fold the edges over to seal the packet completely.</p></div>
    </li>
    <li>
      <div class="step-number bold grey">04</div>
      <div class="text step-text">
        <p>Transfer to the heated grill or oven to bake.  Let cook until fully cooked through and an instant read
          thermometer inserted in the center reads 160˚ F.  (Cooking time will vary depending on your cooking method and
          the thickness of the fillets.  Remove smaller fillets as needed when fully cooked through, to avoid
          overcooking while waiting on the larger pieces to finish.)  Serve the warm salmon over a bed of the cabbage
          salad.</p></div>
    </li>
  </ul>
</div>