<%= render partial: (current_user ? "shared/bookmarklet_sidebar" : "shared/signup_at_right") %>
<div class="text_block">
	<h2 class="med">Cook Me Later:<br>Hold Onto That Recipe!</h2>
<p class="airy">
	When you find a great recipe on the Web--one that seems it was written just for you, only not for now--do you squirrel it away someplace safe? Or is that too much hassle? Does that jewel slip back into the ocean?
	</p><p class="airy">
	Unless you have a way to "cookmark" recipes around, and you actually <strong>use</strong> it, then you need Cook Me Later. With the Cook Me Later button in your browser bar,  any recipe <strong>instantly</strong> joins your personal stash of the best of the Web. No import hassles, no confusing website, just cream. 
	</p><p class="airy">
	As your collection grows, you can tag recipes to make them easier to find again: get inspired when opportunity strikes! With your foodie friends on Cook Me Later, get tipped off to their findings, and vice versa, automatically. 
	</p>
</div>
<ul>
	<li>Grab any recipe instantly--without even leaving the page. Any recipe, no import hassles</li>
	<li>Attach breadcrumbs to lead you back to it at the right time</li>
	<li>Find like-minded friends and follow their findings</li>
	<li>Tune in to Channels for discoveries in your areas of interest</li>
	<li>Hungry for more? Tuck into RSS Feeds from across the Web</li>
</ul>
