<section class="o-Recipe">
  <div class="recipe-lead" data-module="recipe-lead">  <!-- Recipe Info (Summary) Section -->
    <div class="m-RecipeSummary" data-module="recipe-summary">
      <div class="attribution">
        <span style="display: none" class="clicktracking" data-resource-type="/apps/foodcom/components/recipe/attribution"></span>
        <div class="o-Attribution">
          <div class="o-Attribution__m-Body">
            <div class="o-Attribution__m-TextWrap">
              <div class="o-Attribution__m-Author">
                <span class="o-Attribution__a-Author--Prefix"> <span class="o-Attribution__a-Name"> Recipe courtesy of Rob Marshall </span> and <span class="o-Attribution__a-Name"> John DeLuca </span> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="assetTitle">
        <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/article/assetTitle"></span>
        <section class="o-AssetTitle">
          <h1 class="o-AssetTitle__a-Headline"><span class="o-AssetTitle__a-HeadlineText">Blood Orange Cosmos</span>
          </h1></section>
      </div>
      <div class="review reviewSummary">
        <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/hidden/reviewSummary"></span>
        <div class="o-ReviewSummary" data-module="user/rating-summary">
          <div class="review-summary">
            <div class="rating-stars" title="loading">
              <div class="rating-star rating-star-empty"></div>
              <div class="rating-star rating-star-empty"></div>
              <div class="rating-star rating-star-empty"></div>
              <div class="rating-star rating-star-empty"></div>
              <div class="rating-star rating-star-empty"></div>
            </div>
            <span class="loading">Getting reviews...</span></div>
        </div>
      </div>
    </div>
    <div class="assetDescription">
      <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/article/assetDescription"></span>
    </div>
    <div class="categories">
      <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/recipe/categories"></span>
    </div>
    <div class="recipeInfo">
      <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/recipe/recipeInfo"></span>
      <div class="o-RecipeInfo">
        <ul class="o-RecipeInfo__m-Level">
          <li><span class="o-RecipeInfo__a-Headline">Level:</span> <span class="o-RecipeInfo__a-Description">Easy</span>
          </li>
        </ul>
        <ul class="o-RecipeInfo__m-Time">
          <li><span class="o-RecipeInfo__a-Headline m-RecipeInfo__a-Headline--Total">Total:</span>
            <span class="o-RecipeInfo__a-Description m-RecipeInfo__a-Description--Total"> 15 min</span></li>
          <li><span class="o-RecipeInfo__a-Headline">Active:</span>
            <span class="o-RecipeInfo__a-Description"> 15 min</span></li>
        </ul>
        <ul class="o-RecipeInfo__m-Yield">
          <span style="display: none" class="clicktracking" data-resource-type="sni-foundation/components/recipe/yield"></span>
          <li><span class="o-RecipeInfo__a-Headline">Yield:</span>
            <span class="o-RecipeInfo__a-Description">6 drinks</span></li>
          <span style="display: none" class="clicktracking" data-resource-type="sni-foundation/components/recipe/nutritionInfo"></span>
        </ul>
      </div>
    </div>
    <div class="wallOfText">
      <span style="display: none" class="clicktracking" data-resource-type="foodcom/components/recipe/wallOfText"></span>
    </div> <!-- Asset Actions == save + meal plan + print + social in beta -->  </div>
  <div class="recipe-body">
    <div class="bodyLeft">
      <section>
        <section class="o-Ingredients" data-module="recipe-ingredients">
          <header class="o-Ingredients__m-Header">
            <div class="o-Ingredients__m-TextWrap">
              <h3 class="o-Ingredients__a-Headline"><span class="o-Ingredients__a-HeadlineText">Ingredients</span></h3>
            </div>
          </header>
          <div class="o-Ingredients__m-Body"> <!-- Terms are food and cook, isFood is food OR cook -->
            <p class="o-Ingredients__a-Ingredient o-Ingredients__a-Ingredient--SelectAll"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="Deselect All">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">Deselect All</span> </label></p>
            <p class="o-Ingredients__a-Ingredient"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="2 cups good vodka">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">2 cups good vodka</span> </label></p>
            <p class="o-Ingredients__a-Ingredient"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="1 cup orange liqueur">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">1 cup orange liqueur</span> </label></p>
            <p class="o-Ingredients__a-Ingredient"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="2 cups blood orange juice">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">2 cups blood orange juice</span> </label></p>
            <p class="o-Ingredients__a-Ingredient"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="1/2 cup freshly squeezed lime juice (4 limes)">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">1/2 cup freshly squeezed lime juice (4 limes)</span>
            </label></p>
            <p class="o-Ingredients__a-Ingredient"><label class="checkbox-text">
              <input type="checkbox" class="o-Ingredients__a-Ingredient--Checkbox" checked value="6 generous peels from a fresh blood orange">
              <span class="o-Ingredients__a-Ingredient--CheckboxMock"></span>
              <span class="o-Ingredients__a-Ingredient--CheckboxLabel">6 generous peels from a fresh blood orange</span>
            </label></p></div>
        </section>
      </section>
    </div>
    <div class="bodyRight">
      <header class="o-Method__m-Header">
        <div class="o-Method__m-TextWrap">
          <h3 class="o-Method__a-Headline"><span class="o-Method__a-HeadlineText">Directions</span></h3></div>
      </header>
      <section class="o-Method" data-module="recipe-method" data-read-more-target>
        <div class="o-Method__m-Body oneStep">
          <ol>
            <li class="o-Method__m-Step"> Combine the vodka, orange liqueur, blood orange juice and lime juice in a
              large pitcher. Fill a cocktail shaker half full with ice, pour the cocktail mixture in, and shake for a
              full 30 seconds. Pour into chilled martini glasses, rub the rim of each glass with a blood orange peel and
              add as a garnish. Serve immediately.
            </li>
          </ol>
        </div>
      </section>
      <section class="bodyRight-footer">
        <section class="o-Warnings">
          <p class="o-Warnings__a-Description">A viewer or guest of the show, who may not be a professional cook,
            provided this recipe. It has not been tested for home use.</p></section>
        <section class="o-Copyright">
          <p class="o-Copyright__a-Credit"> Copyright 2014, Rob Marshall and John DeLuca, All Rights Reserved. </p>
        </section>
      </section>
    </div>
  </div>
  <section class="o-RatingsAndReviews o-RatingsAndReviews--NoReviews o-Capsule">
    <header class="o-Capsule__m-Header" id="reviewsTop" data-module="user/rating-summary">
      <div class="review-summary"></div>
    </header>
    <div class="o-UserComments" data-module="user/comments-feed"></div>
  </section>
</section>