<section id="section--instructions_1-0" class="comp section--instructions section rp_elmt rp_instructions">
  <header class="section__header "><h2 class="section__title section__title--bold-underline">Steps</h2></header>
  <div class="loc section-content section__content ">
    <div id="structured-project__steps_1-0" class="comp text-passage structured-content structured-project__steps mntl-sc-page mntl-block" data-sc-sticky-offset="60" data-sc-ad-label-height="24" data-sc-ad-track-spacing="100" data-sc-min-track-height="250" data-sc-max-track-height="600" data-sc-breakpoint="54em" data-sc-load-immediate="1" data-sc-content-positions="[300,600,900,1200,1500,1800,2100]" data-bind-scroll-on-start="true">
      <ol id="mntl-sc-block_3-0" class="comp mntl-sc-block-group--OL mntl-sc-block mntl-sc-block-startgroup">
        <li id="mntl-sc-block_3-0-1" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup"></li>
        <li id="mntl-sc-block_3-0-2" class="comp mntl-sc-block mntl-sc-block-html"> Add the rum and batter into a mug.
        </li>
        <div id="mntl-sc-block_3-0-3" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <li id="mntl-sc-block_3-0-5" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup"></li>
        <li id="mntl-sc-block_3-0-6" class="comp mntl-sc-block mntl-sc-block-html"> Fill with boiling water and stir.
        </li>
        <div id="mntl-sc-block_3-0-7" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
        <li id="mntl-sc-block_3-0-9" class="comp mntl-sc-block-group--LI mntl-sc-block mntl-sc-block-startgroup"></li>
        <li id="mntl-sc-block_3-0-10" class="comp mntl-sc-block mntl-sc-block-html"> Garnish with freshly grated nutmeg
          and a cinnamon stick.
        </li>
        <div id="mntl-sc-block_3-0-11" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
      </ol>
      <p id="mntl-sc-block_3-0-14" class="comp mntl-sc-block mntl-sc-block-html"> *Hot buttered rum batter: In a large
        mixing bowl, add </p>
      <ul class="rp_elmt rp_inglist">
        <li class="rp_elmt rp_ingline">
          <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="pound">pound</span></span> <span class="rp_elmt rp_presteps rp_condition" value="softened">softened</span> <span class="rp_elmt rp_ingalts rp_ingname" value="butter">butter</span></span>,
          <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="pound">pound</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="brown sugar">brown sugar</span></span>,
          <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="pound">pound</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="white sugar">white sugar</span></span>,
          <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="tablespoon">tablespoon</span></span> <span class="rp_elmt rp_ingalts rp_ingname" value="ground cinnamon">ground cinnamon</span></span>
          and
          <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="teaspoon">teaspoon</span></span> each <span class="rp_elmt rp_ingalts"><span class="rp_elmt rp_ingname" value="ground clove">ground clove</span> and <span class="rp_elmt rp_ingname" value="ground nutmeg">ground nutmeg</span></span></span>
        </li>
      </ul>
      <p>. Stir to combine, then add </p>
      <li class="rp_elmt rp_ingline">
        <span class="rp_elmt rp_ingspec"><span class="rp_elmt rp_amt_with_alt rp_amt"><span class="rp_elmt rp_num_or_range rp_range">1</span> <span class="rp_elmt rp_unit" value="quart">quart</span></span> of <span class="rp_elmt rp_presteps rp_condition" value="lightly softened">lightly softened</span> <span class="rp_elmt rp_ingalts rp_ingname" value="vanilla ice cream">vanilla ice cream</span></span>
      </li>
      <p> and stir again. Transfer to a container with a lid, seal and store in the freezer. </p>
      <div id="mntl-sc-block_3-0-15" class="comp mntl-sc-block mntl-sc-block-adslot mntl-block"></div>
    </div>
  </div>
</section>