<%= render partial: (current_user ? "shared/bookmarklet_sidebar" : "shared/signup_at_right") %>
<div class="text_block">
	<h2 class="med">RecipePower:<br>The Cook's Rememberer for the Web</h2>
	<p class="airy">
	Between discovering a great recipe and actually <strong>remembering</strong> it when the time comes is a wide gulf. But RecipePower is here to help: to bring your inspired choices back into mind at just the right moment. How does it work? When your wanderings bring you to a recipe that's just perfect for you (but not now), click the "Cook Me Later" button and it will be waiting for you in RecipePower. Give it some Hints as to when you'd like to see it again (maybe it's a great way to use fresh tomatoes, or something you want to bring out next Thanksgiving or...). Then, when those tomatoes show up, or Fall rolls around, RecipePower leads you right back to them, just like that.
	</p><p class="airy">
	Sound like work, dropping those hints? RecipePower surrounds you with cookmates to help, and you can top into the collections of your friends. Our Channels keep you supplied with recipes of interest. Still hungry for more? Tuck into our Feeds and see the latest recipes, tips and news roll by in one convenient place.
	</p><p class="airy">
	Remember when you found Netflix, and realized you'd never wander glassy-eyed around the video store again? That's the RecipePower feeling. The cream of the Web, distilled and refined, with your name on it: today, in RecipePower. Sign up at right, take our two-minute tour, and the Web will get a lot friendlier to you as a cook. 
	</p>
</div>
<ul>
	<li>Grab any recipe instantly--without even leaving the page. Any recipe, no import hassles</li>
	<li>Attach breadcrumbs to lead you back to it at the right time</li>
	<li>Find like-minded friends and follow their findings</li>
	<li>Tune in to Channels for discoveries in your areas of interest</li>
	<li>Hungry for more? Tuck into RSS Feeds from across the Web</li>
</ul>
