<div class="rp_elmt rp_recipe"><h2>Hurricane Cocktail Recipe</h2>
  <div class="recipe-meta">
    <ul>
      <li class="recipe-prep"><span class="recipemeta-label">Prep time:</span>
        <span class="preptime">5 minutes<span class="value-title" title="PT00H05M"></span></span></li>
      <li class="recipe-yield"><span class="recipemeta-label">Yield:</span> <span class="yield">1 cocktail</span></li>
    </ul>
  </div>
  <div class="entry-details recipe-intronote"><p>
    <em>If using passion fruit syrup instead of purée, leave out the simple syrup – otherwise, the drink may be too
      sweet. </em></p></div>
  <div class="entry-details recipe-ingredients"><h3>Ingredients</h3>
    <ul>
      <li class="ingredient">
        <span class="s1">2 ounces dark rum (I used <a href="https://www.totalwine.com/spirits/rum/dark-rum/myerss-dark/p/2835750">Myer's Original Dark Rum</a>)</span>
      </li>
      <li class="ingredient">
        <span class="s1">2 ounces light rum (I used <a href="https://www.totalwine.com/spirits/rum/gold-rum/mount-gay-silver-rum/p/104485750">Mount Gay Silver Rum</a>)</span>
      </li>
      <li class="ingredient">
        <span class="s1">1 1/2 ounces <a href="https://www.amazon.com/Funkin-Ingredient-Cocktails-Smoothies-Gluten-Free/dp/B004S7C41E?psc=1&SubscriptionId=AKIAIACUHNFKBC6LGOMQ&tag=equipmentwelove-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B004S7C41E&tag=recipenote-20">passion fruit purée</a></span>
      </li>
      <li class="ingredient"><span class="s1">1 ounce freshly-squeezed orange juice</span></li>
      <li class="ingredient"><span class="s1">1 ounce freshly-squeezed lime juice</span></li>
      <li class="ingredient">
        <span class="s1">1/2 ounce <a href="https://www.simplyrecipes.com/recipes/how_to_make_simple_syrup/">simple syrup</a></span>
      </li>
      <li class="ingredient">
        <span class="s1">1/2 ounce <a href="https://www.amazon.com/Roses-Grenadine-1-Liter/dp/B007RQ1JUU/?tag=recipenote-20">grenadine syrup</a></span>
      </li>
      <li class="ingredient">Orange slice and maraschino cherry, for garnish</li>
    </ul>
    <h4 class="ingredient_section_header"> Special equipment:</h4>
    <ul>
      <li>
        <a href="https://www.amazon.com/Winco-Stainless-3-Piece-Cocktail-16-Ounce/dp/B000UEE3DG?psc=1&SubscriptionId=AKIAIACUHNFKBC6LGOMQ&tag=equipmentwelove-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B000UEE3DG&tag=specialequipment-20">Cocktail
          shaker</a></li>
      <li>
        <a href="https://www.amazon.com/Epure-Venezia-Collection-Glassware-Colada/dp/B07JMKH53Y?psc=1&SubscriptionId=AKIAIACUHNFKBC6LGOMQ&tag=equipmentwelove-20&linkCode=xm2&camp=2025&creative=165953&creativeASIN=B07JMKH53Y&tag=specialequipment-20">Hurricane
          glasses</a></li>
    </ul>
  </div>
  <span id="relish-shop-button" data-recipe-id="148298"></span>
  <div class="ad-inline-horizontal-container">
    <div id="SR_Inline_Horizontal_1_148298" class="ad-inline-horizontal"></div>
  </div>
  <div id="sr-recipe-method" class="entry-details recipe-method instructions"><h3>Method</h3>
    <div><p><strong>1 Make the cocktail: </strong>Add the ingredients to a cocktail shaker. Fill with 8 to 10 ounces
      crushed ice, then shake vigorously until the cocktail shaker is too cold to hold, about 30 seconds. Pour into a
      hurricane glass (don't strain!). Pop in a straw and garnish with an orange slice and maraschino cherry.</p></div>
  </div>
</div>