<h1>Looking for Kale Recipes?</h1> 
<br>
RecipePower is the newer-than-new tool for finding recipes on the Internet. In fact, it's so new, we're still working on it--and we'd love to get your opinions. 
<p>
<br>
Hate surveys? We do too. That's why ours is short and sweet: ten questions, six minutes, tops. Thanks!
<br>
<br>
<%= link_to "Take the Survey (Please)!", signup_path, :class => "signup_button round" %>
