<%= page_or_modal title: 'What are we up to here?' do %>
    <p>
      Steve Upstill here, host at RecipePower. I'm asking you to join my little band of home cooks who are helping
      each other make sense of the Web when it comes to our cooking life.
    </p>
    <p>
      The Web is a huge good news/bad news situation for the curious cook. There's an answer to just about every question
      you care to ask about food and cooking, including the most basic one: "What do I cook tonight?" <b>BUT</b>...it's
      spread out all over the place, with plenty of bad/irrelevant information getting in the way.
    </p>
    <p>
      Google and other search engines like Yummly are a decent attack at the problem, but I think (and I'm hoping that
      others think) that there's still some value in the human element, i.e. people working together to get the benefit
      of each others' experience and discoveries. That sounds pretty high-falutin', but what it comes down to is this:
      I want some place to keep hold of what I find (recipes, references, blogs, videos and websites, for starters)
      regardless of where I found it, and I want to share those finds with my friends, in turn hearing about what
      <i>they've</i> turned up.
    </p>
    <p>
      The Big Idea is for RecipePower to become a storehouse for interesting findings from the web, just by virtue of
      people finding it interesting. I'm working hard to put my Good Stuff in here, and I'm hoping to attract people
      who can make good use of it and also, hopefully, chip in with their own findings. It's all about <i>leverage</i>:
      my (our) efforts doing the most good, and getting the most good back.
    </p>
    <p>
      Does this sound a little--or a lot--like Pinterest? It should; but Pinterest is for capturing <i>anything</i>
      interesting on the Web. I think that homing in on food and cooking leads the way to a richer body of knowledge.
      It's kind of hard to describe the difference; I hope that RecipePower itself will do the explaining.
    </p>
    <p>
      So what have we got here? What is RecipePower <i>for</i>, exactly? Here are the high spots:
    </p>
    <h2>
      Collect, Collect, Collect. Then Get Back.
    </h2>
    <p>
      First and foremost, RecipePower is for saving recipes and food sites to a personal collection. When you find
      a dish that gets your juices flowing, why depend on navigating Google to get back to it later? Save it to
      RecipePower, tag it for later retrieval, add your notes to it. Later, you can find it again by brainstorming key
      phrases.
    </p>
    <h2>
      Make Friends
    </h2>
    <p>
      You know what friends are: people who you like to hear what they're up to, and conversely.
      RecipePower is for spreading food discoveries and inspiration around among people with similar tastes (sic), so
      let's do that. Anybody you share food with, invite them to the table!
    </p>
    <h2>
      Share Your Expertise
    </h2>
    <p>
      Show off a little. A "Treasury" is a list of recipes (or whatever) under a theme that you bundle up to share.
      If you know a lot about a particular area of the food world, a Treasury is a really handy way to put it out there.
      Blender Breakfasts? Tea-time Treats? Baby Food? Things To Fix With Kids? Vegan Websites? Only you know what
      you know, so let us know too!
    </p>
    <h2>
      Subscribe to Feeds
    </h2>
    <p>
      Find an author you like who has an RSS feed? Subscribe to it in RecipePower and you'll get notices whenever they
      have something new to share.
    </p>
<% end %>