<div data-role="page" id="Home">
    <div data-role="header" data-position="fixed">
        <h1>RecipePower</h1>
        <a href="#Nav" >Nav</a>
        <a href="#Settings" data-transition="slideup" data-icon="gear">Settings</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li><a data-transition="slide" href="#About">About</a></li>
            <li><a data-transition="slide" href="#Blog">Blog</a></li>
            <li><a data-transition="slide" href="#SignIn">Sign In</a></li>
        </ul>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>This is a <a href="http://nitch.cc">Nitch</a> app.</h4>
    </div>
    <div data-role="panel" id="Nav">
        <h3>Navigation</h3>
        <p>Peek-a-boo!</p>
        <a data-role="button" data-rel="close" href="#Home">Close panel</a>
    </div>
</div>
<div data-role="page" id="About">
    <div data-role="header" data-position="fixed">
        <h1>About</h1>
        <a href="#Home" data-rel="back">Back</a>
    </div>
    <div data-role="content">
        <p>This is the About page...</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>This is a <a href="http://nitch.cc">Nitch</a> app.</h4>
    </div>
</div>
<div data-role="page" id="Blog">
    <div data-role="header" data-position="fixed">
        <h1>Blog</h1>
        <a href="#Home" data-rel="back">Back</a>
    </div>
    <div data-role="content">
        <p>This is the Blog page...</p>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>This is a <a href="http://nitch.cc">Nitch</a> app.</h4>
    </div>
</div>
<div data-role="page" id="SignIn">
    <div data-role="header" data-position="fixed">
        <h1>Sign In to RecipePower</h1>
        <a href="#Home" data-rel="back">Back</a>
    </div>
    <div data-role="content">
        <%= render "authentications/signin_dialog" %>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>This is a <a href="http://nitch.cc">Nitch</a> app.</h4>
    </div>
</div>
<div data-role="page" id="Settings">
    <div data-role="header" data-position="fixed">
        <h1>Settings</h1>
        <a href="#Home" data-rel="back" data-icon="delete">Cancel</a>
        <a href="#Home" data-rel="back" data-icon="check">Save</a>
    </div>
    <div data-role="content">
        <form action="index_submit" method="get" accept-charset="utf-8">
            <label for="basic">Enter your name:</label>
            <input type="text" name="name" id="basic" value="" />
        </form>
    </div>
    <div data-role="footer" data-position="fixed">
        <h4>This is a <a href="http://nitch.cc">Nitch</a> app.</h4>
    </div>
</div>

