<%= title = "Everything You Need To Know About RecipePower"; title = "PS: #{title}" if params[:context] == "signup" %>
<%= modal_dialog :need_to_know, title, class: "trigger" do %>
    <div class="spiel">
      <div class="prompt" style="margin-bottom: 5px">This is your home on RecipePower, where all the goodies are,
        including your recipe collection,
        your friends' collections, and more.
      </div>
    </div>
    <%= render "pages/need_to_know_content" %>
<% end %>