<%= title = "Everything You Need To Know About RecipePower"; title = "PS: #{title}" if params[:context] == "signup" %>
<%= modal_dialog :need_to_know, title, class: "trigger" do %>
    <div class="spiel">
      <div class="prompt">This is your home on RecipePower, where all the goodies are, including your recipe collection,
        your friends' collections, and more.
      </div>
    </div>
    <div class="know_snap">
      <%= image_tag "NeedToKnow.png" %>
    </div>
    <div class="know_block" style="width: 750px">
      <div class="info-block know_browser">
        <h4>Choose</h4>

        <p>Pick a collection to show.</p>
      </div>
      <div class="info-block know_seek">
        <h4>Search</h4>

        <p>Find things <strong>within the collection</strong>.</p>
      </div>
      <div class="info-block know_list">
        <h4>See</h4>

        <p>Everything in the collection (that matches the search).</p>
      </div>
    </div>
<% end %>