<%= page_or_modal title: "RecipePower Privacy Policy" do %>
    <p>
      RecipePower never shares your email address or any other personal information with anyone, full stop. You are
      automatically subscribed to our newsletter, but you can unsubscribe simply by following the Unsubscribe link therein.
    </p>
<% end %>