<%= page_or_modal action: :step3, title: "Step 3: There Is No Step 3", body_class: "red_body" do %>
    <div class="welcome-dialog">
      <p class="airy">
        That's it! You're ready to roll. Welcome to RecipePower, <%= current_user.handle %>!
      </p>

      <p class="airy">
        Remember: any time you're out on the Web and see a recipe (or whatever) you like, the Cookmark button is there
        to send it rocketing to RecipePower.
      </p>

      <p class="airy">
        FYI: Just so you don't get lonely, we've provided you with a starter set of friends, feeds and channels you
        might enjoy. Tailor them to your liking (invite more friends!) any time.
      </p>
      <%= button_to_submit "Start Me Up", popup_path("need_to_know"), "success", "lg", :mode => :modal, class: "dialog-submit-button" %>
    </div>
<% end %>
