<h3>
  Is it a blog? Is it a recipe site? Is it social media?
  <br>
  NO! It's RecipePower!!
</h3>
<p>
  This Steve Upstill talking. I've had two big interests in my life: computing and food. For more than 30 years, I've
  been looking for ways to bring them together, not just because I'm a nerd who eats, but because my nerd side can see
  so much that technology can do to make it easier, less stressful and more satisfying to get food on the table.
</p>
<p>
  When I first started on this, all we had were PCs and Macintosh's, and "recipe management programs"--in fact, I built
  one of those myself. Today, the world
  of food is one part of the Universal Compendium of Knowledge, aka The Web--a very conspicuous part. There are
  thousands of food sites, recipe collections and blogs. There is information about every conceivable (edible) ingredient,
  process, cuisine. And there are vendors galore, proferring the tools and materiel to make your culinary dreams come true.
</p>
<p>
  So with all these resources at our fingertips, why hasn't my life as a cook transformed into one of luxury, excitement and
  fulfillment? When it's time to get dinner on the table, why do I usually resort to the same dishes I've cooked
  all my life? I've got 46,000 recipes in the books on my shelf, and millions more on the Web. What's stopping me from
  exploiting those? Why is it such a chore when the dinner party includes vegetarians, the lactose-intolerant,
  the Paleo crowd, the allergy-ridden? Why is that jar of preserved lemons still sitting in the back of the fridge,
  daring me to make something amazing with it?
</p>
<p>
  The idea here is simple: people getting together to make the most of the part of the Web that's about cooking and eating.
  Despite Google, despite Yummly, despite the ocean of foodie temptations out there, it still feels like the Wild West.
</p>
<p>
  Here's what I think: there must be a killer app for people who eat, waiting to be discovered.
</p>
<p>
  Here's what I know from what we've got so far. See if you agree with me:
</p>
<p>
  Pinterest
</p>
<p>
  But the main thing is this: As a programmer--I programmed this site, in fact--I have more freedom than any writer to
  craft... I hope you'll join me in building a food site that makes sense.
</p>