<h3>
  Is it a blog? Is it a recipe site? Is it social media?
  <br>
  NO! It's RecipePower!!
</h3>
<p>
  The idea here is simple: people getting together to make the most of the part of the Web that's about cooking and eating.
  Despite Google, despite Yummly, despite the ocean of foodie temptations out there, it still feels like the Wild West.
</p>
<p>
  Here's what I think: there must be a killer app for people who eat, waiting to be discovered.
</p>
<p>
  Here's what I know from what we've got so far. See if you agree with me:
</p>
<p>
  Pinterest
</p>
<p>
  But the main thing is this: As a programmer--I programmed this site, in fact--I have more freedom than any writer to
  craft... I hope you'll join me in building a food site that makes sense.
</p>