<h3>Welcome<%= current_user ? ", "+current_user.username : "" %>!</h3> 
<div id="sidebar">
<h3>Getting Started</h3>
<p><%= bookmarklet %>
Make it stupid-simple to capture recipes: drag this handy
	button to your browser's Bookmarks bar. After that, life is sweet: when you find a recipe to remember,
	click the Cookmark link to stow it in RecipePower. 
</p><p>
Without the button, you can always manually copy and paste links into RecipePower, (see the <%= link_to "Add a Cookmark", new_recipe_path %> link above). But that's not very convenient, is it?
</p>
</div>
<p class="airy">We're glad to have you here. Now what? If you can spare two or three minutes learning the lay of the land, give the next section a quick read. Since you've already signed up, we'll spare you the sales pitch.</p>
<h4>RecipePower: The Quick Skinny</h4>
<p class="airy">
Above all, RecipePower is for storing <i>cookmarks</i>, the culinary equivalent of bookmarks. These can be links to recipes or any other culinary scuttlebutt on the Web; if it's on a page in your browser, you can cookmark it. Your cookmarks are gathered in one place, the <strong>Cookmarks</strong> page, which gives you a nice, snappy view of your whole collection, along with a simple way to search through it. The Cookmarks page is also where you can see <i>other</i> collections: those of your friends, or the cookmarks pertaining to various cooking interests. Collections of Cookmarks are the heart of RecipePower.
</p><p class="airy">
How do recipes get <i>into</i> your Cookmarks collection in the first place? Three ways:
<ol class="airy">
	<li class="airy">(<strong>NOT</strong> recommended) When viewing a recipe's page on the Web, you can 
		<ul><li class="airy">Edit/Copy the URL (contents of the Address Bar in your browser) </li>
		    <li class="airy">Go to the "Add a Cookmark" page in RecipePower </li>
			<li class="airy">Edit/Paste the URL into that page.</li>
		</ul>
		But really, that's just a fallback for those too shy to Do The Right Thing, <i>viz</i>:</li>
	<li class="airy">(Way easier) Install our bookmarklet in your browser (see the sidebar). Then any recipe (or other link) on the web can be added to your collection by just clicking the bookmarklet, thereby whisking the current page off to RecipePower.</li>
	<li class="airy">Easiest of all is to just grab a cookmark from somebody else on RecipePower. When you're in another Cookmarks collection, each recipe will have a <strong>Grab This Cookmark</strong> link. That's all you need to add it to your own collection.
</ol>
</p><p class="airy">
When you add a recipe to your Cookmarks, you can slap any number of <i>tags</i> onto it, including tags you invent because they mean something special to you. That way, when you later want to see the recipes you've earmarked for, say, Weeknight Quickies, you just type that tag into the Cookmarks page and Voila! The list shortens to just those recipes. PS When you <strong>Grab A Cookmark</strong> from someone else, you inherit the tags it already has: less work for you! 	
</p>
<h4>Where to Go from Here</h4>
</p><p class="airy">
Now that you've registered, you have your own collection of Cookmarks--always available behind the Cookmarks link above--but don't go there just yet! Your collection starts out empty: pretty useless, not to mention kind of depressing. The smart thing would be to install our bookmarklet and go find some recipes on the Web (see sidebar).
</p><p class="airy">But why not see what recipes are already available on RecipePower? Since your collection is empty, do we have a friend for you: our scout Max is scouring the Net for Good New Stuff, and his Cookmarks list is <%= link_to "here", "rcpqueries/new?owner=1" %>. 
</p><p class="airy">
Let us invite you, here at the beginning, to invite your friends to join you on RecipePower. You'll be able to grab cookmarks from one another, and see what others are up to in the kitchen. Why not settle i and make cooking a community experience with RecipePower? Use the Invite link below to introduce people to the site. We'll get them set up and cooking <i>tout suite</i>.
</p>
