<%= injector_dialog :alert, "has heard your command, and obeys.", dismiss_button: "Ack" do %>
    <div class="hdrdiv"
         style="float: left;
                 padding: 0em;
                 padding-top: 11px;
                 height: 15px;
                 width: auto;"></div>
<% end %>
