<div class="modal-body">
  <p>Instructions are in the (e)mail for resetting your password.</p><p>Look for a message from support@recipepower.com</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Ack</a>
</div>
