<div class="modal-body">
  <p>To reset your password, look for email from support@recipepower.com and follow the link.</p>
</div>
<div class="modal-footer">
  <%= button_to_submit "GOT IT", "#", class: "dialog-submit-button", data: { :dismiss => "modal" } %>
</div>
