<div class="modal-body">
  <p>To reset your password, look for email from support@recipepower.com and follow the link. Click here for further assistance.</p>
</div>
<div class="modal-footer">
  <a href="#" class="btn" data-dismiss="modal">Got It</a>
</div>
