<%= render 'sessions/form' %>
<a class="select-content newpw " data-activate="newpw">Forgot Password</a>
<hr style="margin-top: 5px;">

<%= render 'authentications/possible', prompt: 'OR SIGN IN VIA:' %>
