<div class="selectable modal-body signin">
  <%= flash_notifications_div %>
  <%= render 'sessions/form' %>
  <hr style="margin-top: 5px;">
  <%= render 'authentications/possible', prompt: 'OR SIGN IN VIA:' %>
</div>
