<div id="alltags" >
  <% unless @taglist.empty? %>
	<table>
	  <tr class="list_header">
	    <th class="list_header">ID</th>
	    <th>Name</th>
	    <th>Type</th>
		<th></th>
		<th>Public?</th>
		<th>Similar</th>
	    <th>Synonym(s)</th>
	    <th>Meaning(s)</th>
		<% if permitted_to? :edit, @taglist.first %>
	      <th></th>
	      <th></th>
		<% end %>
	  </tr>
		<% @taglist.each do |tag| %>
			<% @tag = tag %>
			<%= render 'show_table' %>
		<% end %>
	</table>
  <% else %>
	<p class="airy">...Sorry, no tags match.</p>
  <% end %>
  <%= link_to 'New Tag', new_tag_path %>
</div>
