<div class="tagspec">
	<input class="tag_entry" id="tag_entry<%= @tabindex.to_s %>" type="text"></input>
	<br>
	<div class="taglist" id="taglist<%= @tabindex.to_s %>">
	</div>
	<%# render :partial=>"tags/taglist" %>
</div>
<div class="referentspec">
	<% if(@tabindex > 0)  %>
		<div class="referenttree" id="referenttree<%= @tabindex.to_s %>">
			referenttree goes here
		</div>
	<% end %>
</div>
