<%# TODO: delete after confirming it's okay wrt tag presenter %>
<h3>ERROR: tags/_show.html should never be called!!</h3>
<div class="container">
  <% presenter.card_aspects do |label, content| %>
      <h4><%= label %></h4>
      <p><%= content %></p>
  <% end %>
</div>
<br>
<% if response_service.admin_view? && permitted_to?(:edit, @tag) %>
    <%= link_to_submit 'Edit', edit_tag_path(@tag), :mode => :modal %>
<% end %>
<%= link_to_submit 'All Tags', tags_path, mode: 'partial', item_mode: 'table' %>
