<div class="row">
  <div class="col-md-12" id="seeker_results">
    <% if @sp.dump? %>
        <% while (@stream_item = @sp.next_item) do %>
            <%= render "stream_item" %>
        <% end %>
    <% end %>
  </div>
</div>
<% if @sp.next_path %>
    <div class="row">
      <div class="col-md-12" id="stream_footer">
        <%= stream_link @sp.next_path %>
      </div>
    </div>
<% end %>
