<div class="row">
  <div class="col-md-12" id="stream_container">
    <%= @stream_contents %>
  </div>
</div>
<div class="row">
  <div class="col-md-12" id="stream_footer">
    <%= @stream_footer %>
  </div>
</div>
