  <%= show_errors @rcpquery.errors %>
  <div id="querylist_header">
	<div class="rcpquery_owner_div" >
		<%= select :rcpquery, :owner_id, @rcpquery.selectionlist %>
	</div>
	<h3><%= @rcpquery.title %><%= backtome %></h3>
  </div>
