<%= flash_all %>
<ul class="<%= @seeker.list_type == :recipe ? "thumbnails" : "feed_entries" %>">
<%= collection_results %>
</ul>
<div class="digg_pagination">
	<%= pagination_links @seeker.npages, @seeker.cur_page %>
</div>
