<ul class="<%= @collection.list_type == :recipe ? "thumbnails" : "feed_entries" %>">
<%= collection_results %>
</ul>
<div class="notifications-panel"><%= flash_helper %></div>
<div class="digg_pagination">
	<%= pagination_links @collection.npages, @collection.cur_page %>
</div>
