<%= flash_all %>
<% if @seeker.list_type == :recipe %>
	<div id="masonry-container" class="thumbnails" >
		<%= render_seeker_results %>
	</div>
<% else %>
	<ul class="feed_entries" >
		<%= render_seeker_results %>
	</ul>
<% end %>
<%= render "shared/paginate_list" %>
