<%# Master form for taking a recipe query and returning a list of results %>
<div class="collection">
	<div class="collection_list">
		<% if @placeholder %>
			<%= flash_one :notice, "Getting content..." %>
		<% else %>
			<%= link_to_update "Update feed", "collection/relist", collection_timestamp %>
			<%= render "relist" %>
		<% end %>
	</div>
</div>
