<%# Master form for taking a recipe query and returning a list of results %>
<%# show_errors @collection.errors %>
<div class="collection">
	<div class="loader"></div>
	<div class="collection_list">
		<%= render "relist" %>
	</div>
</div>
