<%# Master form for taking a recipe query and returning a list of results %>
<div class="collection">
	<div class="ajax-loader"></div>
	<div class="collection_list">
		<%= render "relist" %>
	</div>
</div>
