<div class="row">
  <div class="col-md-12">

    <div class='item-enclosure'>
      <div class='label-enclosure'>
        <%= f.label :title, 'Description' -%>
      </div>
      <%= f.text_area :description, :label => false %>
    </div>

  </div>
</div>
