<%= dialog_pane @decorator.dialog_pane_spec(:family) do %>
    <div class="token_input_field">
      <%= token_input_field f,
                            :parents,
                            label: "Categories it's under",
                            data: { type: @referent.typenum } %>
    </div>
    <div class="token_input_field">
      <%= token_input_field f,
                            :children,
                            label: "Kinds of #{@referent.name}",
                            data: { type: @referent.typenum } %>
    </div>
    <div class="token_input_field">
      <%= token_input_field f,
                            :relateds,
                            label: "See Also",
                            data: { type: @referent.typenum } %>
    </div>
<% end %>