<h3>Listing Referents</h3>
<br>
<table>
  <tr>
    <th>Referent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referents.each do |referent| %>
  <%= render "show_table_row", referent: referent %>
<% end %>
</table>
<br><%= will_paginate @referents %>

<br />

<%= link_to 'New Referent', new_referent_path %>
