#jQuery ->
#	$('body').prepend('<div id="fb-root"></div>')
#	$.ajax
#		url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
#		dataType: 'script'
#		cache: true

RP.authentication ||= {}

popupCenter = (url, width, height, name, msg) ->
	left = (screen.width/2)-(width/2)
	top = (screen.height/2)-(height/2)
	debugger
	myWindow=window.open '',name,"menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top
	myWindow.focus()
	RP.dialog.user_note msg
	myWindow.location = url
	# window.open(url, name, "menubar=no,toolbar=no,status=no,width="+width+",height="+height+",toolbar=no,left="+left+",top="+top);

RP.authentication.connect = (e) ->
	link = e.currentTarget
	popupCenter $(link).attr("href"), $(link).attr("data-width"), $(link).attr("data-height"), "authPopup", $(link).attr("data-hold_msg")
	e.stopPropagation()
	e.preventDefault()
	false
