div.cardlet-item {
  max-width: 200px;
  background-color: inherit;
  a.tablink {
    font-family: $archivo;
    font-weight: bold;
    color: #2c7191;
  }
  .pic-box {
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    img.fixed-width {
      width:100%;
      height:auto;
    }
  }
}
