fieldset.answer-field {
  margin-top: 10px;
}

label.question-text {
  font-family: arial, sans-serif;
  font-weight: 200;
}

a.tablink {
  font-family: $archivo;
  font-weight: bold;
  color: #2c7191;
}

div.results-card {
  margin-left: 1em;
  margin-right: 1em;
}

div.card-item {
  -webkit-box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.75);
  font-family: $archivo;
  position: relative;
  top: 15px;
  margin-bottom: 2em;
  color: $generic-card-text-color;
  background-color: $generic-card-background-color;
  div.title > a.title-link {
    color: $generic-card-title-color;
  }
  div.title-glyph {
    color: #ea8a7a;
    height: 2em;
    &.top-right {
      font-size: 2.5em;
      position: absolute;
      top: 0.1em;
      right: 0.2em;
    }
  }
  div.pic-box {
    max-width: 200px;
  }
  div.source {
    font-family: $oswald-light;
    font-size: 1em;
    padding: 0.6em 1em 0.2em 1.2em;
    color: #999;
    margin: 0em -1em;
    a.source-link {
      color: #77a2be;
      letter-spacing: 1px;
    }
  }
  td.video-box {
    width: 40%;
    padding: 10px;
  }
  div.tool-menu {
    font-size: 0.7em;
    display: inline-block;
    position: relative;
    bottom: 0px;
    left: 0px;
    span.glyphicon-cog {
      top: 7px;
    }
    a.dropdown-toggle {
      padding: 5px 8px;
    }
  }
  h3 {
    color: #cccccc;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0em;
  }
  /*
  div.pic-200w {
    width: 200px;
  }
  div.pic-200h {
    height: 200px;
  }
  */
  div.recipe-pic {
    margin-top: 10px;
  }
  p.description {
    font-size: 1.3em;
  }
  div.card-aspect-contents {
    font-weight: 400;
    color: #909090;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    // color: #8D8F90;
    &.description {
      font-size: 0.6em;
      color: #aaaaaa;
    }
    span.tagsep {
      font-size: 1.3em;
      color: #8ac5d2;
      font-family: Helvetica, sans-serif;
      font-weight: 200;
      font-size: 1.2em;
    }
  }
  &.associated-card {
    margin-top: 1em;
    padding: 1em;
    min-height: 200px;
    .associated-title {
      font-size: 2.5em;
      padding-bottom: 0.3em;
      &.lists-owned {
        color: #dfc75c;
      }
      &.lists-collected {
        color: #66996f;
      }
    }
  }
  &.row {
    margin: 0.5em;
  }
  &.cardlet-item {
    width: 350px;
    @include respond-to(phone) {
      width: 300px;
    }
    @include respond-to(small) {
      width: 100%; // ($break-small - 30);
    }
    @include respond-to(medium) {
      width: 100%; // ($break-medium - 30);
    }
    @include respond-to(largish) {
      width: ($break-largish - (30+10))/2;
    }
    @include respond-to(large) {
      width: 355px; // ($break-large - (30+10))/2;
    }
    @include respond-to(wide) {
      width: 306px; // ($break-wide - (30+20))/3;
    }
    padding: 1em 1em 0 1em;
    background-color: $recipes-card-background-color;
    font-family: $archivo;
    margin-top: 0;
    font-size: 50%;
    div.bottom-strip {
      position: absolute;
      bottom: -0.4em;
      left: -0.3em;
      right: -0.4em;
      height: 3em;
      font-size: 1.8em;
      background: $recipes-card-background-color;
    }
    div.source {
      border-bottom: 0.3em solid #b95454;
      margin-bottom: 0.5em;
    }
    div.title-box {
      // min-height: 3.6em;
      // margin-bottom: 1em;
      // margin-top: 0.2em;
      margin-right: 1em;
      font-size: 2.1em;
      font-family: $archivo;
      font-weight: 700;
      letter-spacing: 0.9px;
      line-height: 1.2em;
      a.title-link {
        color: #4f4d4a;
      }
    }
    td.pic-box {
      width: 165px;
      padding-right: 8px;
    }
  }
  &.card-large {
    div.vote-buttons {
      font-size: 1.2em;
      float: right;
      margin-right: -0.5em;
      margin-bottom: 0.5em;
      a.vote-button {
        font-size: 1.4em;
      }
    }
  }
  &.recipe-card {
    // width: 350px;
    background-color: $recipes-card-background-color;
    a {
      color: $recipes-panels-label-button-color;
    }
    .description {
      font-size: 1.2em;
      color: #a2a2a2;
    }
    h3 {
      color: #cdcdcd;
    }
    td.upper-content {
      padding-left: 1em;
    }
    td.lower-content {
      // padding-left: 0.5em;
      padding-bottom: 0.3em;
      vertical-align: bottom;
      font-size: 2em;
      div.share-button {
        float: right;
      }
    }
    .title-bar {
      border-bottom: 0.3em solid #b95454;
      .left-matter {
        position: relative;
      }
    }
    div.title {
      // min-height: 3.6em;
      // margin-bottom: 1em;
      font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-top: 0.4em;
      font-size: 2.1em;
      font-weight: 200;
      letter-spacing: 2px;
      line-height: 1.2em;
    }
    div.vote-buttons {
      font-size: 1.2em;
      float: right;
      margin-right: -0.5em;
      margin-bottom: 0.5em;
      a.vote-button {
        font-size: 1.4em;
      }
    }
  }
  &.comments-card {
    padding-left: 35px;
    padding-right: 10px;
    padding-top: 5px;
    div.title-bar {
      font-family: $oswald-bold;
      font-size: 24pt;
    }
  }
  &.viewer-card {
    background-color: $viewer-card-background-color;
    div.title > a.title-link {
      color: white;
    }
    a {
      color: $viewer-card-link-color;
    }
  }
  &.friend-card {
    background-color: $friends-card-background-color;
    div.title > a.title-link {
      color: white;
    }
    a {
      color: $friends-card-link-color;
    }
    div.sprite-glyph
    svg#vote-up {
      color: mix($vote-glyph-color, black, 93%);
      fill: mix($vote-glyph-color, black, 93%);
    }
    svg#vote-down {
      color: mix($vote-glyph-color, black, 93%);
      fill: mix($vote-glyph-color, black, 93%);
    }
  }
  &.feed-card {
    background-color: $feeds-card-background-color;
    div.title > a.title-link {
      color: $feeds-navtab-text-color;
    }
    a {
      color: $feeds-link-color;
    }
    svg#vote-up {
      color: mix($vote-glyph-color, black, 93%);
      fill: mix($vote-glyph-color, black, 93%);
    }
    svg#vote-down {
      color: mix($vote-glyph-color, black, 93%);
      fill: mix($vote-glyph-color, black, 93%);
    }
  }
  &.user-card {
    color: $user-card-text-color;
    background-color: $user-card-background-color;
    div.title > a.title-link {
      color: $user-card-title-color;
    }
    .card-aspect-label {
      color: $user-card-label-color;
    }
    a {
      color: #888888;
    }
  }
  &.list-card {
    background-color: $lists-card-background-color;
    div.title > a.title-link {
      color: rgba($lists-navtab-text-color, 0.6);
    }
    a {
      color: $lists-panels-label-button-color;
    }
  }
  &.entity-card {
    color: #909090;
    div.vote-buttons {
      position: absolute;
      top: 0;
      right: 0.2em;
    }
    div.pic-inset {
      a.upload-button {
        font-size: 1.2em;
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
      }
    }
    div.owner-pic {
      width: 100%; // 8em;
      // margin: 1em;
    }
    td.lower-content {
      padding-bottom: 0.3em;
      // padding-left: 0.5em;
      vertical-align: bottom;
      font-size: 2em;
      div.share-button {
        position: absolute;
        right: 8px;
        bottom: 3px;
      }
    }
    div.title {
      // min-height: 3.6em;
      // margin-bottom: 1em;
      padding-right: 35px;
      margin-top: 0.4em;
      font-size: 2.4em;
      font-family: $archivo;
      font-weight: 700;
      letter-spacing: 1.5px;
      line-height: 1.2em;
    }
    div.vote-buttons {
      font-size: 1.2em;
      float: right;
      margin-top: 0.3em;
      margin-right: 0.15em;
      a.vote-button {
        font-size: 1.4em;
      }
    }
  }
}

table.cardlet-table {
  width: 100%;
  height: 100%;
}

td.pic-box {
  // width: 300px;
  min-width: 80px;
  vertical-align: top;
}

div.pic-inset {
  width: auto;
  margin: 18px 5%;
}

div.pic_preview {
  div.bootstrap-filestyle {
    margin: 20px;
  }
}

.bootstrap-filestyle {
  margin-top: 20px;
  text-align: center;
}

div.card-grid {
  position: relative;
  padding-top: 1em;
  padding-bottom: 3em;
  div.grid-item {
    ul.token-input-list-facebook {
      min-width: 100px;
      width: 100%;
    }
    form {
      width: 100%;
      div.inline-text-field {
        width: 100%;
        div.form-group {
          margin-bottom: 0;
        }
        input {
          width: 100%;
        }
      }
      input.form-button {
        margin-top: 1em;
      }
    }
  }
  div.stamp.avatar {
    margin-right: 15px;
    height: auto;
    float: left;
    margin-bottom: 5px;
    margin-top: 20px;
  }
  div.stamp.title {
    // padding-right: 35px;
    font-size: 2.4em;
    font-family: $archivo;
    font-weight: 700;
    letter-spacing: 1.5px;
    // line-height: 1.2em;
    width: 100%;
    margin-bottom: 15px;
    padding-right: 30px; // To allow room for the votes
    background-color: inherit;
    div.votes {
      width: auto;
      height: auto;
      display: inline-block;
      float: right;
      font-size: 0.5em;
      position: absolute;
      background-color: inherit;
      line-height: initial;
    }
  }
  div.card-column {
    @include respond-to(phone) {
      width: $col-width-phone;
    }
    @include respond-to(small) {
      width: $col-width-small;
    }
    @include respond-to(medium) {
      width: $col-width-medium;
    }
    @include respond-to(largish) {
      width: $col-width-largish;
    }
    @include respond-to(large) {
      width: $col-width-large;
    }
    @include respond-to(wide) {
      width: $col-width-wide;
    }
    // border: 1px solid blue;
    &.card-column-lg {
      @include respond-to(phone) {
        width: $col-width-lg-phone;
      }
      @include respond-to(small) {
        width: $col-width-lg-small;
      }
      @include respond-to(medium) {
        width: $col-width-lg-medium;
      }
      @include respond-to(largish) {
        width: $col-width-lg-largish;
      }
      @include respond-to(large) {
        width: $col-width-lg-large;
      }
      @include respond-to(wide) {
        width: $col-width-lg-wide;
      }
      // border: 1px solid blue;
    }
    &.card-column-xl {
      @include respond-to(phone) {
        width: $col-width-xl-phone;
      }
      @include respond-to(small) {
        width: $col-width-xl-small;
      }
      @include respond-to(medium) {
        width: $col-width-xl-medium;
      }
      @include respond-to(largish) {
        width: $col-width-xl-largish;
      }
      @include respond-to(large) {
        width: $col-width-xl-large;
      }
      @include respond-to(wide) {
        width: $col-width-xl-wide;
      }
      // border: 1px solid blue;
    }
  }
  div.lower-content {
    width: 100%;
    height: 1.5em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: 0.3em;
    padding-left: inherit;
    // padding-left: 0.5em;
    vertical-align: bottom;
    font-size: 2em;
    div.tool-menu {
      bottom: 7px;
    }
    div.share-button {
      position: absolute;
      right: 6px;
      bottom: 0;
    }
  }
}
