// Default styling for dialogs
div.dialog {
	font:12px arial,sans-serif;
	font-weight:bold;
	&.floating {
		font:12px arial,sans-serif;
		font-weight:bold;
		// width:auto;
		font-size:80%;
		padding-left:1%;
		padding-right:1%;
		margin-left:0;
		margin-right:0
	}
	&.at_left {
		font:12px arial,sans-serif;
		font-weight:bold;
		width:auto;
		position:absolute;
		font-size:80%;
		padding-left:1%;
		padding-right:1%;
		margin-left:0;
		margin-right:0;
		z-index:2000;
		top:0;
		left:0
	}
}

.hdrdiv {
	float:left;
	padding:0em;
	padding-top:11px;
	height:15px;
	width:auto
}

