$dialog-depth: 1050;
div.bootbox.modal {
  div.modal-dialog {
    z-index: $dialog-depth; // Need to be closer than the backdrop, but bootstrap no longer sets this depth
  }
}

// Default styling for dialogs
div.dialog {
  font: 16px arial, sans-serif;
  line-height: 130%;
  font-weight: normal;
  ul.token-input-list-facebook {
    font: 14px arial, sans-serif;
  }
  &.modal {
    div.modal-dialog {
      z-index: $dialog-depth; // Need to be closer than the backdrop, but bootstrap no longer sets this depth
    }
    div.prompt {
      font: 18px arial, sans-serif;
      font-weight: bold;
      margin: 0px 0px 15px 10px;
      padding: 0px;
    }
    padding-left: 1%;
    padding-right: 1%;
    .dialog-form-button {
	float: right;
  	margin: 10px;
    }
  }
  .red_body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    background: #880000;
    font-size: 13pt;
    line-height: 130%;
    overflow: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000', endColorstr='#6c0000');
    background: -webkit-gradient(linear, left top, left bottom, from(#880000), to(#6c0000));
    background: -moz-linear-gradient(top, #880000, #6c0000);
  }
}

.hdrdiv {
  float: left;
  padding: 0em;
  padding-top: 11px;
  height: 15px;
  width: auto
}

// In development: new geometry for dialogs. See also color schemes following
div.dialog.new-style {
  &.injector {
    font: 16px arial, sans-serif;
    font-weight: bold;
    width: 600px;
    height: auto;
    form {
      margin: 10px;
      display: inline-block;
      width: auto;
      vertical-align: top;
    }
  }
  div.modal-dialog {
    font-family: $oswald; // $archivo;
    font-size: 20px;
    letter-spacing: 3px;
    &.dialog-xs {
      width: 370px;
    }
    &.dialog-sm {
      width: 470px;
    }
    div.modal-content {
      div.modal-header {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: unset;
        h3 {
          padding-top: 30px;
        }
        button.dialog-x-box {
          position: absolute;
          top: 6px;
          right: 0
        }
      }
      div.modal-body {
        padding-top: 5px;
        div.form-group {
          margin-top: 10px;
        }
        p {
          font-family: $archivo; // $oswald-light; // $archivo;
          letter-spacing: 3px;
          line-height: 1.4em;
        }
      }
      div.modal-footer {
        text-align: center;
        border-top: unset;
      }
      .prompt {
        margin: 5px 0px;
        // font:20px arial,sans-serif;
        // font-weight:bold
      }
      input[type='text'] {
        height: 2em;
        padding: 15px;
        border-radius: 20px;
      }
      .dialog-submit-button {
        font-size: 1.8em;
        letter-spacing: 4px;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }
  }
}

div.dialog.new-style.purple div.modal-dialog div.modal-content {
  background-color: #7D6D89;
  color: #E8D6D6;
  input[type='text'] {
    font-style: oblique;
    background-color: #D2CCD6;
    color: #8F9092;
  }
  input.dialog-submit-button {
    background-color: #E1E0E4;
    background-image: unset;
    color: #541D78;
    border-color: #541D78;
  }
}
