$dialog-depth: 1050;
div.bootbox.modal {
  div.modal-dialog {
    z-index: $dialog-depth; // Need to be closer than the backdrop, but bootstrap no longer sets this depth
  }
}

// Default styling for dialogs
div.dialog {
  font: 16px arial, sans-serif;
  line-height: 130%;
  font-weight: normal;
  ul.token-input-list-facebook {
    font: 14px arial, sans-serif;
  }
  &.modal {
    div.modal-dialog {
      z-index: $dialog-depth; // Need to be closer than the backdrop, but bootstrap no longer sets this depth
    }
    div.prompt {
      font: 18px arial, sans-serif;
      font-weight: bold;
      margin: 0px 0px 15px 10px;
      padding: 0px;
    }
    padding-left: 1%;
    padding-right: 1%;
    .form-button {
	float: right;
  	margin: 10px;
    }
  }
  .red_body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
    background: #880000;
    font-size: 13pt;
    line-height: 130%;
    overflow: auto;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#880000', endColorstr='#6c0000');
    background: -webkit-gradient(linear, left top, left bottom, from(#880000), to(#6c0000));
    background: -moz-linear-gradient(top, #880000, #6c0000);
  }
}

.hdrdiv {
  float: left;
  padding: 0em;
  padding-top: 11px;
  height: 15px;
  width: auto
}

// In development: new geometry for dialogs. See also color schemes following
div.dialog.new-style {
  &.injector {
    font: 16px arial, sans-serif;
    font-weight: bold;
    width: 600px;
    height: auto;
    form {
      margin: 10px;
      display: inline-block;
      width: auto;
      vertical-align: top;
    }
  }
  div.modal-dialog {
    font-family: $oswald; // $archivo;
    font-size: 20px;
    letter-spacing: 3px;
    &.modal-xl {
      width: 100%; // responsive width
      margin-left: 0%; // width/2)
    }
    &.modal-lg {
      width: 60%; // responsive width
      margin-left: 20%; // width/2)
    }
    &.dialog-xs {
      width: 370px;
    }
    &.dialog-sm {
      width: 470px;
    }
    input.string,
    input.password,
    textarea {
      width: 86%;
      margin-left: 7%;
    }
    div.modal-content {
      div.modal-header {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: unset;
        h3 {
          padding-top: 30px;
        }
        button.dialog-x-box {
          position: absolute;
          top: -14px;
          right: 10px;
          font-size: 3em;
          font-weight: 700;
        }
      }
      div.modal-body {
        padding-top: 5px;
        div.form-group {
          margin-top: 10px;
        }
        p {
          font-family: $archivo; // $oswald-light; // $archivo;
          letter-spacing: 3px;
          line-height: 1.4em;
        }
      }
      div.modal-footer {
        text-align: center;
        border-top: unset;
      }
      .prompt {
        margin: 5px 0px;
        // font:20px arial,sans-serif;
        // font-weight:bold
      }
      input[type='text'], input[type='password'], input[type='email'] {
        height: 2em;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 10px;
        font-style: oblique;
      }
      label.checkbox {
        margin-bottom: 0;
      }
      .center-button {
        letter-spacing: 4px;
        border-radius: 8px;
        padding: 5px 10px;
        &.free {
          margin-top: 20px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        &.btn-xl {
          font-size: 1.5em;
        }
      }
    }
  }
}

div.dialog.new-style.purple div.modal-dialog div.modal-content {
  background-color: #7D6D89;
  color: #E8D6D6;
  input[type='text'], input[type='password'], input[type='email'] {
    background-color: #D2CCD6;
    color: #8F9092;
  }
  .center-button {
    background-color: #E1E0E4;
    background-image: unset;
    color: #541D78;
    border-color: #541D78;
  }
  form div a {
    color: #E8D6D6;
  }
}

div.dialog.new-style.green div.modal-dialog div.modal-content {
  background-color: #4B815B;
  color: #9AB3A0;
  input[type='text'], input[type='password'], input[type='email'] {
    background-color: #C1D3C7;
    color: #849688;
  }
  .center-button {
    background-color: #D8E5DC;
    background-image: unset;
    color: #385E44;
    border-color: #385E44;
  }
  a {
    font-size: 0.7em;
    color: #9AB3A0;
  }
}

div.dialog.new-style.salmon div.modal-dialog div.modal-content {
  background-color: #CF6361;
  color: #E8d6d6;
  input[type='text'], input[type='password'], input[type='email'] {
    background-color: #F3DFDE;
    color: #CF2F27;
  }
  .center-button {
    background-color: #F3DFDE;
    background-image: unset;
    color: #CF2F27;
    border-color: #CF2F27;
  }
  a {
    font-size: 0.7em;
    color: #E0A09E;
  }
}

div.dialog.new-style.blue div.modal-dialog div.modal-content {
  background-color: #5090A9;
  color: #E6D7A3;
  input[type='text'], input[type='password'], input[type='email'] {
    background-color: #C2D9E1;
    color: #7E9796;
  }
  .center-button {
    background-color: #C2D9E1;
    background-image: unset;
    color: #205D72;
    border-color: #205D72;
  }
  a {
    font-size: 0.7em;
    color: #A0B6C2;
  }
}

div.form-group.user_remember_me {
  margin-bottom: 0;
}