div.results-enclosure {
  width: 100%;
  height: auto;
  div.panels-query {
    // margin-top: 15px;
    // position: relative;
    span.panels-label {
      font-family: $oswald;
      font-size: 500%;
      letter-spacing: 1.5px;
      padding-left: 20px;
      color: #999999;
      &.recipe-label {
        color: $recipes-panels-label-text-color;
      }
      &.viewer-label {
        color: $viewer-panels-label-text-color;
      }
      &.user-label {
        color: $user-panels-label-text-color;
      }
      &.feed-label {
        color: $feeds-navtab-text-color;
      }
      &.feed_entry-label {
        color: $feeds-navtab-text-color;
      }
      &.friend-label {
        color: $friends-navtab-text-color;
      }
      &.list-label {
        color: rgba($lists-navtab-text-color, 0.6);
      }
      &.tag-label {
        color: rgba($salmon-text-color, 0.8);
      }
    }
  }
}

div.org-buttons {
  &.panels-buttons {
    margin-top: 15px;
  }
  span.org-buttons-label {
    display: inline-block;
    margin-right: 10px;
    float: left;
  }
  .org-button {
    // margin: 10px;
    border: none;
    color: #cccccc;
    &.active {
      color: white;
    }
    &.small {
      font-size: 0.8em;
      &.soft-button {
        padding: 4px 8px;
        // border-radius: 6px;
      }
    }
    &.recipe {
      background-color: $recipes-navtab-text-color;
      &.disabled {
        background-color: rgba($recipes-navtab-text-color, 0.5);
      }
    }
    &.viewer {
      background-color: $viewer-panels-label-button-color;
      &.disabled {
        background-color: rgba($viewer-panels-label-button-color, 0.5);
      }
    }
    &.user {
      background-color: $user-panels-label-button-color;
      &.disabled {
        background-color: rgba($user-panels-label-button-color, 0.5);
      }
    }
    &.friend {
      background-color: $friends-navtab-text-color;
      &.disabled {
        background-color: rgba($friends-navtab-text-color, 0.5);
      }
    }
    &.feed {
      background-color: $feeds-navtab-text-color;
      &.disabled {
        background-color: rgba($feeds-navtab-text-color, 0.5);
      }
    }
    &.list {
      background-color: $lists-panels-label-button-color;
      &.disabled {
        background-color: rgba($lists-panels-label-button-color, 0.5);
      }
    }
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
  }
}

