$break-small: 320px;
$break-medium: 480px;
$break-largish: 680px;
$break-large: 768px;
$break-wide: 1024px;

@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == small-down {
    @media only screen and (max-width: $break-medium) { @content; }
  }
  @else if $media == small {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
  }
  @else if $media == small-up {
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
  @else if $media == medium-down {
    @media only screen and (max-width: $break-largish) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-medium + 1) and (max-width: $break-largish) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $break-medium + 1) { @content; }
  }
  @else if $media == largish-down {
    @media only screen and (max-width: $break-large) { @content; }
  }
  @else if $media == largish {
    @media only screen and (min-width: $break-largish + 1) and (max-width: $break-large) { @content; }
  }
  @else if $media == largish-up {
    @media only screen and (min-width: $break-largish + 1) { @content; }
  }
  @else if $media == large-down {
    @media only screen and (max-width: $break-wide) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $break-large + 1) and (max-width: $break-wide) { @content; }
  }
  @else if $media == large-up {
    @media only screen and (min-width: $break-large + 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-wide + 1) { @content; }
  }
}
