
.navbar-inverse .navbar-nav {
  li#friends-navtab {
    a {
      background-color: transparent;
      color: #de8822;
    }
  }
}

.navbar {
  background-color: transparent;
  background-image: none;
  // background-repeat: none;
  margin-bottom: 0;
}

nav.navbar-inverse {
  background-color: transparent;
  background-image: none;
  background-repaet: none;
  border: 0;
}

a.navbar-brand {
  padding-top: 0;
}

ul.nav.navbar-nav {
  display: block;
  max-width: 100%;
  height: auto;
}

li.master-navtab {
  margin: 0 7px;
  width: 170px;
  padding-top: 80px;
  text-shadow: none;
  margin-bottom: 10px;
  text-align: center;
  &#collections-navtab {
    background-color: $recipes-navtab-background-color;
    a.dropdown-toggle {
      color: $recipes-navtab-text-color;
    }
  }
  &#friends-navtab {
    background-color: $friends-navtab-background-color;
    //margin: 0 7px;
    //padding:80px 8px 0;
    //text-shadow: none;
    a.dropdown-toggle {
      color: $friends-navtab-text-color;
    }
  }

  &#my_lists-navtab {
    background-color: $lists-navtab-background-color;
    //margin: 0 7px;
    //padding: 80px 18px 0;
    //text-shadow: none;
    a.dropdown-toggle {
      color: $lists-navtab-text-color;
    }
  }

  &#feeds-navtab {
    background-color: $feeds-navtab-background-color;
    //margin: 0 7px;
    //padding: 80px 34px 0;
    //text-shadow: none;
    a.dropdown-toggle {
      color: $feeds-navtab-text-color;
    }
  }

  &#home-navtab {
    background-color: #ff9583;
    //margin: 0 7px;
    padding: 0;
    position: fixed;
    right: 30px;
    width: 150px;
    span.user-name {
      font-size: 0.7em;
      color: #fadfdb;
      text-shadow: none;
      text-transform: lowercase;
    }
  }
}

.navbar-nav {
  li {
    a.dropdown-toggle {
      padding-bottom: 10px;
      font-family: Oswald, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 21px;
    }
  }
}

div.container.menuback { // Backing for the menu which matches the general container in cross-section
  height: $menuback-height-down;
  z-index: $menuback-depth;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: 2px #333333;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

div.container.no-menu { // Master container with no menu
  padding-top: 75px;
  div.card-item {
    margin-top: 30px;
  }
}

div.container.below-menu { // Master container that scrolls below the menu
  margin-top: $menuback-height-down;
  padding-top: 75px;
  div.triggered-form {
    top: $menuback-height-down;
  }
  > div.row {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $menu-depth;
  height: 230px;
  padding-left: $logo-clearance-lg;
  padding-right: $menu-right-margin;
  .menu {
    position: relative;
    width: 740px;
    height: 130px;
    div.logo {
      position: absolute;
      left: -210px;
      height: 200px;
      content: image-url('rp-logo.png');
    }
    .menuIcon {
      display: none;
      position: absolute;
      padding: 7px;
      right: -110px;
      z-index: $menu-depth;
      &:hover {
        background: #999;
      }
      a {
        width: 100px;
        display: inline-block;
        color: #000;
        img.hamburger {
          vertical-align: middle;
        }
      }
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: left;
        list-style: none;
        margin: 0 7px;
        margin-bottom: 10px;
        padding-top: 90px;
        padding-left: 8px;
        padding-right: 8px;
        text-shadow: none;
        text-align: center;
        &#collections-navtab {
          background-color: $recipes-navtab-background-color;
          a.dropdown-toggle {
            color: $recipes-navtab-text-color;
          }
        }
        &#friends-navtab {
          background-color: $friends-navtab-background-color;
          //margin: 0 7px;
          //padding:80px 8px 0;
          //text-shadow: none;
          a.dropdown-toggle {
            color: $friends-navtab-text-color;
          }
        }
        &#my_lists-navtab {
          background-color: $lists-navtab-background-color;
          //margin: 0 7px;
          //padding: 80px 18px 0;
          //text-shadow: none;
          a.dropdown-toggle {
            color: $lists-navtab-text-color;
          }
        }
        &#feeds-navtab {
          background-color: $feeds-navtab-background-color;
          //margin: 0 7px;
          //padding: 80px 34px 0;
          //text-shadow: none;
          padding-left: 34px;
          padding-right: 34px;
          a.dropdown-toggle {
            color: $feeds-navtab-text-color;
          }
        }
        &#home-navtab {
          background-color: #ff9583;
          //margin: 0 7px;
          padding: 0;
          position: absolute;
          top: 0;
          right: -158px;
          span.user-name {
            font-size: 0.7em;
            color: #fadfdb;
            text-shadow: none;
            text-transform: lowercase;
          }
        }
        a.dropdown-toggle {
          font-family: Oswald, sans-serif;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-size: 21px;
          span.caret {
            display: inline-block;
            margin-left: 3px;
          }
        }
        span.measuring-spoons {
          content: image-url("rp-measuring-spoons.png");
        }
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .header {
    .menu {
      width: 375px;
      ul {
        li {
          padding-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 780px) {
  div.container.menuback {
    // Backing for the menu which matches the general container in cross-section
    height: $menuback-height-up;
  }
  div.container.below-menu {
    margin-top: $menuback-height-up;
    padding-top: 0px; // In allowance for the menuback
    div.triggered-form {
      position: fixed;
      top: 0;
      left: $logo-clearance-sm;
      right: $menu-right-margin;
      z-index: $menu-depth + 1;
      padding-left: 5px;
      width: 350px;
      margin-top: 0;
      &.menuOpen {
        display: none;
      }
    }
  }
  .header {
    height: 40px;
    padding-left: $logo-clearance-sm;
    padding-right: $menu-right-margin;
    .menu {
      width: 100%;
      min-width: 200px;
      div.logo {
        padding: 4px 6px;
        height: 47px;
        left: -$logo-clearance-sm;
        content: image-url('RP-logo-small.png');
      }
      .menuIcon {
        display: block;
      }
      float: none;
      @include transition(max-height 0.5s);
      ul {
        text-align: center;
        &.menuOpen {
          max-height: 1000px;
          @include transition(max-height 0.5s);
        }
        width: 100%;
        max-height: 0;
        overflow: hidden;
        li {
          display: block;
          width: 100%;
          background: #000;
          border-top: 1px solid #4d4d4d;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-bottom: 0;
          &:hover {
            background: #999;
          }
          a {
            color: #fff;
            text-shadow: #848484 0px 1px 2px;
          }
          span.measuring-spoons {
            content: none;
          }
          &#home-navtab {
            //margin: 0 7px;
            position: static;
            width: 100%;
          }
        }
      }
    }
  }
}
