.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  //color: #fff;
  //background-color: transparent;
}

.navbar-inverse .navbar-nav>li#friends-navtab>a {
  background-color: transparent;
  color: #de8822;
}

.navbar{
  background-color: transparent;
  background-image: none;
  // background-repeat: none;
  margin-bottom: 0;
}

//ay navigation changes
.navbar-fixed-top, .navbar-header{
  //height: 120px;
}
nav.navbar-inverse{
  background-color: transparent;
  background-image: none;
  background-repaet: none;
  border: 0;
}

a.navbar-brand{
  padding-top: 0;
}

@media only screen and (max-width: 767px) {
  li.master-navtab {
    padding-top: 10px;
  }
  nav.navbar {
    div.navbar-header {
      div.navbar-left {
        ul.nav.navbar-nav {
          li.master-navtab {
            padding-top: 10px;
          }
        }
      }
    }
  }
}

#RP-navbar-collapse[aria-expanded=false] {
  //li.master-navtab {
  //  padding-top:80px;
  //}
  span.measuring-spoons {
    content: image-url("rp-measuring-spoons.png");
  }
}

ul.nav.navbar-nav {
  display: block;
  max-width: 100%;
  height: auto;
}

li.master-navtab {
    margin: 0 7px;
    width: 170px;
    padding-top: 80px;
    text-shadow: none;
    margin-bottom: 10px;
    text-align: center;
    &#collections-navtab{
      background-color: $recipes-navtab-background-color;
      a.dropdown-toggle {
        color: $recipes-navtab-text-color;
      }
    }
    &#friends-navtab{
      background-color: $friends-navtab-background-color;
      //margin: 0 7px;
      //padding:80px 8px 0;
      //text-shadow: none;
      a.dropdown-toggle {
        color: $friends-navtab-text-color;
      }
    }

    &#my_lists-navtab{
      background-color: $lists-navtab-background-color;
      //margin: 0 7px;
      //padding: 80px 18px 0;
      //text-shadow: none;
      a.dropdown-toggle {
        color: $lists-navtab-text-color;
      }
    }

    &#feeds-navtab{
      background-color: $feeds-navtab-background-color;
      //margin: 0 7px;
      //padding: 80px 34px 0;
      //text-shadow: none;
      a.dropdown-toggle {
        color: $feeds-navtab-text-color;
      }
    }

    &#home-navtab{
      background-color: #ff9583;
      //margin: 0 7px;
      padding: 0;
      position: fixed;
      right: 30px;
      width: 150px;
      span.user-name {
        font-size: 0.7em;
        color: #fadfdb;
        text-shadow: none;
        text-transform: lowercase;
      }
    }
  }

.navbar-nav>li>a.dropdown-toggle{
  padding-bottom: 10px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 21px;
}

.header {
  position: fixed;
  top: 0;
  left: 240px;
  z-index: 1030;
  div.logo {
    height: 200px;
    content: image-url('rp-logo.png');
  }
  .menu {
    ul {
      padding:0;
      margin:0;
      li {
        display: inline-block;
        float: left;
        list-style: none;
        margin: 0 7px;
        margin-bottom: 10px;
        padding-top: 90px;
        padding-left: 8px;
        padding-right: 8px;
        text-shadow: none;
        text-align: center;
        &#collections-navtab{
          background-color: $recipes-navtab-background-color;
          a.dropdown-toggle {
            color: $recipes-navtab-text-color;
          }
        }
        &#friends-navtab{
          background-color: $friends-navtab-background-color;
          //margin: 0 7px;
          //padding:80px 8px 0;
          //text-shadow: none;
          a.dropdown-toggle {
            color: $friends-navtab-text-color;
          }
        }
        &#my_lists-navtab{
          background-color: $lists-navtab-background-color;
          //margin: 0 7px;
          //padding: 80px 18px 0;
          //text-shadow: none;
          a.dropdown-toggle {
            color: $lists-navtab-text-color;
          }
        }
        &#feeds-navtab{
          background-color: $feeds-navtab-background-color;
          //margin: 0 7px;
          //padding: 80px 34px 0;
          //text-shadow: none;
          padding-left: 34px;
          padding-right: 34px;
          a.dropdown-toggle {
            color: $feeds-navtab-text-color;
          }
        }
        &#home-navtab{
          background-color: #ff9583;
          //margin: 0 7px;
          padding: 0;
          position: absolute;
          top: 0;
          right: 150px;
          span.user-name {
            font-size: 0.7em;
            color: #fadfdb;
            text-shadow: none;
            text-transform: lowercase;
          }
        }
        a.dropdown-toggle{
          font-family: Oswald, sans-serif;
          text-transform: uppercase;
          letter-spacing: 1.5px;
          font-size: 21px;
          span.caret {
            display: inline-block;
            margin-left: 3px;
          }
        }
        span.measuring-spoons {
          content: image-url("rp-measuring-spoons.png");
        }
      }
    }
  }
  .menuIcon {
    display: none;
    // background: #000;
    width: 100%;
    text-align: center;
    &:hover {
      background: #999;
    }
    a {
      width: 100%;
      display: inline-block;
      color: #000;
      img {
        vertical-align: middle;
      }
    }
  }
}

@media only screen and (max-width: 1180px) {
  .header {
    .menu {
      ul {
        width: 400px;
        li {
          padding-top: 30px;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    left: 0;
    width: 100%;
    padding-left: 200px;
    padding-right: 100px;
    .menu {
      max-height: 0;
      overflow: hidden;
      float: none;
      text-align: center;
      width: 100%;
      padding: 0;
      @include transition(max-height 0.5s);
      div.logo {
        height: 40px;
        content: image-url('rp-logo-small-tomato.png');
      }
      &.menuOpen {
        max-height: 1000px;
        @include transition(max-height 0.5s);
      }
      ul {
        width: 100%;
        li {
          display: block;
          width: 100%;
          background: #000;
          border-top:1px solid #4d4d4d;
          padding-top: 5px;
          padding-bottom: 5px;
          margin-bottom: 0;
          &:hover {
            background: #999;
          }
          a {
            color: #fff;
            text-shadow: #848484 0px 1px 2px;
            padding: 10px 0;
            width: 100%;
            padding-left: 140px;
          }
          span.measuring-spoons {
            content: none;
          }
          &#home-navtab{
            //margin: 0 7px;
            position: static;
            width: 100%;
          }
        }
      }
    }
    .menuIcon {
      width: 100%;
      display: inline-block;
      float: left;
      list-style: none;
    }
  }
}