
.navbar-inverse .navbar-nav {
  li#friends-navtab {
    a {
      background-color: transparent;
      color: #de8822;
    }
  }
}

.navbar {
  background-color: transparent;
  background-image: none;
  // background-repeat: none;
  margin-bottom: 0;
}

.navbar-nav {
  li {
    a.dropdown-toggle {
      padding: 5px 0px;
      font-family: Oswald, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 21px;
    }
  }
}

nav.navbar-inverse {
  background-color: transparent;
  background-image: none;
  background-repaet: none;
  border: 0;
}

a.navbar-brand {
  padding-top: 0;
}

//ul.nav.navbar-nav {
//  display: block;
//  max-width: 100%;
//  height: auto;
//}

/*
li.master-navtab {
  margin: 0 7px;
  width: 170px;
  padding-top: 80px;
  text-shadow: none;
  margin-bottom: 10px;
  text-align: center;
  ul {
    background-color: inherit;
    li {
      background-color: inherit;
    }
  }
  &#collections-navtab {
    background-color: $recipes-navtab-background-color;
    a {
      color: $recipes-navtab-text-color;
    }
  }
  &#friends-navtab {
    background-color: $friends-navtab-background-color;
    //margin: 0 7px;
    //padding:80px 8px 0;
    //text-shadow: none;
    a {
      color: $friends-navtab-text-color;
    }
  }

  &#my_lists-navtab {
    background-color: $lists-navtab-background-color;
    //margin: 0 7px;
    //padding: 80px 18px 0;
    //text-shadow: none;
    a {
      color: $lists-navtab-text-color;
    }
  }

  &#feeds-navtab {
    background-color: $feeds-navtab-background-color;
    //margin: 0 7px;
    //padding: 80px 34px 0;
    //text-shadow: none;
    a {
      color: $feeds-navtab-text-color;
    }
  }

  &#home-navtab {
    background-color: #ff9583;
    //margin: 0 7px;
    padding: 0;
    position: fixed;
    right: 30px;
    width: 150px;
    span.user-name {
      font-size: 0.7em;
      color: #fadfdb;
      text-shadow: none;
      text-transform: lowercase;
    }
  }
}
*/

/*
div.generic-top {
  width: 100%;
  position: absolute;
  z-index: $menuback-depth;
  div {
    display: inline-block;
    float: left;
    &.logo {
      margin-left: 30px;
    }
  }
}
*/

body.logged-in {
  .header {
    // How to lay out the header when the user is logged in
    @include respond-to(medium-down) {
      padding-left: $logo-clearance-xs;
      padding-right: $hamburger-clearance-sm;
      // height: $header-height;
    }
    @include respond-to(largish) {
      padding-left: $logo-clearance-sm;
      padding-right: $hamburger-clearance-sm;
    }
    @include respond-to(large) {
      padding-left: $logo-clearance-lg;
      padding-right: $hamburger-clearance-lg;
      padding-top: $menus-height-lg;
    }
    @include respond-to(wide) {
      padding-left: $logo-clearance-lg;
      padding-right: $hamburger-clearance-lg;
      padding-top: $menus-height-wide;
    }
    div.right-matter {
      @include respond-to(medium-down) {
        width: $hamburger-clearance-sm;
      }
      @include respond-to(largish) {
        width: $hamburger-clearance-sm;
      }
      @include respond-to(large-up) {
        width: $hamburger-clearance-lg;
      }
    }
  }
  div.menu {
    position: fixed;
    top: 0;
    z-index: $header-depth + 1;
    @include transition(max-height 0.5s);
    @include respond-to(largish-down) {
      min-width: 300px;
      float: none;
      ul {
        text-align: center;
        width: 100%;
        display: none;
        //max-height: 0;
        //overflow: hidden;
        li.master-navtab {
          display: block;
          width: 100%;
          background: #000;
          border-top: 1px solid #4d4d4d;
          padding-top: 12px;
          padding-bottom: 5px;
          margin-bottom: 0;
          @include respond-to(wide) { padding-top: 30px; }
          &:hover {
            background: #999;
          }
          a {
            color: #fff;
            text-shadow: #848484 0px 1px 2px;
          }
          span.measuring-spoons {
            content: none;
          }
          &#home-navtab {
            //margin: 0 7px;
            position: static;
            width: 100%;
          }
        }
      }
    }
    @include respond-to(large) {
      max-width: 35em;
    }
    @include respond-to(large-up) {
      left: $logo-clearance-lg;
      ul {
        font-family: Oswald, sans-serif;
        letter-spacing: 1.5px;
        font-size: 2em;
        position: relative;
        padding: 0 10px 0 0;
        margin: 0;
        li.master-navtab {
          display: inline-block;
          float: left;
          list-style: none;
          margin: 0 7px;
          width: 5.75em;
          margin-bottom: 10px;
          text-shadow: none;
          text-align: center;
          &#collections-navtab {
            background-color: $recipes-navtab-background-color;
            a {
              color: $recipes-navtab-text-color;
            }
          }
          &#friends-navtab {
            background-color: $friends-navtab-background-color;
            //margin: 0 7px;
            //padding:80px 8px 0;
            //text-shadow: none;
            a {
              color: $friends-navtab-text-color;
            }
          }
          &#my_lists-navtab {
            background-color: $lists-navtab-background-color;
            //margin: 0 7px;
            //padding: 80px 18px 0;
            //text-shadow: none;
            a {
              color: $lists-navtab-text-color;
            }
          }
          &#feeds-navtab {
            background-color: $feeds-navtab-background-color;
            //margin: 0 7px;
            //padding: 80px 34px 0;
            //text-shadow: none;
            padding-left: 34px;
            padding-right: 34px;
            a {
              color: $feeds-navtab-text-color;
            }
          }
          &#home-navtab {
            background-color: #ff9583;
            //margin: 0 7px;
            padding: 0;
            position: absolute;
            top: 0;
            span.user-name {
              font-size: 0.7em;
              color: #fadfdb;
              text-shadow: none;
              text-transform: lowercase;
            }
          }
          a.submenu {
            padding-left: 40px;
          }
          a.dropdown-toggle {
            text-transform: uppercase;
            span.caret {
              display: inline-block;
              margin-left: 3px;
            }
          }
          ul.dropdown-menu {
            a.submit {
              font-size: 0.25em;
            }
          }
          span.measuring-spoons {
            content: image-url("rp-measuring-spoons.png");
          }
        }
      }
    }
    @include respond-to(large) {
      // width: 348px;
      height: $menus-height-lg;
      li.master-navtab {
        padding: 28px 8px 3px;
      }
    }
    @include respond-to(wide) {
      // width: 736px;
      height: $menus-height-wide;
      li.master-navtab {
        padding: 90px 8px 3px;
      }
    }
  }
  /*
  div.container {
    @include respond-to(large) {
      padding-top: $header-height + $menus-height-lg;
    }
    @include respond-to(wide) {
      padding-top: $header-height + $menus-height-wide;
    }
  }
  */
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $header-depth;
  background-color: #f1f1f0;
  padding-top: 0;
  border-bottom: 1px solid royalblue;
  // Default layout for the header (not logged-in)
  @include respond-to(medium-down) {
    padding-left: $logo-clearance-xs;
    padding-right: $notif-clearance-sm;
  }
  @include respond-to(largish) {
    padding-left: $logo-clearance-sm;
    padding-right: $notif-clearance-med;
  }
  @include respond-to(large-up) {
    padding-left: $logo-clearance-lg;
    padding-right: $notif-clearance-lg;
  }
  div.logo {
    position: fixed;
    top: 0;
    left: 0;
    @include respond-to(medium-down) {
      height: $header-height-xs;
      padding: 3px;
      // left: -$logo-clearance-sm;
      content: image-url('rp-logo-xs-web.png');
    }
    @include respond-to(largish) {
      height: $header-height;
      padding: 4px;
      // left: -$logo-clearance-sm;
      content: image-url('RP-logo-small.png');
    }
    @include respond-to(large-up) {
      // left: -20px;
      height: 200px;
      left: 15px;
      content: image-url('rp-logo.png');
    }
  }
  div.form-group {
    margin-bottom: 0;
  }
  div.triggered-form {
    margin: 0 3px 0 3px;
    z-index: $header-depth + 1;
    div.token-input-holder {
      width: 100%;
      @include respond-to(phone) {
        font-size: 12px;
      }
      @include respond-to(small) {
        font-size: 14px;
      }
      @include respond-to(medium) {
        font-size: 18px;
      }
      @include respond-to(large-up) {
        font-size: 20px;
      }
    }
  }
  div.right-matter {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    padding: 3px;
    height: $header-height;
    @include respond-to(medium-down) {
      width: $notif-clearance-sm;
    }
    @include respond-to(largish) {
      width: $notif-clearance-med;
    }
    @include respond-to(large-up) {
      width: $notif-clearance-lg;
    }
    .menuIcon {
      @include respond-to(largish-down) {
        display: initial;
        position: absolute;
        padding: 2px 2px;
        right: 4px;
        top: 5px;
        z-index: $header-depth;
        width: 70px;
        border-radius: 8px;
        outline: 2px darkgrey;
        outline-color: black;
        background-color: #dedede;
        &:hover {
          background: #999;
          a {
            a:hover, a:focus {
              text-decoration: none;
            }
          }
        }
        a {
          width: 100px;
          display: inline-block;
          color: #000;
          img.hamburger {
            vertical-align: middle;
          }
        }
      }
      @include respond-to(large-up) {
        display: none;
      }
    }
  }
}

