.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1001;
  overflow: hidden;
  width: 75px; height: 75px;
  // width: 115px; height: 115px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  // font-size: 14px;
  font-weight: bold;
  color: #aaaaaa;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  // line-height: 30px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  // width: 155px;
  display: block;
  background: rgb(229, 235, 239);
  background: linear-gradient(#9BC90D 0%, rgb(229, 235, 239) 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
  // top: 30px; left: -32px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.flowtri {
  width: 45px;
  height: 45px;
  visibility:hidden;
  color: #111;
  border-radius: 50%;
  text-align: center;
  font-size: 90px;
  float: left;
  shape-outside: polygon(0 0, 0 45px, 45px 0);
  padding: 10px;
  background-color: MediumPurple;
  background-clip: content-box;
}
