// Style declarations for all contexts,including dialogs and injections
html{
	height:100%;
  	margin: 0;
  	padding:0;
  	font-size: 30px; /*1rem=30px*/
}
body {
	background:#FDECCF;
	width:100%;
	margin:0px;
	font:12px arial,sans-serif;
	outline:1px solid green
}
header {
	margin:0px;
	height:55px;
	width:100%;
	background-color:#FDECCF;
	// DCE8DC
}
section {
	margin-top:1em;
	font-size:120%;
	padding:20px;
	background:#fff
}
section h1 {
	padding-top:15px;
	font-size:200%
}
h2 {
	padding-top:0px;
	font-size:200%
}
h2.med {
	line-height:150%;
	padding-top:0px;
	font-size:170%
}
label {
	font:14px arial,sans-serif;
	font-weight:bold;
	// font:18px calibri;
	// line-height:150%
}
.airy {
	font:18px calibri;
	line-height:150%;
	// letter-spacing:1px
	.bld {
		font-size:14px
	}
}
/* Links
a {
	color:#09c;
	text-decoration:underline
}
a:hover {
	color:#069;
	text-decoration:underline
}
a:visited {
	color: #069
}
*/
h4 {
	margin-top:2em;
	margin-bottom:1em
}
h4.first {
	margin-top: 0.5em
}
/* Navigation */
nav {
	float:right;
	background-color:white;
	padding:0 0.7em;
	white-space:nowrap;
	background-image: none;
}
nav ul {
	margin:0;
	padding:0
}
nav ul li {
	list-style-type:none;
	display:inline-block;
	padding:0.2em 0
}
nav ul li a {
	padding:0 5px;
	font-weight:bold
}
nav ul li a:visited {
	color:#09c
}
nav ul li a:hover {
	text-decoration:underline
}
footer {
	width:100%;
	text-align:center;
	margin-top:10px;
	width:710px;
	margin-left:auto;
	margin-right:auto
}
footer nav {
	float:none
}
.clear {
	clear:both
}

// Space for a recipe picture to be fit into
.fitPic {
	// align:center;
	visibility:hidden;
	&.loaded {
		visibility: visible;
		// position: relative;
		margin-left: auto;
		margin-right: auto;
		vertical-align: -20px;
	}
}

img.thumbnail200 {
	vertical-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 200px;
}

#logo_div {
	float:left;
	width:288px;
	height:40px;
	margin:10px;
	// background-color:#FDECCF;
	// DCE8DC
}
#container {
	margin:0px;
	background:#FDECCF;
	// DCE8DC;
	width:100%
}
#workpane {
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:15px;
	// outline:2px solid red
}
#debug {
}
#logo_img {
	width:288px;
	height:40px;
}
#logo_img:hover {
	outline:#EDDCBF solid thick;
	// background-color:#DDDDDD
}
#user_status {
	text-align:right;
	padding-top:5px;
	margin-right:15px
}
div.header_nav_links {
	text-align:right;
	margin-top:20px;
	margin-right:15px;
	font:14px arial,sans-serif,bold;
}
div.footer_nav_links {
	font:14px arial,sans-serif,bold;
	text-align:center;
  z-index:    11;
	// border:3px solid green;
	margin:10px;
}
.nav_link {
}
.nav_link_strong {
	font-weight: bold
}
