
.slider {
  position: relative;

  background-color: #ccc;
  height: 220px;
  margin: 10px;
  padding: 10px;

  overflow: hidden;

  .track {
    position: absolute;
    top: 10px;
    left: 10px;

    margin: 0;
    padding: 0;
    // border: 2px solid #0000ff;

    width: 600px; // Just to start; the slider will expand as items are loaded
  }
  .left, .right {
    position: absolute;
    color: white;
    font-size: 48px;
    top: 57px;

    cursor: pointer;
    z-index: 1;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  .slider-item {
    height: 200px;
    width: auto;
    float: left;

    .pic-box {
      display: inline-block;
      float: left;
      height: 100%;
      width: auto; // 220px;
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;

      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;

      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;

      img.fixed-height {
        height:100%;
        width:auto;
      }
    }

    .datablock {
      padding: 0px 8px;
      height: 100%; // auto; // 4.6em;
      width: auto;
      display: inline-block;
      float: left;

      .title {
        margin-top: 7px;
        font-weight: bold;
        margin-bottom: 5px;
        width: 250px;
        a {
          display: block;
          overflow: hidden;
          max-height: 2.8em;
        }
      }
      .footer {
        height: 28px;
        align: right;
        position: relative;

        display: -webkit-box;
        // display: -moz-box;
        display: box;

        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;

        padding: 4px 4px 4px 12px;
        margin: 2px -4px -4px;
        border-top: 1px solid #ddd;
        border-radius: 0 0 4px 4px;
        background-color: #fafafa;
        background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
        background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
        background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);

        .icons {
          position: absolute;
          left: 2px;
        }

        .buttons {
          position: absolute;
          right: 2px;
        }
      }

    }


  }
}
.book {
  float: left;

  margin: 0;
  margin-right: 10px;
  padding: 0;
  border: 0;

  width: 150px;
  height: 150px;

  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.5;
}
.book:nth-child(1) {
    background-color: #ff0000;
}
.book:nth-child(2) {
    background-color: #ffaa00;
}
.book:nth-child(3) {
    background-color: #ffff00;
}
.book:nth-child(4) {
    background-color: #00ff00;
}
.book:nth-child(5) {
    background-color: #0000ff;
}
.book:nth-child(6) {
    background-color: #aa00ff;
}
.book:nth-child(7) {
    background-color: #ff00ff;
}
