div.sprite-glyph {
  height: 0.8em;
  // margin-bottom: 0.2em;
  display: inline-block;
  // vertical-align: baseline;
  &.sprite-glyph-xs {
    height: 0.5em;
  }
  &.sprite-glyph-sm {
    height: 0.6em;
  }
  &.sprite-glyph-lg {
    height: 1em;
  }
  &.sprite-glyph-xl {
    height: 1.2em;
    vertical-align: sub;
  }
}

svg {
  &#plus {
    color: #FF9583;
    fill: #FF9583;
  }
  &#check {
    color: #FF9583;
    fill: #FF9583;
  }
  &#chef {
    color: #DFCA6A;
    fill: #DFCA6A;
  }
  &#list-viewer {
    color: #ECDAD7;
    fill: #ECDAD7;
  }
  &#list-list {
    color: #9DBFAA;
    fill: #9DBFAA;
  }
  &#list-add {
    color: #FF9583;
    fill: #FF9583;
  }
  &#heart-friend {
    color: #DFCA6A;
    fill: #DFCA6A;
  }
  &#heart-heart {
    color: #CC8475;
    fill: #CC8475;
  }
  &#heart-add {
    color: #FF9583;
    fill: #FF9583;
  }
  &#edit-gray {
    color: #A0A0A0;
    fill: #A0A0A0;
  }
  &#edit-red {
    color: #CC8475;
    fill: #CC8475;
  }
  &#tag {
    color: #A0A0A0;
    fill: #A0A0A0;
  }
  &#vote-up {
    color: #ECE6CD;
    fill: #ECE6CD;
  }
  &#upload {
    color: #A0A0A0;
    fill: #A0A0A0;
  }
  &#vote-down {
    color: #ECE6CD;
    fill: #ECE6CD;
  }
  &#share {
    color: #DFCA6A;
    fill: #DFCA6A;
  }
  &#send-left {
    color: #CCC;
    fill: #CCC;
  }
}
