
div.token-input-holder {
  width: 100%;
  font-family: Oswald-Light, sans-serif;
  font-style: italic;
  div.token-input-elmt {
    display: inline-block;
    min-width: 12em;
    max-width: 100%;
    position: relative;
    color: #555555;
    text-align: left;
    // We want to propagate the font size down to the selections and the dropdown
    ul {
      font-size: inherit;
      li {
        font-size: inherit;
      }
    }
    div {
      font-size: inherit;
      &.token-input-dropdown-facebook {
        font-size: 80%;
      }
      p {
        font-size: inherit;
      }
    }
  }
  ul.token-input-list, ul.token-input-list-facebook {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    display: block;
    overflow-x: hidden;
    padding-right: 1.5em; // Room for the search icon
    li:first-child {
      &.token-input-input-token-facebook {
        // The width of an empty tokeninput field is too narrow for the placeholder, so...
        // background-color: red;
        min-width: 12em;
      }
    }
    li.token-input-token, li.token-input-token-facebook {
      // Styling for chosen tokens
      font-family: 'Archivo-Narrow', 'Archivo Narrow', "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: inherit;
      font-style: italic;
      line-height: 1.3em;
      margin-top: .2em;
    }
    li.token-input-input-token, li.token-input-input-token-facebook {
      margin: 0;
      line-height: 1;
      // float: initial;
      input {
        font-family: inherit;
        font-style: inherit;
        font-size: inherit;
        margin-top: 3px;
      }
    }
  }
  div.search-glyph {
    position: absolute;
    right: 7px;
    font-size: inherit;
    top: 0.4em;
  }
}

