$font-stack: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-light: Oswald-Light, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-bold: Oswald-Bold, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$archivo: 'Archivo-Narrow', 'Archivo Narrow', "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-background-color: #F1F1F0;
$content-background-color: #F2F1F0;

// For material relating to the current user
$viewer-card-background-color: #ecdad7;
$viewer-panels-label-text-color: #e6ccc8;
$viewer-panels-label-button-color: #efc5bd;

// For material relating to lists of the current user

$friends-navtab-background-color: #e4e0cf;
$friends-navtab-text-color: #dbc046;

$friends-card-background-color: #e9e4ca;
$friends-panels-label-text-color: #e9e4ca;
$friends-panels-label-button-color: #dbd3ab;
$friends-panel-background-color: #e9e4ca;
$friends-panel-background-transparent: rgba(233, 228, 202, 0);
$friends-panel-label-color: #f3f2ea;

$panel-two-background-color: #7c966a;
$panel-two-background-transparent: rgba(124, 150, 106, 0);

$panel-three-background-color: #4c7c99;
$panel-three-background-transparent: rgba(76, 124, 153, 0);

$panel-four-background-color: #dbc046;
$panel-four-background-transparent: rgba( 219, 192, 70, 0);
  // For displaying other users
$user-card-background-color: #ffffff;
$user-panels-label-text-color: #bbbbbb;
$user-panels-label-button-color: #ffffff;

$recipes-navtab-background-color: #d8dde0;
$recipes-navtab-text-color: #4c7c99;
$recipes-card-background-color: #f9f8f4;
$recipes-panels-label-text-color: #dfdfdf;
$recipes-panels-label-button-color: #afafaf;
$recipes-panel-background-color: #d8dde0;
$recipes-panel-background-transparent: rgba(216, 221, 224, 0);
$recipes-panel-label-color: #e5ebef;

$lists-navtab-background-color: #dbe0dd;
$lists-navtab-text-color: #1d6a2b;
$lists-card-background-color: #d0dbd2;
$lists-panels-label-text-color: #e9e4ca;
$lists-panels-label-button-color: #94b79a;
$lists-panel-background-color: #dbe0dd;
$lists-panel-background-transparent: rgba(219, 224, 221, 0);
$lists-panel-label-color: #e9eeea;

$feeds-navtab-background-color: #e7dfd6;
$feeds-navtab-text-color: #de8822;
$feeds-card-background-color: #f3e3cf;
$feeds-panel-background-color: #e7dfd6;
$feeds-panel-background-transparent: rgba(247, 223, 214, 0);
$feeds-panel-label-color: #f5f2ee;

$utensils-navtab-background-color: #dcdbdc;
$utensils-navtab-text-color: #816887;

// Color for the user card and panels
$user-color: #EDDAD7;

// Define depths of various elements
$dialog-depth: 1050;
$logo-depth: 1030;
$menuback-depth: 1029;
$container-depth: 1000;
$footer_nav_links-depth: 11;
$slider-scroller-depth: 1004; // from slider.css.scss
$slider-title-depth: 1001; // from slider.css.scss
$slider-fader-depth: 1002; // from slider.css.scss
$slider-right-depth: 1003; // from slider.css.scss
$panels-depth: 991;

$salmon-background-color: #CF6361;
$salmon-text-color: #E8d6d6;
$salmon-button-color: #CF2F27;
$salmon-field-background-color: #F3DFDE;
$salmon-link-color: #E0A09E;

@mixin div-green {
  background-color: #4B815B;
  color: #9AB3A0;
  // input[type='text'], input[type='password'], input[type='email'] {
  input.string, textarea, input[type='text'], input[type='password'], input[type='email'], ul.token-input-list-facebook {
    background-color: #C1D3C7;
    color: #849688;
  }
  input.center-button {
    background-color: #D8E5DC;
    background-image: unset;
    color: #385E44;
    border-color: #385E44;
  }
  a {
    color: #9AB3A0;
    &.btn-info {
      color: lightyellow;
    }
  }
}

@mixin div-salmon {
  background-color: $salmon-background-color;
  color: $salmon-text-color;
  input.string, textarea, input[type='text'], input[type='password'], input[type='email'], div.form-group.string > ul.token-input-list-facebook {
    background-color: $salmon-field-background-color;
    color: $salmon-button-color;
  }
  .center-button {
    background-color: $salmon-field-background-color;
    background-image: unset;
    color: $salmon-button-color;
    border-color: $salmon-button-color;
  }
  a {
    color: $salmon-link-color;
    &.btn-info {
      color: lightgray;
    }
  }
}

@mixin div-blue {
  background-color: #5090A9;
  color: #E6D7A3;
  input.string, textarea, input[type='text'], input[type='password'], input[type='email'], div.form-group.string > ul.token-input-list-facebook {
    background-color: #C2D9E1;
    color: #7E9796;
  }
  .center-button {
    background-color: #C2D9E1;
    background-image: unset;
    color: #205D72;
    border-color: #205D72;
  }
  a {
    color: #A0B6C2;
    &.btn-info {
      color: lightgray;
    }
  }
}

@mixin div-purple {
  background-color: #7D6D89;
  color: #E8D6D6;
  input.string, textarea, input[type='text'], input[type='password'], input[type='email'], div.form-group.string > ul.token-input-list-facebook {
    background-color: #D2CCD6;
    color: #8F9092;
  }
  .center-button {
    background-color: #E1E0E4;
    background-image: unset;
    color: #541D78;
    border-color: #541D78;
  }
  form div a {
    color: #E8D6D6;
    &.btn-info {
      color: lightgray;
    }
  }
}

/*
$feeds-navtab-background-color: #e7dfd6;
$feeds-navtab-text-color: #de8822;
$feeds-card-background-color: #f3e3cf;
$feeds-panel-background-color: #e7dfd6;
$feeds-panel-background-transparent: rgba(247, 223, 214, 0);
$feeds-panel-label-color: #f5f2ee;
*/

$feeds-background-color: $feeds-card-background-color;
$feeds-text-color: $feeds-navtab-text-color;
$feeds-button-color: $feeds-panel-label-color;
$feeds-field-background-color: $feeds-navtab-background-color;
$feeds-link-color: $feeds-navtab-text-color;

@mixin div-feeds {
  background-color: $feeds-background-color;
  color: $feeds-text-color;
  input.string, textarea, input[type='text'], input[type='password'], input[type='email'], div.form-group.string > ul.token-input-list-facebook {
    background-color: $feeds-field-background-color;
    color: $feeds-text-color;
  }
  .center-button {
    background-color: $feeds-field-background-color;
    background-image: unset;
    color: $feeds-button-color;
    border-color: $feeds-button-color;
  }
  a {
    color: $feeds-link-color;
    &.btn-info {
      color: lightgray;
    }
  }
}
