@import 'common/media';

$font-stack: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-light: Oswald-Light, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-bold: Oswald-Bold, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$archivo: 'Archivo-Narrow', 'Archivo Narrow', "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-background-color: #F1F1F0;
$content-background-color: #F2F1F0;

$generic-card-background-color: #f9f8f4;
$generic-card-color: #aaaaaa;
$generic-card-title-color: darkgrey;
$generic-card-label-color: darkgrey;
$generic-panels-label-color: #bbbbbb;
$generic-panels-label-button-color: lightgray;
$generic-panels-button-color: #fafafa;

// For material relating to the current user
$viewer-card-background-color: #ecdad7;
$viewer-panels-label-color: #e6ccc8;
$viewer-panels-label-button-color: #efc5bd;
$viewer-card-link-color: mix($viewer-panels-label-button-color, black, 70%);

// For material relating to lists of the current user

$friends-navtab-background-color: #e4e0cf;
$friends-navtab-color: #bfa73d;

$friends-card-background-color: #e9e4ca;
$friends-panels-label-color: #e9e4ca;
$friends-panels-label-button-color: #dbd3ab;
$friends-panel-background-color: #e9e4ca;
$friends-panel-background-transparent: rgba(233, 228, 202, 0);
$friends-panel-label-color: #f3f2ea;
$friends-card-link-color: mix($friends-panels-label-button-color, black, 80%);

  // For displaying other users
$user-card-background-color: #ecedef;
$user-card-color: #aaaaaa;
$user-card-title-color: darkgrey;
$user-card-label-color: darkgrey;
$user-panels-label-color: #bbbbbb;
$user-panels-label-button-color: #ffffff;
$user-panels-button-color: #999999;

$recipes-navtab-background-color: #d8dde0;
$recipes-navtab-color: #4c7c99;
$recipes-card-background-color: #f9f8f4;
$recipes-panels-label-color: #dfdfdf;
$recipes-panels-label-button-color: #afafaf;
$recipes-panel-background-color: #d8dde0;
$recipes-panel-background-transparent: rgba(216, 221, 224, 0);
$recipes-panel-label-color: #e5ebef;

$lists-navtab-background-color: #dbe0dd;
$lists-navtab-color: #1d6a2b;
$list-card-background-color: #d0dbd2;
$list-card-color: $lists-navtab-color;
$list-panels-background-color: #f6f8f7;
$list-panels-label-color: #e9e4ca;
$list-panels-label-button-color: #74977a;
$list-panel-background-color: #dbe0dd;
$list-panel-background-transparent: rgba(219, 224, 221, 0);
$list-panel-label-color: #e9eeea;

$feeds-navtab-background-color: #e7dfd6;
$feeds-navtab-color: #de8822;
$feeds-card-background-color: #f3e3cf;
$feeds-panel-background-color: #e7dfd6;
$feeds-panel-background-transparent: rgba(247, 223, 214, 0);
$feeds-panel-label-color: #f5f2ee;

$utensils-navtab-background-color: #dcdbdc;
$utensils-navtab-color: #816887;

// Color for the user card and panels
$user-color: #EDDAD7;

// Default colors for glyphs
$vote-glyph-color: #ECE6CD;

// Define depths of various elements
$dialog-depth: 1050;
$header-depth: 1030;
$menuback-depth: 1029;
$container-depth: 1000;

$menu-top-xs: 38px;
$menu-top-sm: 43px;
$menu-top-med: 46px;
$menu-top-largish: 43px;

$header-height-xs: 46px;
$header-height: 52px;
$menus-height-lg: 142px;
$menus-height-wide: 133px;

$header-outline-color: #dddddd;

$col-width-phone: 85%;
$col-width-small: 43%;
$col-width-medium: 23%;
$col-width-largish: 23%;
$col-width-large: 23%;
$col-width-wide: 23%;

$col-width-lg-phone: $col-width-phone;
$col-width-lg-small: $col-width-small*2+3;
$col-width-lg-medium: $col-width-medium*2+2;
$col-width-lg-largish: $col-width-largish*2+2;
$col-width-lg-large: $col-width-large*2+1;
$col-width-lg-wide: $col-width-wide*2+1;

$col-width-xl-phone: 85%;
$col-width-xl-small: 85%;
$col-width-xl-medium: 85%;
$col-width-xl-largish: 90%;
$col-width-xl-large: 95%;
$col-width-xl-wide: 95%;

/*
$avatar-width-phone: 85%;
$avatar-width-small: 85%;
$avatar-width-medium: 90%;
$avatar-width-largish: 50%;
$avatar-width-large: 40%;
$avatar-width-wide: 45%;
*/

/*
$menuback-height-down: 205px;
$menuback-height-up: 45px;
*/

$logo-clearance-lg: 220px;
$logo-clearance-sm: 198px;
$logo-clearance-xs: 60px;

$hamburger-clearance-lg: 1px;
$hamburger-clearance-sm: 80px;

$notif-clearance-xs: 65px;
$notif-clearance-sm: 90px;
$notif-clearance-med: 185px;
$notif-clearance-lg: 225px;

$triggered-form-height: 30px;
$triggered-form-margin: 10px;
$footer_nav_links-depth: 11;
$slider-scroller-depth: 1004; // from slider.css.scss
$slider-title-depth: 1001; // from slider.css.scss
$slider-fader-depth: 1002; // from slider.css.scss
$slider-right-depth: 1003; // from slider.css.scss

$green-background-color: #4B815B;
$green-color: #ECE6CD;
$green-link-color: #9AB3A0;

$green-field-background-color: #dfebe2;
$green-field-color: #227133;

$green-select-background-color: $green-field-background-color;
$green-select-color: $green-field-color;

$green-button-background-color: #D8E5DC;
$green-button-color: #385E44;
$green-button-border-color: #385E44;

$green-flash-background-color: $green-button-background-color;
$green-flash-color: $green-button-color;
$green-flash-border-color: $green-button-border-color;

$salmon-background-color: #CF6361;
$salmon-color: #E8d6d6;

$salmon-field-background-color: #F3DFDE;
$salmon-field-color: #CF6361;

$salmon-link-color: #E0A09E;

$salmon-button-background-color: #e5d1d0;
$salmon-button-color: #CF2F27;
$salmon-button-border-color: #cf7876;

$blue-background-color: #5090A9;
$blue-color: #E6D7A3;

$blue-field-background-color: #C2D9E1;
$blue-field-color: #7E9796;

$blue-link-color: #A0B6C2;

$blue-button-background-color: #C2D9E1;
$blue-button-color: #205D72;
$blue-button-border-color: #205D72;

$purple-color: #E8D6D6;
$purple-background-color: #7D6D89;

$purple-field-color: #8F9092;
$purple-field-background-color: #D2CCD6;

$purple-link-color: #E8D6D6;

$purple-button-background-color: #E1E0E4;
$purple-button-color: #541D78;
$purple-button-border-color: #541D78;

$feeds-background-color: $feeds-card-background-color;
$feeds-color: $feeds-navtab-color;

$feeds-field-background-color: $feeds-navtab-background-color;
$feeds-field-color: $feeds-color;

$feeds-link-color: $feeds-navtab-color;

// TBD if/when a feeds dialog actually has a button
$feeds-button-color: $feeds-panel-label-color;
$feeds-button-background-color: $feeds-panel-label-color;
$feeds-button-border-color: $feeds-panel-label-color;

// Various color schemes for dialogs
$dialog-colors: (
        green-background-color: $green-background-color,
        green-color: $green-color,
        green-link-color: $green-link-color,
        green-field-background-color: $green-field-background-color,
        green-field-color: $green-field-color,
        green-select-background-color: $green-field-background-color,
        green-select-color: $green-field-color,
        green-button-background-color: $green-button-background-color,
        green-button-color: $green-button-color,
        green-button-border-color: $green-button-border-color,
        green-flash-background-color: $green-button-background-color,
        green-flash-color: $green-button-color,
        green-flash-border-color: $green-button-border-color,

        salmon-background-color: $salmon-background-color,
        salmon-color: $salmon-color,
        salmon-link-color: $salmon-link-color,
        salmon-field-background-color: $salmon-field-background-color,
        salmon-field-color: $salmon-field-color,
        salmon-select-background-color: $salmon-field-background-color,
        salmon-select-color: $salmon-field-color,
        salmon-button-background-color: $salmon-button-background-color,
        salmon-button-color: $salmon-button-color,
        salmon-button-border-color: $salmon-button-border-color,
        salmon-flash-background-color: $salmon-button-background-color,
        salmon-flash-color: $salmon-button-color,
        salmon-flash-border-color: $salmon-button-border-color,

        blue-background-color: $blue-background-color,
        blue-color: $blue-color,
        blue-link-color: $blue-link-color,
        blue-field-background-color: $blue-field-background-color,
        blue-field-color: $blue-field-color,
        blue-select-background-color: $blue-field-background-color,
        blue-select-color: $blue-field-color,
        blue-button-background-color: $blue-button-background-color,
        blue-button-color: $blue-button-color,
        blue-button-border-color: $blue-button-border-color,
        blue-flash-background-color: $blue-button-background-color,
        blue-flash-color: $blue-button-color,
        blue-flash-border-color: $blue-button-border-color,

        purple-background-color: $purple-background-color,
        purple-color: $purple-color,
        purple-link-color: $purple-link-color,
        purple-field-background-color: $purple-field-background-color,
        purple-field-color: $purple-field-color,
        purple-select-background-color: $purple-field-background-color,
        purple-select-color: $purple-field-color,
        purple-button-background-color: $purple-button-background-color,
        purple-button-color: $purple-button-color,
        purple-button-border-color: $purple-button-border-color,
        purple-flash-background-color: $purple-button-background-color,
        purple-flash-color: $purple-button-color,
        purple-flash-border-color: $purple-button-border-color,

        feed-dialog-background-color: $feeds-background-color,
        feed-dialog-color: $feeds-color,
        feed-dialog-link-color: $feeds-link-color,
        feed-dialog-field-background-color: $feeds-field-background-color,
        feed-dialog-field-color: $feeds-field-color,
        feed-dialog-select-background-color: $feeds-field-background-color,
        feed-dialog-select-color: $feeds-field-color,
        feed-dialog-button-background-color: $feeds-button-background-color,
        feed-dialog-button-color: $feeds-button-color,
        feed-dialog-button-border-color: $feeds-button-border-color,
        feed-dialog-flash-background-color: $feeds-button-background-color,
        feed-dialog-flash-color: $feeds-button-color,
        feed-dialog-flash-border-color: $feeds-button-border-color,

        list-dialog-background-color: $list-card-background-color,
        list-dialog-color: $list-card-color,
        list-dialog-link-color: $list-panel-label-color,
        list-dialog-field-background-color: $list-panels-background-color,
        list-dialog-field-color: $lists-navtab-color,
        list-dialog-select-background-color: $list-panels-background-color,
        list-dialog-select-color: $lists-navtab-color,
        list-dialog-button-background-color: $list-panels-background-color,
        list-dialog-button-color: $list-panels-label-button-color,
        list-dialog-button-border-color: $lists-navtab-color,
        list-dialog-flash-background-color: $list-panels-background-color,
        list-dialog-flash-color: $list-panel-label-color,
        list-dialog-flash-border-color: $lists-navtab-color

);

// This mixin applies the color scheme to a dialog using the colors declared above
@mixin dialog-color-scheme($colorName) {
  background-color: map-get($dialog-colors, unquote("#{$colorName}-background-color"));
  color: map-get($dialog-colors, unquote("#{$colorName}-color"));
  li.token-input-token-facebook, li.token-input-token { // The collected token(s)
    color: mix(map-get($dialog-colors, unquote("#{$colorName}-color")), white, 70%);
    background-color: mix(map-get($dialog-colors, unquote("#{$colorName}-background-color")), map-get($dialog-colors, unquote("#{$colorName}-field-background-color")), 70%);
    border-color: map-get($dialog-colors, unquote("#{$colorName}-background-color"));
  }
  // input[type='text'], input[type='password'], input[type='email'] {
  input.string, textarea, input[type='text'], input[type='url'], input[type='password'], input[type='email'], ul.token-input-list-facebook, ul.token-input-list  {
    background-color: map-get($dialog-colors, unquote("#{$colorName}-field-background-color"));
    color: map-get($dialog-colors, unquote("#{$colorName}-field-color"));
    &::placeholder {
      color: mix(
                      map-get($dialog-colors, unquote("#{$colorName}-field-color")),
                      map-get($dialog-colors, unquote("#{$colorName}-field-background-color")),
                      50%
      );
    }
  }
  select, div.token-input-dropdown-facebook, div.token-input-dropdown {
    background-color: map-get($dialog-colors, unquote("#{$colorName}-select-background-color"));
    color: map-get($dialog-colors, unquote("#{$colorName}-select-color"));
  }
  input.center-button {
    background-color: map-get($dialog-colors, unquote("#{$colorName}-button-background-color"));
    background-image: unset;
    color: map-get($dialog-colors, unquote("#{$colorName}-button-color"));
    border-color: map-get($dialog-colors, unquote("#{$colorName}-button-border-color"));
  }
  div#paneButtons label.btn-primary {
    background-color: map-get($dialog-colors, unquote("#{$colorName}-button-background-color"));
    &.active {
      background-color: mix(map-get($dialog-colors, unquote("#{$colorName}-button-background-color")), black, 90%);
    }
    background-image: unset;
    color: map-get($dialog-colors, unquote("#{$colorName}-button-color"));
    border-color: map-get($dialog-colors, unquote("#{$colorName}-button-border-color"));
  }
  a {
    color: map-get($dialog-colors, unquote("#{$colorName}-link-color"));
    &.btn-info {
      color: lightyellow;
    }
  }
  span.help-block.has-error {
    background-color: map-get($dialog-colors, unquote("#{$colorName}-flash-background-color"));
    color: map-get($dialog-colors, unquote("#{$colorName}-flash-color"));
    border-color: map-get($dialog-colors, unquote("#{$colorName}-flash-border-color"));
  }
  div.lists_collectible {
    div.control-group {
      ul.token-input-list {
        background-color: map-get($dialog-colors, unquote("#{$colorName}-field-background-color"));
        font-size: 16px;
        width: 100%;
        li.token-input-input-token input.token-input-field {
          margin: 3px;
        }
      }
      li.token-input-token {
        margin: 5px;
        outline-color: p {
          width: 96%;
        }
        background-color: map-get($dialog-colors, unquote("#{$colorName}-field-background-color"));
        color: map-get($dialog-colors, unquote("#{$colorName}-button-color")); // map-get($dialog-colors, unquote("green-button-color"));
        outline: 3px solid mix(
                        map-get($dialog-colors, unquote("#{$colorName}-button-color")),
                        map-get($dialog-colors, unquote("#{$colorName}-field-background-color")),
                        40%
        );
      }
    }
    div.selection-list {
      outline: 1px solid black;
      overflow-y: scroll;
      height: 7em;
      margin: 5px 20px;
      padding: 2px;
      a.selection-item {
        margin: 3px 8px 3px 4px;
        padding-left: 5px;
        font-size: 0.8em;
        display: block;
        line-height: 2.2em;
        background-color: map-get($dialog-colors, unquote("#{$colorName}-field-background-color"));
        color: map-get($dialog-colors, unquote("#{$colorName}-background-color")); // map-get($dialog-colors, unquote("green-button-color"));
        &.owned {
          background-color: $lists-navtab-background-color;
          color: $lists-navtab-color;
        }
        &.contributed {
          background-color: $recipes-navtab-background-color;
          color: $recipes-navtab-color;
        }
        &.friends {
          background-color: $friends-navtab-background-color;
          color: $friends-navtab-color;
        }
      }
    }
  }
}

// Background and text colors for navtab menus
$menu-colors: (
        recipes-navtab-background-color: $recipes-navtab-background-color,
        recipes-navtab-color: $recipes-navtab-color,
        friends-navtab-background-color: $friends-navtab-background-color,
        friends-navtab-color: $friends-navtab-color,
        lists-navtab-background-color: $lists-navtab-background-color,
        lists-navtab-color: $lists-navtab-color,
        feeds-navtab-background-color: $feeds-navtab-background-color,
        feeds-navtab-color: $feeds-navtab-color,
        home-navtab-background-color: $header-outline-color, // #ecdad7
        home-navtab-color: inherit // #ecdad7
);

@mixin menu-color-scheme($menuName) {
  background-color: map-get($menu-colors, unquote("#{$menuName}-navtab-background-color"));
  a {
    color: map-get($menu-colors, unquote("#{$menuName}-navtab-color"));
  }
}

// Color scheme for cards (the element that comes first in a #show request
$card-colors: (
        /* Default card color characteristics */
        generic-card-color: $generic-card-color,
        generic-card-background-color: $generic-card-background-color,
        generic-card-header-color: $generic-card-title-color,
        generic-card-title-color: #909090,
        generic-card-link-color: $generic-card-color,
  // generic-card-source-color: #cdcdcd,
  // generic-card-source-link-color: #909090,
  // generic-card-description-color: inherit,
        generic-card-label-color: #cdcdcd,
  // generic-card-aspect-contents-color: #cdcdcd,
  // generic-card-notes-color: #cdcdcd,
  // generic-card-tagsep-color: #cdcdcd,

        recipe-card-color: $recipes-panels-label-button-color,
        recipe-card-background-color: $recipes-card-background-color,
        recipe-card-header-color: #cdcdcd,
        recipe-card-title-color: #909090,
        recipe-card-link-color: $recipes-panels-label-button-color,
  // recipe-card-source-color: #cdcdcd,
  // recipe-card-source-link-color: #909090,
  // recipe-card-description-color: inherit,
        recipe-card-label-color: #cdcdcd,
  // recipe-card-aspect-contents-color: #cdcdcd,
  // recipe-card-notes-color: #cdcdcd,
  // recipe-card-tagsep-color: #cdcdcd,

  /*
  background-color: $viewer-card-background-color;
  div.title > a.title-link {
    color: white;
  }
  a {
    color: $viewer-card-link-color;
  }
  */
        viewer-card-color: $viewer-panels-label-button-color,
        viewer-card-background-color: $viewer-card-background-color,
        viewer-card-header-color: white,
        viewer-card-link-color: $viewer-card-link-color,
        viewer-card-title-color: #909090,
  // viewer-card-source-color: #cdcdcd,
  // viewer-card-source-link-color: #909090,
  // viewer-card-description-color: inherit,
        viewer-card-label-color: #999999,
  // viewer-card-aspect-contents-color: #cdcdcd,
  // viewer-card-notes-color: #cdcdcd,
  // viewer-card-tagsep-color: #cdcdcd,

  /*
  background-color: $friends-card-background-color;
  div.title > a.title-link {
    color: white;
  }
  a {
    color: $friends-card-link-color;
  }
$friends-navtab-background-color: #e4e0cf;
$friends-navtab-color: #dbc046;

$friends-card-background-color: #e9e4ca;
$friends-panels-label-color: #e9e4ca;
$friends-panels-label-button-color: #dbd3ab;
$friends-panel-background-color: #e9e4ca;
$friends-panel-background-transparent: rgba(233, 228, 202, 0);
$friends-panel-label-color: #f3f2ea;
$friends-card-link-color: mix($friends-panels-label-button-color, black, 80%);
  */
        friend-card-color: $friends-navtab-color,
        friend-card-background-color: $friends-card-background-color,
        friend-card-header-color: white,
        friend-card-link-color: $friends-card-link-color,
        friend-card-title-color: #909090,
  // friend-card-source-color: #cdcdcd,
  // friend-card-source-link-color: #909090,
  // friend-card-description-color: inherit,
        friend-card-label-color: #cdcdcd,
  // friend-card-aspect-contents-color: #cdcdcd,
  // friend-card-notes-color: #cdcdcd,
  // friend-card-tagsep-color: #cdcdcd,

  /*
  background-color: $feeds-card-background-color;
  div.title > a.title-link {
    color: $feeds-navtab-color;
  }
  a {
    color: $feeds-link-color;
  }
$feeds-navtab-background-color: #e7dfd6;
$feeds-navtab-color: #de8822;
$feeds-card-background-color: #f3e3cf;
$feeds-panel-background-color: #e7dfd6;
$feeds-panel-background-transparent: rgba(247, 223, 214, 0);
$feeds-panel-label-color: #f5f2ee;
  */
        feed-card-color: inherit,
        feed-card-background-color: $feeds-card-background-color,
        feed-card-header-color: $feeds-navtab-color,
        feed-card-link-color: $feeds-link-color,
        feed-card-title-color: $feeds-navtab-color,
  // feed-card-source-color: #cdcdcd,
  // feed-card-source-link-color: #909090,
  // feed-card-description-color: inherit,
        feed-card-label-color: mix($feeds-navtab-color, white, 75%),
  // feed-card-aspect-contents-color: #cdcdcd,
  // feed-card-notes-color: #cdcdcd,
  // feed-card-tagsep-color: #cdcdcd,

  /*
  color: $user-card-color;
  background-color: $user-card-background-color;
  div.title > a.title-link {
    color: $user-card-title-color;
  }
  .card-aspect-label {
    color: $user-card-label-color;
  }
  a {
    color: #888888;
  }
  */
        user-card-color: $user-card-color,
        user-card-background-color: $user-card-background-color,
        user-card-header-color: $user-card-title-color,
        user-card-label-color: $user-card-label-color,
        user-card-link-color: #888888,
        user-card-title-color: #909090,
  // user-card-source-color: #cdcdcd,
  // user-card-source-link-color: #909090,
  // user-card-description-color: inherit,
  // user-card-aspect-contents-color: #cdcdcd,
  // user-card-notes-color: #cdcdcd,
  // user-card-tagsep-color: #cdcdcd,

  /*
  background-color: $lists-card-background-color;
  div.title > a.title-link {
    color: rgba($lists-navtab-color, 0.6);
  }
  a {
    color: $lists-panels-label-button-color;
  }
$lists-navtab-background-color: #dbe0dd;
$lists-navtab-color: #1d6a2b;
$lists-card-background-color: #d0dbd2;
$lists-panels-label-color: #e9e4ca;
$lists-panels-label-button-color: #94b79a;
$lists-panel-background-color: #dbe0dd;
$lists-panel-background-transparent: rgba(219, 224, 221, 0);
$lists-panel-label-color: #e9eeea;
  */
        list-card-color: inherit,
        list-card-background-color: $list-card-background-color,
        list-card-header-color: rgba($lists-navtab-color, 0.6),
        list-card-link-color: $list-panels-label-button-color,
        list-card-title-color: $lists-navtab-color,
  // list-card-source-color: #cdcdcd,
  // list-card-source-link-color: #909090,
  // list-card-description-color: inherit,
        list-card-label-color: #aaaaaa,
  // list-card-aspect-contents-color: #cdcdcd,
  // list-card-notes-color: #cdcdcd,
  // list-card-tagsep-color: #cdcdcd,

        /* Sites: the former entity-card  */
        site-card-color: #909090,
        site-card-background-color: $generic-card-background-color,
        site-card-title-color: #909090,
        site-card-link-color: $generic-card-title-color,
        site-card-header-color: #cdcdcd,
        // site-card-source-color: #cdcdcd,
        // site-card-source-link-color: #909090,
        // site-card-description-color: inherit,
        site-card-label-color: #cdcdcd,
        // site-card-aspect-contents-color: #cdcdcd,
        // site-card-notes-color: #cdcdcd,
        // site-card-tagsep-color: #cdcdcd,
);

@mixin card-color-scheme($cardType) {
  color: map-get($card-colors, unquote("#{$cardType}-card-color"));
  background-color: map-get($card-colors, unquote("#{$cardType}-card-background-color"));
  a.title-link, span.title-link {
    color: map-get($card-colors, unquote("#{$cardType}-card-title-color"));
  }
  a {
    color: map-get($card-colors, unquote("#{$cardType}-card-link-color"));
  }
  svg#vote-up, svg#vote-down {
    // color: map-get($card-colors, unquote("#{$cardType}-card-link-color"));
    fill: mix(map-get($card-colors, unquote("#{$cardType}-card-title-color")),
               map-get($card-colors, unquote("#{$cardType}-card-background-color")),
               30%);
  }
  h3 { // Section header
    color: map-get($card-colors, unquote("#{$cardType}-card-header-color"));
  }
  div.source {
    color: #999; // map-get($card-colors, unquote("#{$cardType}-card-source-color"));
    a.source-link {
      color: #77a2be; // map-get($card-colors, unquote("#{$cardType}-card-source-link-color"));
    }
  }
  .description {
    color: #949292;  // map-get($card-colors, unquote("#{$cardType}-card-description-color"));
  }
  .card-aspect-label {
    color: map-get($card-colors, unquote("#{$cardType}-card-label-color"));
  }
  div.card-aspect-contents {
    color: #909090; // map-get($card-colors, unquote("#{$cardType}-card-aspect-contents-color"));
    &.notes {
      color: #aaaaaa; // map-get($card-colors, unquote("#{$cardType}-card-notes-color"));
    }
    span.tagsep {
      color: #8ac5d2; // map-get($card-colors, unquote("#{$cardType}-card-tagsep-color"));
    }
  }
}
