$font-stack: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-light: Oswald-Light, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$oswald-bold: Oswald-Bold, Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
$archivo: 'Archivo-Narrow', 'Archivo Narrow', "Helvetica Neue", Helvetica, Arial, sans-serif;
$page-background-color: #F1F1F0;
$content-background-color: #F2F1F0;

// For material relating to the current user
$viewer-card-background-color: #ecdad7;
$viewer-panels-label-text-color: #e6ccc8;
$viewer-panels-label-button-color: #efc5bd;

// For material relating to lists of the current user

$friends-navtab-background-color: #e4e0cf;
$friends-navtab-text-color: #dbc046;

$friends-card-background-color: #e9e4ca;
$friends-panels-label-text-color: #e9e4ca;
$friends-panels-label-button-color: #dbd3ab;
$friends-panel-background-color: #e9e4ca;
$friends-panel-background-transparent: rgba(233, 228, 202, 0);
$friends-panel-label-color: #f3f2ea;

// For displaying other users
$user-card-background-color: #ffffff;
$user-panels-label-text-color: #222222;
$user-panels-label-button-color: #ffffff;

$recipes-navtab-background-color: #d8dde0;
$recipes-navtab-text-color: #4c7c99;
$recipes-card-background-color: #f9f8f4;
$recipes-panels-label-text-color: #dfdfdf;
$recipes-panels-label-button-color: #dfdfdf;
$recipes-panel-background-color: #d8dde0;
$recipes-panel-background-transparent: rgba(216, 221, 224, 0);
$recipes-panel-label-color: #e5ebef;

$lists-navtab-background-color: #dbe0dd;
$lists-navtab-text-color: #1d6a2b;
$lists-card-background-color: #d0dbd2;
$lists-panels-label-text-color: #e9e4ca;
$lists-panels-label-button-color: #94b79a;
$lists-panel-background-color: #dbe0dd;
$lists-panel-background-transparent: rgba(219, 224, 221, 0);
$lists-panel-label-color: #e9eeea;

$feeds-navtab-background-color: #e7dfd6;
$feeds-navtab-text-color: #de8822;
$feeds-card-background-color: #f3e3cf;
$feeds-panel-background-color: #e7dfd6;
$feeds-panel-background-transparent: rgba(247, 223, 214, 0);
$feeds-panel-label-color: #f5f2ee;

$utensils-navtab-background-color: #dcdbdc;
$utensils-navtab-text-color: #816887;

// Color for the user card and panels
$user-color: #EDDAD7;

// Define depths of various elements
$menuback-depth: 1029;
$container-depth: 990;
$top-right-corner-depth: 1000;
$dialog-depth: 1050;
$footer_nav_links-depth: 11;
$slider-scroller-depth: 1001; // from slider.css.scss
$slider-title-depth: 1000; // from slider.css.scss
$slider-fader-depth: 1002; // from slider.css.scss
$slider-right-depth: 1003; // from slider.css.scss
