@import 'bourbon';
@import url(https://fonts.googleapis.com/css?family=Archivo+Narrow:700,400);
@import 'common/variables';
@import 'bootstrap_amendments';
@import 'views/*';
@import 'controllers/*';
@import 'common/buttons';
@import 'common/card';
@import 'common/dialog';
@import 'common/feed_entries';
@import 'common/filtered_presenter';
@import 'common/masonry';
@import 'common/navbar';
@import 'common/panel';
@import 'common/slider';
@import 'common/sprites';
@import 'common/tagger';
@import 'common/tool_menu';
@import 'paginate';
@import "jquery/jNotify.jquery";
// @import "jquery.ui.all";
// @import 'jquery/jquery-ui-1.8.17.custom';
@import 'jquery/token-input-bootstrappy';
@import 'jquery/token-input';
@import 'feedback';
@import 'oswald';
@import 'bootstrap.icon-large.min';
@import 'collection';

body {
  font-family: $font-stack;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 150%;
  letter-spacing: 1px;
}

div.modal.signup {
  top: 10%;
  right: 10%;
  outline: none;
}

div.card {
  background-color: white;
  border: 2px darkgray;
  margin-top: 10px;
  padding-top: 10px
}

table.results {
  &.lists {
    th {
      color: $lists-navtab-color;
    }
  }
}

a.entity {
  &.list {
    color: $lists-navtab-color;
  }
  &.user {
    &.viewer {
      color: $viewer-panels-label-color;
    }
    &.friend {
      color: $friends-navtab-color;
    }
    &.other {
      color: $user-panels-label-color;
    }
  }
}

.soft-button {
  color: $page-background-color;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}

.open > .dropdown-toggle {
  background-color: #fff;
}

div.card {
  background-color: white;
  border: 2px darkgray;
  margin-top: 10px;
  padding-top: 10px
}

img.empty {
  display: none;
}

div.glyph-button {
  display: inline-block;
}

.tag-filter-title {
  font-family: Oswald, sans-serif;
  text-transform: lowercase;
}

.scrollable-menu {
  height: auto;
  max-height: 400px;
  overflow-x: hidden;
}

// .simple_form label {
// float: left
// margin: 8px 0 5px;
// }

div.booger {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: $dialog-depth + 1;
  background-color: #dedede;
  border: 1px solid #222222;
  padding: 0 3px;
  font-size: 0.7em;
  span {
    display: none;
    &.phone {
      @include respond-to(phone) {
        display: inline-block;
      }
    }
    &.small {
      @include respond-to(small) {
        display: inline-block;
      }
    }
    &.medium {
      @include respond-to(medium) {
        display: inline-block;
      }
    }
    &.largish {
      @include respond-to(largish) {
        display: inline-block;
      }
    }
    &.large {
      @include respond-to(large) {
        display: inline-block;
      }
    }
    &.wide {
      @include respond-to(wide) {
        display: inline-block;
      }
    }
  }
}
.resource-element {
  margin-top: 10px;
  &.pic {
    display: inline-block;
    vertical-align: top;
  }

  &.info {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }

  &.title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }

  &.subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: normal;
  }
}

// Cozies up to the tags selector above it
div.form-group {
  &.boolean {
    margin-left: 30px;
    &.list_pullin {
      margin-top: 5px;
    }
  }
  &.radio_buttons {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

form.edit_user {
  div.row.bottom {
    margin-top: 10px;
  }
}

div.token-input-dropdown, div.token-input-dropdown-facebook {
  font: 14px arial, sans-serif;
}

div.prompt {
  font: 18px arial, sans-serif;
  font-weight: bold;
  margin: 20px 0px 15px 10px;
  padding: 0px;
}

.hd1 {
  font: 22px arial, sans-serif;
  font-weight: bold;
}

div.stream-results {
  margin-top: 20px;
}

div.stream-token-input-elmt {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 0px
}

hr.menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.inline-text-area {
  width: 300px;
  display: inline-block;
  textarea {
    width: 100%;
  }
}

div.inline-text-field {
  width: auto;
  display: inline-block;
}

div.inline-submit-button {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.rotate {
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  transform: rotate(-90deg);

}

.oswald {
  font-family: $oswald;
  font-size: 24pt;
  &.bold {
    font-weight: bold;
  }
  &.light {
    font-weight: lighter;
  }
}

.ow-light {
  font-family: $oswald-light;
  font-size: 24pt;
  &.bold {
    font-weight: bold;
  }
  &.light {
    font-weight: lighter;
  }
}

.ow-bold {
  font-family: $oswald-bold;
  font-size: 24pt;
  &.light {
    font-weight: bold;
  }
  &.bold {
    font-weight: lighter;
  }
}

.archivo {
  font-family: $archivo;
  font-size: 24pt;
  &.bold {
    font-weight: 700;
  }
  &.light {
    font-weight: 400;
  }
}

.arch-bold {
  font-family: $archivo;
  font-size: 24pt;
  &.light {
    font-weight: 400;
  }
  &.bold {
    font-weight: 700;
  }
}

//contents of pages
div.container {
  background-color: $page-background-color;
  z-index: $container-depth;
  padding-bottom: 200px;
}
