@import 'bootstrap_and_overrides';
@import 'views/*';
@import 'controllers/*';
@import 'common/buttons';
@import 'common/dialog';
@import 'paginate';
@import "jquery/jNotify.jquery";
@import 'jquery/jquery-ui-1.8.17.custom';
@import 'jquery/token-input-bootstrappy';
@import 'feedback';
@import 'collection';

.brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 150;
	color: #999999;
	# text-shadow: 0 1px 0 #888888;
}

.simple_form label {
  float: left;
  width: 150px;
  margin: 4px 1px 10px;
}

.top_right_corner {
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: 0px;
}

div.prompt {
  font:18px arial,sans-serif;
  font-weight:bold;
  margin: 20px 0px 15px 10px;
  padding: 0px;
}