.authentications {
  margin-top:30px;
  margin-bottom: 30px;
}

.auth_sidebar {
width: 300px;
float: right;
margin:15px 5px 15px 30px;
border:3px solid black;
padding:10px;
}

.auth_buttons {
	margin-bottom:20px;
}

.auth_sign {
	width: 600px;
  // border: solid 1px #999;
	float: left;
}

.sign {
	width: 620px;
    // border: solid 1px #999;
    margin: 20px;
	float:left;
}

.sign.floating {
	width: 550px;
    // border: solid 1px #999;
	float: left;
}

.auth_signin.floating {
	width: 280px;
	border-right: solid 1px #999;
	//    border: solid 3px #009;
	margin: 0px 20px;
	float: left;
}

.signup {
	width: 200px;
	border-left: solid 1px #999;
    // border: solid 1px #999;
	margin: 0px;
	padding-left: 20px;
	float: left;
}

.or {
	margin-top: 100px;
	margin-right: 10px;
    // border: solid 1px #999;
	float: left;
}

.signin {
	width: 250px;
	border-right: solid 1px #999;
    // border: solid 1px #999;
	margin-right: 10px;
	padding-right: 10px;
	float: left;
}

.rightblock {
	width: 350px;
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 5em;
	float: right;
}

.left_signin {
	width: 300px;
	float: left;
}

.right_signin {
	width: 300px;
	float: right;
}

.auth_signin {
	width: 520px;
  // border: solid 1px #999;
	margin-left: 20px;
	float: left;
}

.signin_all {
	width: 630px;
	float: left;
}

.signin_all.floating {
	width: 930px;
	margin-top: 2em;
	float: left;
}

.auth_content {
	float: left;
	width: 60%;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.auth_provider.small {
  float: left;
  text-decoration: none;
  // margin-right: 1em;
  text-align: center;
  margin: 0.1em;
  // margin-bottom: 1em;
  font-size: 11px;
}

.signin_left {
	width: 600px;
	float: left;
}

.auth_signin.at_top {
	width: 400px;
	border: solid 1px #090;
	margin: 0.3em;
	float: left;
}

/*
.sign.at_top {
	width: 650px;
    border: solid 3px #009;
	float: left;
}
*/

.signin_all.at_top {
	width: 100%;
	height:auto;
	margin: 0.2em;
	// border: solid 3px #900;
}

.signin_hdr {
  font:18px arial,sans-serif;
  font-weight:bold;
  height: 25px;
  width: 100%;
  margin: 0.1em;
  border:1px solid black;
}

div.signin_or {
	margin-top:1.5em;
    font:16px arial,sans-serif;
    font-weight:bold;
	float:left;
}

.auth_poss.at_top {
    font:16px arial,sans-serif;
    // height: 50px;
    width: 320px;
	float: left;
	margin: .1em;
	border-right: 1px solid black;
}

.signin.at_top {
    font:16px arial,sans-serif;
	width: 600px;
    // height: 50px;
	// border-right: solid 1px #999;
	border-left: 1px solid black;
	margin: .1em;
	padding: 0.2em;
	float: left;
}

.signin_field.at_top {
	float:left;
	margin: 0em 1em;
	width:auto;
}

div.gobutton.at_top input {
  margin: 1em;
  display: inline-block;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.1;
  font-weight: normal;
  font-family: sans-serif;
  color: #5E4A18;
  font-size: 12px;
  background-color: #E6DAA1;
  background-image: -webkit-linear-gradient(top, #e7dca5 0%, #e7e2c9 48%, #E6DAA1 49%, #E6DAA1 82%, #ece3b7 100%);
  background-image: -moz-linear-gradient(top, #e7dca5 0%, #e7e2c9 48%, #E6DAA1 49%, #E6DAA1 82%, #ece3b7 100%);
  background-image: -o-linear-gradient(top, #e7dca5 0%, #e7e2c9 48%, #E6DAA1 49%, #E6DAA1 82%, #ece3b7 100%);
  background-image: linear-gradient(top, #e7dca5 0%, #e7e2c9 48%, #E6DAA1 49%, #E6DAA1 82%, #ece3b7 100%);
  border-color: hsl(0, 0%, 55%);
  -webkit-box-shadow: inset 0 0 1px 1px #fcfbf6, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 1px 1px #fcfbf6, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 1px 1px #fcfbf6, 0 0 1px 3px rgba(0, 0, 0, 0.15);
  -webkit-text-shadow: 1px 1px 1px #d1ba50;
  -moz-text-shadow: 1px 1px 1px #d1ba50;
  -o-text-shadow: 1px 1px 1px #d1ba50;
  text-shadow: 1px 1px 1px #d1ba50;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 4.800000000000001px 12px 4.800000000000001px 12px;
}
