.authentications {
  margin-top:30px;
  margin-bottom: 30px;
}

.auth_sidebar {
width: 300px;
float: right;
margin:15px 5px 15px 30px;
border:3px solid black;
padding:10px;
}

.auth_buttons {
	margin-bottom:20px;
}

.auth_sign {
	width: 600px;
  // border: solid 1px #999;
	float: left;
}

.sign {
	width: 520px;
    // border: solid 1px #999;
    margin: 20px;
	float:left;
}

.sign_dlog {
	width: 550px;
    // border: solid 1px #999;
	float: left;
}

.auth_signin_dlog {
	width: 280px;
    border-right: solid 1px #999;
	margin: 0px 20px;
	float: left;
}

.signup {
	width: 200px;
    // border: solid 1px #999;
	margin: 10px;
	float: left;
}

.or {
	margin-top: 100px;
	margin-right: 10px;
    // border: solid 1px #999;
	float: left;
}

.signin {
	width: 250px;
    // border: solid 1px #999;
	margin: 10px;
	float: left;
}

.rightblock {
	width: 350px;
	margin-left: 20px;
	float: right;
}

.left_signin {
	width: 300px;
	float: left;
}

.right_signin {
	width: 300px;
	float: right;
}

.auth_signin {
	width: 520px;
  // border: solid 1px #999;
	margin-left: 20px;
	float: left;
}

.signin_all {
	width: 530px;
	float: left;
}

.signin_all_dlog {
	width: 930px;
	margin-top: 2em;
	float: left;
}

.auth_content {
	float: left;
	width: 60%;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}