
div.centerblock {
	position: relative;
	width: 500px;
	height: 80px;
	margin: 10px auto;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-decoration: none;
	font-size: 40px;
	font-weight: 150;
	color: #999999;
	# text-shadow: 0 1px 0 #888888;
	&.bold {
		font-weight: bold;
		color: #555555;
	}
	&.sub {
		margin-top:50px;
	}
	.logo {
		font-size:70px;
		font-weight: 50;
		color: #BBBBBB;
	}
}

#logo_img_small {
	width: 250px;
}

.back_button {
	position: absolute;
	left: 7px;
	top: 30px;
}

.query_form {
	margin-bottom: 0px
}

.RcpBrowser.addlink {
	display: inline-block;
	float: right;
	text-decoration:none;
	color:#5E4A18;
	font-size:14px;
	padding:2px;
	background-color:#E6DAA1;
	border-radius:2px;
	border-color:hsl(0,0%,55%);
	border-width:2px;
	border-style: solid
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.RcpBrowser.Level2 {
	margin-left: 30px;
}

.rcp_grid_pic_box {
	width: 100%;
	height: auto; // 220px;
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.rcp_grid_datablock {
	padding: 0px 8px;
	height: auto; // 4.6em;
}

.rcp_grid_element_title {
	margin-bottom: 0px;
}

.rcp_grid_element_title > a {
	display: block;
	overflow: hidden;
	max-height: 2.8em;
}

.rcp_grid_element_source {
	font-size: 0.9em;
	color: #999;
}

.rcp_grid_element_footer {
	height: 25px;
	align: right;
	position: relative;
	
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;

	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	
	padding: 4px 4px 4px 12px;
	margin: 2px -4px -4px;
	border-top: 1px solid #ddd;
	border-radius: 0 0 4px 4px;
	background-color: #fafafa;
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.rcp_grid_element_links {
	position: absolute;
	right: 2px;
} 

.rcp_grid_element_stats {
	font-size: 0.8em;
	color: #999;
	height: auto;
}

.rcp_grid_element_spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}


.modal-footer .form-inline {
	margin-bottom: 0px;
}

.modal-footer .form-inline label.checkbox {
	margin-right: 10px;
}

.feed_list_element_title {
	margin-bottom: 0px;
	font-size: 1.3em;
}

.feed_list_element_title > a {
	// display: block;
	// overflow: hidden;
	max-height: 2.8em;
}

.feed_list_element_source {
	font-size: 0.9em;
	color: #999;
}

.feed_list_element_stats {
	font-size: 0.8em;
	color: #999;
}

div.content_browser_cover {
	width: 300px;
	position: absolute;
	top: 0;
	height: 95%;
  z-index:    10;
  background: rgba( 255, 255, 255, .45 ) 
              50% 50% 
              no-repeat;
}

#footer_nav_links {
	width: 100%;
	margin: 0 auto;
	position: absolute;;
	bottom: 10px; // 15px;
	z-index: 11;
	text-align: center;
}

div.content_browser {
	width: 100%;
	height: 100%;
	// position: fixed;
	padding: 0px;
	margin: 0px;
	# width: 270px;
	border: 2px solid blue;
}

li.RcpBrowser {
	position: relative;
	left: 0px;
	top: 0px;
	.active {
		right: 30px;
	}
}

.RcpBrowser.active > div.mod_box  {
	display: block;
}

li.RcpBrowser > div.mod_box {
	float: right; // position: absolute; right: 0px;
  display: none;
	margin: 5px;
	width: 15px;
	height: 16px;
	border-radius:10px;
	border-color:hsl(0,0%,55%);
	border-width:2px;
	border-style: solid;
	background-color:#FFFFFF;
	a.mod_button {
	  text-align: center;
	  font-size: 1.2em;
	  position: relative;
		top: -4px;
		left: 2px;
		z-index: 3;
		// font-weight:bold;
		color:rgb(0,85,128);
	}
}

.modal-footer .form-inline {
	margin-bottom: 0px;
}
 
.modal-footer .form-inline label.checkbox {
	margin-right: 10px;
}
/* Styling support for the loading-content beachball.
   Thanks and props to Jonathan Sampson http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation
*/

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
div.ajax-loader {
    display:    none;
    position:   absolute;
    z-index:    10000;
    // top:        0;
    // left:       0;
    height: 	  inherited; // 100%;
    width:      inherited; // 100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/assets/ajax-loader.gif') 
                50% 50% 
                no-repeat;
    &.loading {
        display: block;
    }
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/* 
body.loading {
    overflow: hidden;   
}
*/

