/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

// Place all the styles related to the collection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 >>>>>>> collection
 >>>>>>> RPGlobal.css
 >>>>> scaffolds.css 
 >>>>>>>> common/dialogs
 >>>>>>>>>>>> views/rcp_list
 >>>>>>>>>> views/edit_recipe 
 >>>>>>>>>> common/buttons
 >>>>>>>>> paginate (vendor)
 >>>>>>>>>>> jquery/jNotify.jquery.css
 >>>>>>>>>>>>>> jquery/jquery-ui-1.8.17.custom.css
 >>>>>>>>>>>>>> jquery/token-input-facebook.css
 >>>>>>>>>>>>>> feedback (vendor)

 *= require_self
 *  require_tree blueprint
 * require common/RPGlobal
 * require common/scaffolds
 *= require views/rcp_list
 *= require views/edit_recipe
 *= require views/new_recipe
 *= require views/sign_in
 *= require views/pic_picker
 *= require common/buttons
 *= require paginate
 *= require_tree ../../../vendor/assets/stylesheets/jquery
 *= require feedback
 *= require common/ajax_loader

*/
@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";

#logo_img_small {
	width: 250px;
}

.query_form {
	margin-bottom: 0px
}

.RcpBrowser.active {
	
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.RcpBrowser.Level2 {
	margin-left: 30px;
}
