#container {
  margin:0px;
  background: #FDECCF; // DCE8DC;
  width: 100%;
}

#workpane {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  margin:12px;
  // outline:2px solid red;
}

body {
  background: #FDECCF; // DCE8DC;
  width: 100%;
  margin: 0px;
  font:12px arial,sans-serif;
  # border:1px solid blue;
  outline:1px solid green;
}

header {
  margin:0px;
  height: 55px;
  width:100%;
  # outline: 1px solid blue;
  background-color:#FDECCF; // DCE8DC;
}

#logo_div {
  float:left;
  # outline:1px solid green;
  width: 288px;
  height: 40px;
  margin:15px;
  background-color:#FDECCF; // DCE8DC;
}

#logo_div a:hover {
  background-color:#FDECCF; // DCE8DC;
}

#logo_img {
  width:288px;
  height:40px;
  # border:1px solid red;
}

#logo_img:hover {
	outline: #EDDCBF solid thick;
	# background-color:#FEFCDF;
}

.logo_icon {
	width: 48px;
	height: 36px;
	border: 1px solid gray;
	float:right;
	margin-top:20px;
}

#user_status {
  text-align:right;
  padding-top:5px;
  margin-right:15px;
}

#header_nav_links {
  text-align:right;
  margin-top:20px;
  margin-right:15px;

  font:14px arial,sans-serif, bold;
  # border:3px solid green;
}

#footer_nav_links {
  font:14px arial,sans-serif, bold;
  text-align:center;
  // border:3px solid green;
  margin:20px;
  padding-bottom:10px;
}

.nav_link {
	
}

.nav_link_strong {
	font-weight:bold;
}

#debug {
	
}

.tag_info_section {
	margin: 10px;
	font:16px arial;
}

.tag_info_section_title {
	font:18px arial,sans-serif;
	font-weight: bold;
}

.tag_info_section_content {
	font:16px arial,sans-serif, bold;
}

.tog_info_rcp_title {
	margin-left:20px;
	line-height:2em;
}

footer {
  width:100%;
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

footer nav {
  float: none;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  padding-top:15px;
  font-size: 200%;
}

h2 {
	padding-top:0px;
  	font-size: 200%;
}

h2.med {
	line-height:150%;
	padding-top:0px;
  	font-size: 170%;
}

h3 {
  font-size: 150%;
  margin:0px;
  padding:0px;
  // padding-top:5px;
}

p.airy {
  	font:18px calibri;
	line-height:150%;
	// font-size:105%;
	// letter-spacing:1px;
}

li.airy {
  	font:18px calibri;
	line-height:150%;
	// font-size:105%;
	// letter-spacing:1px;
}

.text_block {
	margin:0px;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

h4 {
	margin-top:2em;
	margin-bottom:1em;
}

.indent {
	margin-left:2em;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

/*
  input[type="submit"] {
	display:block;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 400px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 15px; 
	/* Round corners * /
	border-radius: 10px;
        letter-spacing:-1px;
  }
*/

/* Sign up button */
a.signup_button {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #ffffff;
  background: #80A480;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

.respond_question {
  width: 400px;
  height: 40px;
}

.field_with_errors {
  /* margin-top: 10px; */
  padding: 3px 5px 3px 5px;
  width: 90%;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

.field {
 margin-top:10px;
}

.nukeable_key {
  background-color:#e0e0e0;
  margin-right:6px;
  padding:6px;
  # border:2px solid black;
}

.nukeable_X {
  background-color:#f0f0f0;
  vertical-align: super;
}

.lesson {
   width: 90%;
   padding: 10px;
   margin-top:10px;
   # border: 3px solid gray;
}

#error_explanation {
  width: 500px;
  # border: 2px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h3 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  /* font-size: 12px; */
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#sidebar {
width: 250px;
float: right;
margin:15px 5px 15px 30px;
border:3px solid black;
padding:10px;
}

.page_label {
  font:13px arial,sans-serif,bold;
  text-align:center;
}

#querylist_header {
	margin-bottom:10px;
}

.paginate_links {
	float:left;
	width:200px;
	height:30px;
    font-size:12px;
}

#rcpquery_owner_return {
  font:12px arial,sans-serif,bold;
}

#recipe_pic_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
}

#recipe_picurl {
  font:12px arial,sans-serif;
  width:95%;
}

.recipe_url_div {
  margin-top: 15px;
  margin-bottom: 15px;
  width:100%;
  // outline:#999 solid 1px;
}

#recipe_url_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:80%;
  // outline:#999 solid 1px;
}

#recipe_url {
  width:100%;
  font:12px arial,sans-serif;
  // outline:#999 solid 1px;
}

.recipe_title_div {
  margin-top: 0px;
  width:100%;
}

.recipe_status_div {
  margin-top: 0px;
  margin-bottom: 10px;
}

#recipe_status_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
}

#recipe_privacy_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
}

#recipe_title_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
}

#recipe_title {
  font:12px arial,sans-serif;
  width:70%;
}

.list_header {
   font:15px arial,sans-serif;
}

.rcpquery_owner_div {
    // width:360px;
    // height: 300px;
    /* border:3px solid black; */
    float: right;
    // padding-top:10px;
}

#rcpquery_tabset {
	margin-top:15px;
}

.rcpquery_tags_div {
  // margin-top: 20px;
  // margin-bottom: 20px;
  width:610px;
  float: left;
  // outline:#999 solid 1px;
}

#rcpquery_tags_label_div {
	margin:3px;
	padding:3px;
	// width:180px;
	height: 27px;
	float: left;
    // outline:#999 solid red 3px;
  	// background:#2be4e3;
}

#rcpquery_tag_tokens_div {
	margin:3px;
	padding:3px;
	width: 50%; // 400px;
	height: 27px;
	float: left;
  // outline:#999 solid blue 3px;
  // background:#fbe3e4;
}

#rcpquery_tags_label {
  font:16px arial,sans-serif;
// float: left;
// display: block;
  font-weight:bold;
//  width:50%;
}

.rcpquery_listmode_div {
    /* border:3px solid black; */
    float: right;
	width:200px;
	height:30px;
    font:16px arial,sans-serif;
    // outline:#999 solid 3px;
}

#rcpquery_tag_tokens {
	// Beside the point: tokenInput takes over styling of this element as ul.token-input-list-facebook
}

#sad_img {
	float: left;
	margin: 20px;
}

.no_results_message {
    font:16px arial,sans-serif;
}

.recipe_fields_div {
  width:60%;
  float: left;
  // outline:#999 solid 1px;
}

.recipe_tags_div {
  margin-top: 20px;
  width:100%;
  // outline:#999 solid 1px;
}

#recipe_tags_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
  // outline:#999 solid 1px;
}

#recipe_tag_tokens {
  font:12px arial,sans-serif;
float: right;
display: block;
  width:70%;
  // outline:#999 solid 1px;
}

.recipe_ratings_div {
  margin-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 10px;
  width:100%;
  // outline:#999 solid 1px;
}

#recipe_ratings_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:80%;
    // outline:#999 solid 1px;
}

.recipe_comment_div {
  margin-top: 20px;
  margin-bottom:10px;
  width:100%;
    // outline:#999 solid 1px;
}

#recipe_comment_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
    // outline:#999 solid 1px;
}

#recipe_comment {
  font:14px arial,sans-serif;
  // height:70px;
  width:100%;
  height: 4em;
    // outline:#999 solid 1px;
}

.watermarkOn {
    color: #CCCCCC;
    font-style: italic;
}

.recipe_title_div {
  margin-top: 0px;
  margin-bottom:10px;
  width:100%;
    // outline:#999 solid 1px;
}

#recipe_title_label {
  font:14px arial,sans-serif;
  font-weight:bold;
  width:100%;
    // outline:#999 solid 1px;
}

#recipe_title {
  font:12px arial,sans-serif;
  width:100%;
    // outline:#999 solid 1px;
}

.recipe_pic_div {
    width:35%; // 360px;
    height: 300px;
    // border:3px solid black;
    // outline:#999 solid 1px;
    float: right;
}

.pic_box {
    width:350px;
    height:220px;
    /* border:3px solid red; */
    float: right;
}

.fields {
   margin-top:10px;
   margin-bottom:0px;
}

.rating_name {
  font:12px arial,sans-serif;
  font-weight:bold;
  padding-left:15px;
  padding-right:10px;
}

.rating_left {
  text-align:right;
  font:12px arial,sans-serif;
}

.rating_right {
  font:12px arial,sans-serif;
  font-weight:normal;
}

.rating_del {
  padding-left:20px;
}

.display_title {
  font:15px arial,sans-serif,bold;
  text-align:center;
}

.display_url {
  font:12px arial,sans-serif;
  text-align:center;
  padding-bottom:10px;
}

.tag_summary {
  font:12px arial,sans-serif;
}

#viewframe {
  width:100%;
  height:600px;
}

.sig_box {
  width:300px;
  height:50px;
  # border:3px solid red;
  padding-bottom:0px;
  float:left;
}

.collection_item_title {
  font:15px arial, sans-serif;
  color:red;
}

.collection_item_URL {
  font:15px arial, sans-serif;
  padding-left:10px;
}

.welcome_user {
font:12px arial, sans-serif;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd; width:70%;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

.rcplist_body {
    width:95%;
    margin-top:0px;
}

.rcp_list_element {
    height:219px;
    width:100%;
    position:relative;
    // We're relative to allow absolute positioning of the bottom element
    // outline:#999 solid 1px;
}

.rcp_list_pic_box {
    width:340px;
    height:215px;
    float:left;
    vertical-align: center;
    // text-align: center;text-align: center; // vertical-align: center;
    align: center;
    // outline:#999 solid 1px;
}

.fitPic { 
	align: center;
	visibility:hidden; 
}

.centerfloat {
  position:relative;
  width:100%;
  height:2em;
  top:50%;
  margin-top:-1em;
    // outline:#999 solid 1px;
}

.rcp_list_text {
    height:auto;
    width:50%; // width:500px;
    margin-left:15px;
    float:left;
    // outline:#999 solid 1px;
}

.rcp_list_bigelement {
    // height:219px;
    width:100%;
    // position:relative;
    // We're relative to allow absolute positioning of the bottom element
    // outline:#999 solid 1px;
}

.rcp_list_bigpic_box {
    width:744px; // 680px;
    height:473px; // 430px;
    // float:left;
    vertical-align: center;
    // outline:#999 solid 1px;
}

.rcp_list_bigtext {
    // height:auto;
    width:90%; // width:500px;
    margin-left:15px;
    // float:center;
    // outline:#999 solid 1px;
}

.rcp_list_element_bottom {
  position: absolute;
  bottom: 1px;
  left: 355px;
  float:left;
  width:auto; // 50%;
  height:auto;
    // outline:#999 solid 1px;
}

.rcp_list_element_title {
  padding-top:18px;
  font:18px arial,sans-serif, bold;
}

.rcp_list_element_source {
  font:14px arial,sans-serif;
  margin-top:4px;
  margin-left:20px;
}

.rcp_list_element_tag_summary {
  margin-top:10px;
  font:15px arial,sans-serif;
  font-style: italic;
}

.rcp_list_element_tag {
  margin-top:10px;
  font:15px arial,sans-serif;
  font-style: normal;
  font-weight: 600;
}

.rcp_list_element_twocents {
  margin-top:10px;
  font:14px arial,sans-serif;
  font-style: italic;
}

.rcp_list_element_gotag {
  margin-top:10px;
  font:15px arial,sans-serif;
}

.rcp_list_element_stats {
  font:15px arial,sans-serif;
  color: solid red;
}

.clear { clear:both; }

.fitPic { visibility:hidden; }

.tagspec {
    width:350px;
    height:auto;
    float:left;
    vertical-align: center;
    // outline:#999 solid 1px;
}

.taglist {
    // overflow:scroll;
    width:345px;
    height:auto;
	font:15px arial, sans-serif;
    // background:black;
}

.orphantag {
    width:350px;
    // background:yellow;
}

.referentspec {
    height:auto;
    width:400px;
    margin-left:15px;
    float:left;
    // outline:#999 solid 1px;
}

.dropGlow {
    outline:#999 solid 3px;
	background:yellow;
}

#feedback_what {
	width:60%;
	height:100px;
}

.text_field {
	width: 60%;
	margin-top:5px;
	margin-bottom:10px;
}

.preview_button {
	width:25px;
	height:25px;
}

.preview_button:hover {
	outline: #c0c0c0 solid 3px;
	background-color:#f8f8f8;
}

.popup:hover {
	// outline: #EDDCBF solid thick;
	background-color:#FFFFFF;
}

.expr_tag {
  font:18px arial,sans-serif;
  // font-weight:bold;
  margin-left:20px;
  margin-right:20px;
}

.referent_tags_div {
	height:30px;
	width:100%;
}

.referent_tags_label_div {
	margin:3px;
	padding:3px;
	width:110px;
	height: 27px;
	float: left;
	font-weight:bold;
    // outline:#999 solid red 3px;
  	// background:#2be4e3;
}

.referent_tags_tokens_div {
	margin:3px;
	padding:3px;
	width: 80%;
	height: 27px;
	float: left;
  // outline:#999 solid blue 3px;
  // background:#fbe3e4;
}

#referent_description {
	width: 100%;
	height:17px;
	// margin:3px;
	// padding:3px;
}

#expression_table {
	margin-top:20px;
	margin-left:20px;
}

#referent_add_div {
	height:30px;
	width:100%;
	margin-left:20px;
}

#referent_add_label_div {
	margin:3px;
	padding:3px;
	width:110px;
	height: 27px;
	float: left;
	// font-weight:bold;
    // outline:#999 solid red 3px;
  	// background:#2be4e3;
}

#referent_add_tokens_div {
	margin:3px;
	padding:3px;
	width: 250px;
	height: 27px;
	float: left;
  // outline:#999 solid blue 3px;
  // background:#fbe3e4;
}

.pagination {
  background: white;
  font:15px arial,sans-serif;
  cursor: default;
  height: 22px;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
  }
  a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5;
    &:hover, &:focus {
      color: #000033;
      border-color: #000033;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }

}