// Default styling for dialogs at the left of the window
div.dialog {
  width:100%;
  font-size:80%;
  padding-left:1%;
  padding-right:1%;
  margin-left:0;
  margin-right:0;
//  outline:#090 solid 1px;
}

div.dialog.floating {
	width: auto;
}

div.dialog.at_left {
	width:auto;
	position:absolute;
//	outline:#009 solid 3px;
	top:0;
	left:0;
	} 

div.dialog.at_top {
	height:auto;
	position:fixed;
	outline:#090 solid 3px;
	top:0;
	left:0;
	margin:3px;
	padding:0.5em;
}
