@import 'bootstrap_and_overrides';
@import 'views/*';
@import 'common/buttons';
@import 'paginate';
@import "jquery/jNotify.jquery";
@import 'jquery/token-input-bootstrappy';
@import 'feedback';
@import 'collection';

.brand {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 20px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 150;
	color: #999999
}

