// Style declarations for all contexts, including dialogs and injections
body {
  background: #FDECCF; // DCE8DC;
  width: 100%;
  margin: 0px;
  font:12px arial,sans-serif;
  # border:1px solid blue;
  outline:1px solid green;
}

header {
  margin:0px;
  height: 55px;
  width:100%;
  # outline: 1px solid blue;
  background-color:#FDECCF; // DCE8DC;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  background: #fff;
}

section h1 {
  padding-top:15px;
  font-size: 200%;
}

h2 {
	padding-top:0px;
  	font-size: 200%;
}

label {
  font:14px arial,sans-serif;
  font-weight:bold;
//	font:18px calibri;
//	line-height:150%;
}

/* Links */

a {
  color: #09c;
  text-decoration: underline;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

h4 {
	margin-top:2em;
	margin-bottom:1em;
}

h4.first {
	margin-top:0.5em;
}
/* Navigation */

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd; width:70%;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

div.notice-div {
	width: "auto";
	height: "auto";
	z-index: 1000;
	position: "fixed";
	top: "200";
	left: "200";
	padding: "1em";
	margin: "auto";
}