body.editions {
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #908e8e;
  background-color: #FDFDFD;
  table.message-banner {
    margin: 0;
    td.logo {
      img {
        width: 250px;
      }
    }
    td.banner-text {
      font-family: "Archivo Narrow", sans-serif;
      font-size: 24px;
      letter-spacing: 1px;
      color: #606060;
      padding: 15px;
      span.subhead {
        font-style: italic;
        font-size: 20px;
      }
    }
  }
  p {
    font-size: 18px;
    margin: 10px 40px;
    line-height: 1.2em;
  }
  p.footer {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
    a.brand {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 20px;
      text-decoration: none;
      font-size: 20px;
      font-weight: 200;
      color: #999999;
    }
  }
  div.message-box {
    margin: 20px 50px;
    padding: 0px 15px 10px 15px;
    display: block;
    overflow: auto;
    outline: none; // 1px solid #c4c4c4;
    border: none; // 1px solid #CCDDCC;
    box-shadow: 5px 6px 10px -5px rgba(0, 0, 0, 0.75);
    color: #209020;
    background-color: #e4ece6;
    position: relative;
    p {
      margin: 10px 30px;
    }
    h3 {
      // color: #1d6a2b;
      font-size: 36px;
      letter-spacing: 1px;
      margin: 32px 10px 20px 15px;
    }
    div.cardini {
      // Enclose the item "cardini" so that subsequent text is fully below the picture
      display: block;
      overflow: auto;
      // padding: 0 25px 23px 25px;
      margin: 10px 30px;
      .share_recipe_pic_box {
        width: 200px;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        float: left;
        margin: 10px 20px 10px 10px;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;

        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        img {
          max-width: 100%;
          height: auto;
          vertical-align: middle;
          border: 0;
        }
      }
      p.share_recipe_title {
        // display: block;
        // overflow: hidden;
        // max-height: 2.8em;
        text-decoration: none;
        color: #606060;
        //font-family: "Oxygen", sans-serif;
        //font-family: "Libre Franklin", sans-serif;
        //font-family: "Hind Siliguri", sans-serif;
        //font-family: "Tangerine", sans-serif;
        //font-family: "Josefin Sans", sans-serif;
        //font-family: "PT Sans Caption", sans-serif;
        //font-family: "Heebo", sans-serif;
        font-family: "Muli", sans-serif;
        font-size: 24px;
        letter-spacing: -1px;
        &.box-header {
          color: inherit;
        }
        a {
          font-size: 1.2em;
          color: #5aab7a;
          text-decoration: none;
          &.share_recipe_internal {
            font-size: 0.7em;
          }
        }
      }
      div.recipe_info_box {
        float: left;
        margin: 30px 20px;
      }
      p.share_recipe_description {
        // display: block;
        // overflow: hidden;
        // max-height: 2.8em;
        text-decoration: none;
        color: #909090;
        font-size: 1em;
        margin: 12px;
      }
    }
    /*
    a span.link-spanner {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    */
  }
}

div.message {
  // font: 16px arial, sans-serif;
  font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, Calibri, sans-serif;
  font-weight: 400;
  line-height: 1.5em;
  font-size: 18px;
  letter-spacing: 0.6px;
  color: #908e8e;
  background-color: #FDFDFD;
  padding-top: 20px;
  div.header_content {
    margin: 20px 50px;
    display: block;
    overflow: auto;
    div.message_banner {
      font-family: "Archivo Narrow", sans-serif;
      font-size: 36px;
      letter-spacing: 1px;
      color: #606060;
      margin: 0px 10px 30px 0px;
      img {
        width: 250px;
      }
      div.banner-text {
        vertical-align: top;
        margin-top: 3px;
        display: inline-block;
        margin-left: 15px;
        span.subhead {
          font-style: italic;
          font-size: 20px;
        }
      }
    }
    div.message_content {
      font-size: 18px;
      margin: 10px 40px;
      p {
        line-height: 1.8em;
      }
    }
  }


  a.brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: #999999;
  }

  div.footer {
    margin: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 21px;
  }

  a.get_button {
    float: left;
    display: inline-block;
    margin: 20px;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: whitesmoke;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border: 1px solid #bbbbbb;
    *border: 0;
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    &.btn-lg {
      padding: 11px 19px;
      font-size: 17.5px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }
    &.btn-success {
      color: white;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      background-color: #5bb65b;
      background-image: -moz-linear-gradient(top, #62c462, #51a351);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
      background-image: -webkit-linear-gradient(top, #62c462, #51a351);
      background-image: -o-linear-gradient(top, #62c462, #51a351);
      background-image: linear-gradient(to bottom, #62c462, #51a351);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
      border-color: #51a351 #51a351 #387038;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      *background-color: #51a351;
      /* Darken IE7 buttons by default so they stand out more given they won't have borders */
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
  }
}
