<div class="row">
  <div class="col-md-12" id="seeker_results">
    <% if @sp.dump? %>
        <% while (@stream_item = @sp.next_item) do %>
            <%= render "stream_item" %>
        <% end %>
    <% end %>
  </div>
</div>
<%= render "stream_footer" if !@sp.dump? %>
