<!-- Generic header for a stream -->
<h3 class="stream-header"><%= "#{params[:controller]}##{params[:action]} with stream" %></h3>
<p>Copy and modify application/_stream_header.html.erb to model's view to define header</p>