<h4>Data Finders </h4>
<div class="row finder-fields-header">
  <div class="col-md-4">
    <span class="field-prompt">To Extract:</span>
  </div>
  <div class="col-md-5">
    <span class="field-prompt">Use Selector:</span>
  </div>
  <div class="col-md-3">
    <span class="field-prompt">Read Attribute:</span>
  </div>
</div>
<div class="finder-fields">
  <%= f.simple_fields_for :finders do |p| %>
      <%= render 'finder_fields', f: p %>
  <% end %>
  <%= link_to_add_fields '+', f, :finders %>
</div>
