<%= form_tag({controller: "sites", action: "scrape"}) do %>
    <%= label_tag "URL of page to scrape" %><br/>
    <%= text_field_tag :url, @url, style: "width: 100%" %>
    <div class="actions">
      <br><%= submit_tag 'Scrape' %>
    </div>
<% end %>
