<div class="stream-header">
  <h3>Available Sites</h3>
  <p>If searching for a particular site, you can use the search box above to type in words and terms.</p>
</div>
<%= render "shared/stream_table", headers: [ "Info", "Links" ] %>
