<div class="site_list">
	<h3>Available Sites</h3>
	<p>If searching for a particular site, you can use the search box above to type in words and terms.</p>
	<%= seeker_table "", [ "Info", "Links" ] %>
</div>
