<div class="stream-header">
  <%= tag_filter_header "Available Sites" %>
  <p>If searching for a particular site, you can use the search box above to type in words and terms.</p>
</div>
<%= stream_element(:results) { sites_table } %>
