<!--The former rp_mailer/invitation_accepted_email.html.erb-->
<% event = @notification.notifiable %>
<% @invitee = event.invitee %>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv="Content-Type" />
  </head>
  <body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <h3><%= @invitee.handle %> has accepted your invitation to join RecipePower.</h3>
    <p>This makes you 
			mutual Friends: you'll see them in your Friends list,
			and vice versa. If that doesn't suit, you can always remove them
			from your list by selecting Friends from the top menu, then clicking Unfollow in their entry in the list.
    </p>
    <p>Thanks for helping build the RecipePower community, and Happy Eating!</p>
    <p><br>Best Regards,</p>
    <p>The RecipePower Team.</p>
  </body>
</html>
