<div class="container">
  <div class="row">
    <div class="content col-md-12 content-column">
      <%= flash_notifications_div %>
<%# Contents for page, etc., embedding a searchable stream %>
      <%= render "shared/collections_navtabs" %>
      <%= render "shared/stream_search" %>
      <%# render "stream_header" %>
<%# render "stream_nav" %>
      <%# render "stream_shell" %>
      <%= yield %>
    </div>
  </div>
</div>
