<div class="container">
  <div class="row">
    <div class="content col-md-12 content-column">
      <%= flash_notifications_div %>
      <%= render "shared/collections_navtabs" %>
      <%= stream_element :search %>
      <%= yield %>
    </div>
  </div>
</div>
