<div class="container">
  <div class="row">
    <div class="content col-md-12 content-column">
      <div class="pagelet-body" id="<%= pagelet_body_id %>">
        <%= flash_notifications_div %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>

  
