<% viewparams = @viewparams || (@filtered_presenter && @filtered_presenter.viewparams) unless defined?(viewparams) && viewparams %>
<%= triggered_form search_path do %>
    <% if @filtered_header && viewparams.filter_type_selector %>
        <%= select_tag :tagtype, options_from_collection_for_select(Tag.type_selections(true, true), :last, :first, viewparams.tagtype),
                       :include_blank => false,
                       :onchange => %Q{RP.submit.onselect( event ); } %>
    <% end %>
    <div class="filter-element">
      <%= token_input_query(
                  :querytags => (viewparams ? viewparams.querytags : []),
                  :hint => "Type food terms and hit Enter or Return",
                  placeholder: "Let's cook up something...") %>
    </div>
<% end %>
