<<<<<<< HEAD
<%# dialogDiv :edit_recipe, "Tag That Recipe!", "at_left", recipe_editor() %>
<%# dialogHeader :edit_recipe, "Tag That Recipe!", "at_left" %>
	<%# logger.debug render("recipes/form_edit_at_left") %>
	<%# render "recipes/form_edit_at_left" %>
<%# dialogFooter %>
=======
<%= dialogDiv :edit_recipe, "Tag That Recipe!", "at_left", recipe_editor() %>
>>>>>>> installed simple_form
<div class="nav affix content_browser">
	<ul class="nav nav-tabs nav-stacked">
		<% @browser.node_list.each do |node| %>
		  <% @node = node %>
		  <%= render partial: "collection/node" %>
		<% end %>
	</ul>
		<hr>
	<div id="footer_nav_links">
		<%= footer_navlinks %>
	</div>
</div>
<%# Place the new-feed dialog (invisible) %>
<%= render "feeds/dialog_new" %>
<%# feedback_tab(:position => 'left') %>
