<%# dialogDiv :edit_recipe, "Tag That Recipe!", "at_left", recipe_editor() %>
<%# dialogHeader :edit_recipe, "Tag That Recipe!", "at_left" %>
	<%# logger.debug render("recipes/form_edit_at_left") %>
	<%# render "recipes/form_edit_at_left" %>
<%# dialogFooter %>
<div class="nav affix">
	<ul class="nav nav-tabs nav-stacked">
		<%= @collection.html %>
	</ul>
		<hr>
	<div id="footer_nav_links">
		<%= footer_navlinks %>
	</div>
</div>
<%= feedback_tab(:position => 'left') %>
<% @recipe = Recipe.find 800 %>
<% @area = "at_left" %>
