<div class="nav affix browser_house ">
	<ul class="nav nav-tabs nav-stacked scrollable">
		<% @browser.node_list.each do |node| %>
		  <% @node = node %>
		  <%= render partial: "collection/node" %>
		<% end %>
		<div class="content_browser_cover" onclick="RP.content_browser.click_to_browser(event);" style="display: <%= (params[:controller] != "collection") ? "block" : "none" %>"></div>
	</ul>
</div>
<div id="footer_nav_links">
	<%= footer_navlinks %>
</div>
<% unless current_user %>
	<%= render partial: "shared/signup_dialog" %>
<% end %>
