<% if session[:on_tour] %>
	<div class="button_house">
		<%= signup_button %>
	</div>
<% end %>
<div class="bs-sidebar hidden-print" role="complementary">
	<ul class="list-group">
		<% @browser.node_list.each do |node| %>
		  <% @node = node %>
		  <%= render partial: "collection/node" %>
		<% end %>
	</ul>
</div>
<div id="footer_nav_links">
	<%= footer_navlinks %>
</div>
