<header>
	<div id="atop">
		<div id="nav_links">
			<%= show_navlinks @navomit %>
		</div>
		<div id="logo_div">
			<%= logo %>
		</div>
	</div>
	<div id="user_status">
		<%= user_status %>
	</div>
</header>
