<div class="header">
  <a href="/home"><div class="logo <%= 'compact' unless current_user || @home_page %>"></div></a>
  <div class="right-matter">
    <% if current_user %>
        <div class="menuIcon">
          <a href="#menuExpand">
            <%= image_tag image_path('hamburger.svg'), class: 'hamburger' %>&nbsp;Go
          </a>
        </div>
    <% end %>
  </div>
  <%= render 'layouts/filter_header', glyphicon: 'search' %>
  <% unless current_user %>
    <div class="login-invitation">This is a preview.
      <br><a class="select-content signup main" data-activate="signup">Sign Up</a>
      or <a class="select-content signin " data-activate="signin">Sign In</a>
      for the rest of RecipePower goodness.</div>
  <% end %>
  <!--<div style="width: 100%; height: 15px; outline: 1px solid red"></div>-->
</div>
