<header class="rheader">
   <div id="atop">
      <div class="nav_links">
	 <%= show_navlinks @navomit %>
      </div>
      <div class="tiny_logo">
         <href="/"><%= tiny_logo %></href>
      </div>
   </div>
   <%# render :partial=>"/recipes/rtitle" %>
   <div class="greeting">
      <%= user_greeting %>
   </div>
</header>
<br class="clear">
