<!DOCTYPE html>
<html>
<head>
  <style>
      img.logo {
          display: inline-block;
          margin-bottom: 10px;
      }

      div.collect_form {
          font-family: Oswald, "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 1.2em;
          background-color: #4B815B;
          color: #ECE6CD;
          width: 6in;
          margin-left: auto;
          margin-right: auto;
          margin-top: 30px;
          padding: 10px;
      }

      div.flash_notifications {
          display: inline-block;
          width: 75%;
          padding: 12px;
          margin: 10px;
          font-size: 18px;
      }
      div.flash_notifications div.alert-success {
          background-color: #dff0d8;
          border-color: #d0e9c6;
          color: #3c763d;
      }
      div.flash_notifications div.alert-info {
          background-color: #d9edf7;
          border-color: #bcdff1;
          color: #31708f;
      }
      div.flash_notifications div.alert-warning {
          background-color: #fcf8e3;
          border-color: #faf2cc;
          color: #8a6d3b;
      }
      div.flash_notifications div.alert-danger {
          background-color: #f2dede;
          border-color: #ebcccc;
          color: #a94442;
      }
      div.flash_notifications div.alert-error {
          background-color: #f2dede;
          border-color: #ebcccc;
          color: #a94442;
      }

      a.entity_link {
          color: #9AB3A0;
      }

      textarea.url_field {
          width: 95%;
          margin: 10px;
          font-size: 0.8em;
      }

      span.prompt {
          font-size: 0.9em;
          margin: 10px;
      }

      label.kind {
      }

      select#page_ref_kind {

      }

      input.submit_button {
          float: right;
          display: inline-block;
          margin: 2px;
      }
  </style>
  <%= csrf_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag %>
</head>
<body>
<%= yield %>
</body>
</html>