<!doctype html>
<html>
    <head>
      <title>RecipePower Home</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
			<%= stylesheet_link_tag "jqm", :media => "all" %>
			<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
			<script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
			<%= javascript_include_tag "jqm" %>
    </head>
    <body>
			<%= yield %>
    </body>
</html>