<!--
Expecting the following local variables:
    * picurl: the current URL value of the picture to be selected, suitable for setting the url
    * imgdata: data suitable for filling the href field of an image
    * pageurl: the URL of the page where the choices will be sourced
-->
<%= modal_dialog 'pic_picker new-style green', dialog_class: 'modal-lg' do %>
    <div class="content">
      <%= render 'form_editpic' %>
    </div>
<% end %>
