<%= dialog_pane decorator.dialog_pane_spec(:site) do %>
  <div class='item-enclosure'>
    <% if decorator.object.is_a? PageRef %>
      <%= render 'page_refs/site_fields', pr_builder: f, for_object: decorator.object  %>
    <% else %>
      <%# Otherwise we must go through the pageref %>
      <%= f.fields_for :page_ref do |pr_builder| %>
        <%= render 'page_refs/site_fields', pr_builder: pr_builder, for_object: decorator.object  %>
      <% end %>
    <% end %>
  </div>
<% end %>