<div class="pic-pickees">
  <% if @image_list.present? %>
      <br><span class="prompt">Click on an image to grab it.</span>
      <%= pic_picker_select_list(@image_list) %>
  <% else %>
      <%= link_to_submit 'Glean Images',
                         polymorphic_path([:glean, @decorator.object]),
                         class: 'trigger hide'
      %>
  <% end %>
</div>
