  <div class="content-item" style="width:100%">
    <% entity = decorator.object %>
    <%= recipe_content_buttons entity if entity || entity.is_a?(PageRef) %>
    <% if card_content = present(entity).html_content(@html_state) %>
      <div id="rp-html-content">
        <%= card_content.html_safe %>
      </div>
    <% end %>
  </div>
  <%= link_to_submit( 'Refresh',
                         polymorphic_path(entity), # gleaning_path(decorator.gleaning),
                         class: 'trigger hide') if entity.is_a?(Backgroundable) && entity.dj && entity.virgin? %>
