  <div class="content-item" style="width:100%">
    <% if decorator.object.is_a?(Recipe) %>
      <% if policy(decorator.object).update? %>
        <%= recipe_page_button decorator.object %>
        <%= button_to_submit '',
                             edit_recipe_contents_path(decorator.object),
                             'glyph-edit-red',
                             'xl',
                             mode: :modal,
                             class: 'annotate-content',
                             title: 'Annotate Content' %>
        <%# collectible_edit_button decorator.object %>
      <% end %>
      <div id="rp-html-content">
        <%= present(decorator.object).card_content&.html_safe %>
      </div>
    <% end %>
  </div>
  <%= link_to_submit( 'Refresh',
                         polymorphic_path(decorator.object), # gleaning_path(decorator.gleaning),
                         class: 'trigger hide') if decorator.object.is_a?(Backgroundable) && decorator.object.dj && decorator.object.virgin? %>
