<div class="masonry-item-contents grid-item  <%= defined?(results_type) && results_type.extensions_to_classes %> <%= decorator.dom_id %>">
  <%= safe_image_div decorator, true, class: "pic_box" %>
  <div class="datablock">
    <p class="title">
      <%= collectible_tablink decorator %>
    </p>
  </div>
</div>
