<div class="comment">
  <div class="avatar">
    <%= page_width_pic rcpref.user.imgdata(true) %>
    <%= link_to_submit rcpref.user.polite_name, rcpref.user, :mode => :partial %>
  </div>
  <div class="content">
     <%= rcpref.comment %>
  </div>
</div>
