<div class="masonry-item-contents grid-item  <%= @filtered_presenter.entity_type.extensions_to_classes %> <%= decorator.dom_id %>">
  <% if true %>
      <%= safe_image_div decorator, true, class: "pic_box" %>
      <div class="datablock">
        <p class="title">
          <%= collectible_tablink decorator %>
        </p>
      </div>
<!--
      <div class="rcp_grid_element_footer">
        <div class="rcp_grid_element_icons">
          <%# collectible_info_icon decorator %>
        </div>
        <div class="rcp_grid_element_buttons">
          <%# collectible_buttons_panel decorator, button_size: "xs" %>
        </div>
      </div>
-->
  <% else %>
      <%# render "recipes/show_cardlet", decorator: decorator, pic_mode: "fixed-width", card_type: 'masonry' %>
  <% end %>
</div>
