<div class="container-fluid card-item comments-card <%= decorator.object.class.to_s %> <%= decorator.dom_id %>">
  <div class="row title-bar">
    COMMENTS
  </div>
  <div class="row contents">
    <%= show_comments decorator %>
  </div>
</div>
