<div class="row" onload="RP.hide_all_empty();">
  <%= presenter.picdiv %>
  <div class="<%= presenter.divclass %>">
    <div class="resource-element info">
      <% presenter.title %>
      <% presenter.description %>
      <%= render "collectible/show_panel", presenter: presenter %>
    </div>
  </div>
</div>
