  <div class="content-item" style="width:100%">
    <%= recipe_content_buttons decorator.object %>
    <% if card_content = present(decorator.object).html_content(@html_state) %>
      <div id="rp-html-content">
        <%= card_content.html_safe %>
      </div>
    <% end %>
  </div>
  <%= link_to_submit( 'Refresh',
                         polymorphic_path(decorator.object), # gleaning_path(decorator.gleaning),
                         class: 'trigger hide') if decorator.object.is_a?(Backgroundable) && decorator.object.dj && decorator.object.virgin? %>
