<div class="slider-pic">
  <%= safe_image_div decorator, :site, class: "pic-box", fill_mode: "fixed-height" %>
</div>
<p class="slider-title">
  <%= decorator.title %>
</p>
<%# render_item decorator, :cardlet %>
